[2020-05-04 12:55] euantorano commented on #3939
In that case @yuliu, we'd probably use twig blocks: https://twig.symfony.com/doc/2.x/tags/extends.html - we'd have a block in the layout template, then individual templates extending the layout can overwrite or add to the block.

Re: theme authors to add global variables, new globals can easily be registered from PHP code with `MyBB\app('view')->addGlobal('foo', 'bar')` (or something like that). A

[2020-05-04 17:11] Eldenroot commented on #3972
@yuliu - good catch!

[2020-05-04 20:59] Ben-MyBB commented on #3551
@euantorano can this one be closed with #3750

[2020-05-04 21:12] euantorano commented on #3551
Yeah, closed.

[2020-05-04 21:12] #3551 closed

[2020-05-05 07:19] #3967 closed

[2020-05-05 07:24] euantorano commented on #3712
I'd prefer to see 2 separate PRs for this and #3620 if possible, as it makes it easier to track through the git log.

[2020-05-05 19:31] #3796 closed

[2020-05-06 14:17] dvz opened #3981 "Update jQuery to 3.5.1"
Update jQuery from 3.3.1 to [3.5.1](https://blog.jquery.com/2020/05/04/jquery-3-5-1-released-fixing-a-regression/).

[2020-05-06 14:19] tinuva commented on #3618
Any update on this?

[2020-05-06 15:02] JordanMussi commented on #3618
I think this is possibly duplicated by #3886 and #3926 has been proposed to fix it.

[2020-05-06 15:16] lairdshaw commented on #3618
I think it's actually a unique issue, @JordanMussi. I came across it (at least, I think it's the same issue) independently not long ago. The issue as I understand it arises in the conditional on [line 748](https://github.com/mybb/mybb/blob/842d558cfe3e963ffafc2bc9e6b0c27d5bf62ed1/inc/functions_upload.php#L748) of inc/functions_upload.php. I have seen fit to replace that line with this code:

		//

[2020-05-06 19:36] chack1172 opened #3982 "Add hooks for multipage"
We should add hooks where we use the multipage function.
Adding these hooks allows to edit the page link including extra query parameters.

[2020-05-07 16:05] #3224 closed

[2020-05-07 16:35] yuliu opened #3984 "SMTP return code upon message sending completion should be checked"
Community thread: https://community.mybb.com/thread-224905-post-1349025.html#pid1349025

Relevant code that will trigger errors:
https://github.com/mybb/mybb/blob/4c5451a241fabdfd22eff085a9336e3373deb64d/sendthread.php#L215
`./sendthread.php` - send thread to a friend:
`$from`: `$mybb->input['fromemail']` from `$mybb->user['email']` for logged in user
`$return_email`: `$mybb->input['fromemail']` f

[2020-05-07 16:55] yuliu commented on #3984
Oh by the way, the underlying reason that prevents mail's delivering is MyBB's wildly setting `from:` (and `return-path:`).

Ah just find it a duplicate of #2644. Should we fix it? @euantorano

According to https://en.wikipedia.org/wiki/Simple_Mail_Transfer_Protocol#SMTP_transport_example , a final 250 upon message acceptance should be issued from server and we should check.

[2020-05-08 06:45] euantorano commented on #3984
Yeah, I think it’s worth fixing if the fix is simple.

[2020-05-08 12:19] JordanMussi commented on #2884
I think this can be closed as it was duplicated by #3938 which has been fixed.

[2020-05-08 12:33] #2884 closed

[2020-05-08 14:34] lairdshaw commented on #3618
Here's a little refactoring that seems to fix this issue.

[2020-05-10 10:47] Ben-MyBB commented on #2086
Looks like @JN-Jones started a PR for this issue but wasn't created, https://github.com/JN-Jones/mybb/commit/0f3766c0398866ed1f40e4360ac837836699c11e

[2020-05-10 11:08] Ben-MyBB commented on #2866
PR wasn't linked to this issue but I can't replicate this after #3204

[2020-05-10 11:08] #2866 closed

[2020-05-10 11:10] Ben-MyBB commented on #3792
https://github.com/mybb/mybb/issues/2537 should be taken in to account if we're looking at the report system overall.

[2020-05-10 13:15] Ben-MyBB commented on #3433
Related: #3894 for which a PR has been opened for a fix so closing this.

[2020-05-10 13:15] #3433 closed

[2020-05-10 13:47] #3975 closed

[2020-05-10 13:59] #3894 closed

[2020-05-10 14:14] #3852 closed

[2020-05-10 14:17] Eldenroot opened #3987 "Thread starter date in forumdisplay_thread"
MyBB lacks a feature to display a starter date (thread creation time) without a core modification. We should add this int to the core with relative time support :)

[2020-05-10 14:18] #3987 closed

[2020-05-10 14:26] #3984 closed

[2020-05-10 15:30] Eldenroot commented on #3982
@chack1172 can you send a PR? Good idea!

[2020-05-10 15:42] chack1172 commented on #3982
I was going to work on it today.

[2020-05-10 15:51] euantorano opened #3988 "Add APCu cache handler"
We currently have an APC cache handler, but APC [is deprecated](https://www.php.net/manual/en/intro.apc.php):

We should add a cache handler for [`APCu`](https://www.php.net/manual/en/intro.apcu.php).

[2020-05-10 17:49] n-thumann opened #3990 "Invisible Captcha is broken sendthread"
When using "Send Thread to a Friend" (`sendthread.php`), the invisible Captcha (e.g. reCaptcha) cannot be bound to the submit button.
Basically the same issue & fix as https://github.com/mybb/mybb/issues/3915.

[2020-05-11 15:41] yuliu commented on #3955
I have a thought of not updating this data field for existing boards where this field is empty, but triggering an error at AdminCP to notify admins about updating its value. Though I'm not sure if this is applicable.

Yeah the mailing currently uses many addresses as `from:` and several fallback options, but it doesn't matter whether or not and how we implement the adminemail's empty check.

[2020-05-12 00:13] Sama34 commented on #2086
At this point I think MyBB Engine should be simply `0` and `-1` for deleted users.

[2020-05-12 00:21] Sama34 commented on #3955
I think it should be like that. It can be as simple as ignoring the setting (not being saved) and append a message to the flash message as we currently do for the login methods setting.

[2020-05-12 18:30] yuliu commented on #3630
Don't know if this is an issue related to v3: https://community.mybb.com/thread-227752.html .

OP in the thread said:

Hi there,

I'm getting reports that users are receiving the error "Please solve the reCAPTCHA to verify that you're not a robot." when trying to reset their passwords after I upgraded the CAPTCHA system to Google's new Invisible reCAPTCHA. The registration page works fine.

I sear

[2020-05-12 18:31] Eldenroot commented on #3630
There are PRs for this issue with password reset, not?

[2020-05-13 05:12] yuliu opened #3995 "Only parent forum's mod/modcp permissions are used in ModCP"
It means that individual settings of mod/modcp permissions of the user or user group won't work for child forums in ModCP, if the child forums exist and child's permissions are different from the parent's.

[2020-05-13 07:22] yuliu opened #3996 "Issues on moderator permissions"
This is an ongoing investigation report. More details will be added.
**Verification/Feedback/Help is needed.**

### For a user's mod permissions in a specific forum, does the user's individual permission setting have high priority than the user's group's individual permission setting?

In [`get_moderator_permissions()`](https://github.com/mybb/mybb/blob/mybb_1822/inc/functions.php#L1621-L1720), I

[2020-05-13 09:34] yuliu commented on #3972
Looks like that's it. The log only fetches records for currently available contents, i.e., threads. If a thread is permanently deleted, all operation records as well as the _permanent deletion_ will be excluded.

Should we back again include all existing records, even if relevant threads (maybe posts) have already been permanently deleted, with an indicating text "Thread: _Thread deleted permanent

[2020-05-13 10:43] yuliu commented on #3995
Currently, if a user has an individual mod permission in one forum and he will get such permission in all child forums of this one, regardless of what such permission settings in child forums are.

Suppose there are forums A, B, and C, where A is the parent of B and B is the parent of C. And let's take `canviewmodlog` for example, the explicit permission setting for `canviewmodlog` for a user in f

[2020-05-13 11:00] yuliu commented on #3995
Regarding the above example, I have a question about permissions with no explicit setting in child forums, i.e., by inheritance.

Still using that example, if we have set one permission for a user in forum A to _yes_, and in forum B to _no_, and haven't explicitly added this user to forum C's moderator list, then what should such permission for this user in forum C be?

[2020-05-13 12:52] Sama34 commented on #3972
It sure would be better that it currently is, as content shouldn't just be hidden like that.

If anything, these logs should have been removed upon content (post, user, reports, etc) deletion. @euantorano What do you think?

[2020-05-13 12:59] yuliu commented on #3972
Actually, I don't like the idea since it breaks logging's origin. Secondly, deleting those entries may not be feasible due to possibly complex rules for what types of records should be removed.

[2020-05-13 14:57] yuliu commented on #3995
I find that using `is_moderator()` or further the primitive one `get_moderator_permissions()` would return correct results, except that mod usergroup's permission is overriding individual user's one specific in #3996.

However, the performance and query accuracy vary between using `is_moderator()` and `get_moderator_permissions()`for supermods and mods:

Results:
|                  |   `is_moderat

[2020-05-13 21:45] lairdshaw commented on #3996
Tune in next week for more shocking revelations of abuses of forum rights, as our reporter goes deep undercover into the colourful - and often dangerous - world of MyBB development.

[2020-05-13 21:47] lairdshaw commented on #3996
More seriously: at least some (and even all?) of the concerns/questions you raise do seem to be valid, at least at first sight.

[2020-05-13 22:20] Sama34 commented on #3972
I agree, I'm just saying that hiding them makes no sense either.

[2020-05-14 11:55] yuliu commented on #3996
Original issue updated. If we don't criticize the design of permission settings, the report itself seems whole on calculating moderating permissions.

I think I could get a PR about fixing most of the issues, since they're simple, except the multiple groups one. I don't have a clear and solid idea about how to do with it.

[2020-05-15 03:38] yuliu commented on #3630
Seems related to v3. There's [another report in Discord](https://discordapp.com/channels/215876847634743296/215877079911104522/710633336766332929) and the user seems to be using the latest v3.

I haven't used reCaptcha/noCaptcha. Is there any problem with them (should be v2/v1?)?

[2020-05-15 15:05] #3936 closed

[2020-05-16 10:03] Ben-MyBB opened #3997 "None-translated language using in AdminCP"
admin/modules/user/admin_permissions.php:
https://github.com/mybb/mybb/blob/mybb_1...s.php#L356

According to
confirm_perms_deletion2 =&gt; Are you sure you wish to revoke this user\'s permissions?
it looks like that another phrase should be added:
confirm_perms_deletion1 =&gt; Are you sure you wish to revoke this group\'s permissions?

Original thread: [None-translated language using in AdminCP](

[2020-05-16 18:26] Eldenroot commented on #3630
@PaulBender - please can you check the latest report from @yuliu 2 posts aboveM THX!

[2020-05-16 20:31] Ben-MyBB commented on #3836
@Eldenroot can you check if #3942 also resolved this issue?

[2020-05-16 23:00] tr1xy opened #3999 "[BUG] Duplications"
I'm using latest version (git) and everything in ACP is duplicated, also I noticed this in my php settings:
[code]

[2020-05-16 23:12] tr1xy commented on #3999
Actually, I went back to enter some data again while installing, that's probably wher I F* it up, sorry

[2020-05-17 06:02] #3999 closed

[2020-05-17 06:12] Sama34 commented on #3995
Permissions should be inherit from the direct parent. Is that what you are asking?

Does this affects only the MCP?

Sounds like a good approach, why did you stroke it out?

[2020-05-17 06:22] Sama34 commented on #3996
As it is sorting by username I suppose it is because it is used for building some HTML select element somewhere.

I suppose in general specific user permissions should overwrite general group permissions.

[2020-05-17 12:28] yuliu commented on #3996
I don't quite understand what the sorting is for. But please read on. `$this->moderators[$fid]` should be an array:
[code]
By `uasort($this->moderators[$fid], 'sort_moderators_by_usernames');`, it's sorting the two arrays (of keys `'users'` and `'usergroups'`) by nonexistent key [`'username'`](https://github.com/mybb/mybb/blob/mybb_1822/inc/class_datacache.php#L754). Maybe I'm wrong about using `u

[2020-05-17 12:42] yuliu commented on #3995
Yeah, they are. Sorry I didn't make my though clear. It should be about some other permission systems we've discussed in Discord.

Since there's no clear instructions/rules, users may have some idea that they can set up a permission setting in a parent forum and let all its child forums follow this setting but for only one child forum (also has child forums) has some special settings. So they will

[2020-05-18 03:05] Sama34 commented on #3995
Oh, so it should be fixed by the _Never_ or _Always_ permission scheme that has been discussed. Better documentation on permissions should also help.

[2020-05-18 15:51] GasmoN commented on #3398
Any news about this?

[2020-05-18 16:14] euantorano commented on #3398
Nothing at the moment. At this point it's probably too late for 1.8.23, but I'll assign this to 1.8.24 to have a look at.

[2020-05-19 18:08] GasmoN commented on #3398
That would be awesome. I noticed that people are always marking my whole forum as read, they don't even browse new posts that much because of that so all my important news need to be published in live chat.

[2020-05-20 08:32] #3966 closed

[2020-05-20 08:33] #3997 closed

[2020-05-20 08:34] #3982 closed

[2020-05-20 17:24] Eldenroot commented on #3990
@n-thumann please can you check this one? https://github.com/mybb/mybb/issues/3630#issuecomment-627516472 - maybe same issue with reset password page :(

[2020-05-20 17:25] Eldenroot commented on #3873
@lairdshaw what do you think, you have done a lot of work with attachments lately :)

[2020-05-20 17:31] Eldenroot commented on #3866
@Ben-MyBB - I am not sure if I understand correctly to the description of this bug but if yes this was fixed by me here, not? https://github.com/mybb/mybb/pull/3621

[2020-05-20 17:35] Eldenroot commented on #3865
There is no more a possibility to check online status for Skype users... so it should be removed, please can you open a PR @PaulBender or anybody else? Thx!

[2020-05-20 17:37] Eldenroot commented on #3791
I agree, I removed the thread more selector in all my themes. But it is a legacy feature so maybe it worth to change it for 1.8.x at least.

[2020-05-20 17:43] effone commented on #3866
This is not at all an issue. As I have said in case of `memberlist.php`
https://community.mybb.com/thread-221231-post-1321045.html#pid1321045

User can easily achieve it adding single plugin option through template.

[2020-05-20 18:17] effone commented on #3791
I didn't mean to remove it, but to simplify it, when there are only 2 options with one in place we can just ask for the other, like thread subscribe / unsubscribe...

[2020-05-20 18:30] effone commented on #3866
Note, the second issue mentioned above still requires attention apart from the submitted PR.

[2020-05-20 18:33] Eldenroot commented on #3866
Yes, my PR will fix only the first point which is fair simple.

[2020-05-20 20:00] #3988 closed

[2020-05-20 20:01] #3866 closed

[2020-05-21 01:53] lairdshaw commented on #3873
@Eldenroot Agreed that this button is useful, as explained by doylecc in the original thread (post #3). Also agreed that it should not be visible when there are no longer any attachments. It should be pretty simple to remove/hide it in Javascript if/when "Remove" is clicked (and confirmed) for the last attachment.

[2020-05-21 14:12] #3924 closed

[2020-05-22 05:36] yuliu opened #4004 "Extend #3438: improvement and bugfixes for searching translated settings in ACP"
The original issue was #3430, and the PR trying to resolved it was #3438. However it doesn't work well with:
- Some particular encodings.
- Search string at a variable's beginning.
- Setting name (key).

[2020-05-22 09:38] #3865 closed

[2020-05-22 16:27] Ben-MyBB opened #4005 "PM Compose Message - Select from Buddies, Checkbox"
Low-grade and non-critical issue on Private Messages when selecting buddies in modal popup.

PM &gt; Compose Message &gt;

1. "Select from Buddies" &gt; Popup
Select a member via checkbox. This member is displayed under Selected recipients -&gt; OK, Popup closed.
This member is listed in the input field for recipients.

1.1. Do another "Select from Buddies" -&gt; Popup
The previous selected member

[2020-05-22 16:28] Ben-MyBB commented on #4005
I initally thought that I couldn't replicate this but for point 1.1 you should try and remove the member you just added by unticking the box, it doesn't let you. Then if you tick the box again it inserts a empty username box into the recipients field.

[2020-05-23 11:32] Ben-MyBB commented on #3971
@euantorano do you want this added in to 1.8?

[2020-05-23 11:42] Ben-MyBB commented on #3447
I have tried to replicate this and also no luck as mentioned above so going to go ahead and close this.

[2020-05-23 11:42] #3447 closed

[2020-05-23 11:45] Ben-MyBB commented on #3398
Shouldn't the setting "Attempt to Mark Parent Forums as Read" under "Forum Display Options" cover this? @euantorano

[2020-05-23 20:05] #3990 closed

[2020-05-23 21:05] dvz commented on #3955
IMO we should avoid unexpected changes (like using an account address #3993) or requiring input during upgrades.

Looks like the technical inconsistencies and unclear setting labels mentioned in https://community.mybb.com/thread-224905.html should be addressed first, potentially including setting verification; with an accompanying Docs article, we can refer users with mailing problems to it.

[2020-05-23 21:30] euantorano commented on #3971
Yeah, but not 1.8.23.

[2020-05-23 21:52] euantorano commented on #3398
Yeah, it might but I need to test. I'd completely forgotten about that setting to be honest!

[2020-05-24 09:41] yuliu commented on #3972
Add a related bug here:

- Modlogs in ModCP homepage shows nearly all records.

[2020-05-24 10:31] yuliu opened #4009 "Wrong paramter passed to forum password check in report module"
Before #3904, there might be some quirks about forum password check. Since we've fixed loose comparison for forum passwords, reporting posts starts to malfunction in `report.php`.

Here at https://github.com/mybb/mybb/blob/mybb_1822/report.php#L82 , a comma separated forum id list will be passed to `check_forum_password()` for sub-forums.

[2020-05-24 12:21] #4009 closed

[2020-05-24 14:59] Ben-MyBB commented on #2375
@effone will this be resolved with #3790 ? Destroy submitted a PR #2380 which is close to completion.

[2020-05-26 12:19] Ben-MyBB commented on #3971
Thanks, I'll give this one a look when I've got my others finished.

[2020-05-26 15:30] #4004 closed

[2020-05-26 18:04] Ben-MyBB commented on #3781
Looks like this is fixed already in #3816

[2020-05-26 18:57] Ben-MyBB commented on #3753
Seems there is a feature to limit new custom profile fields so this will only apply to the default ones. I plan on taking a look at this.

[2020-05-26 18:58] Eldenroot commented on #3753
@Ben-MyBB you are on fire 🔥 👍

[2020-05-26 19:10] #3781 closed

[2020-05-26 22:11] Ben-MyBB commented on #3771
@Javierj12 if you still require this I have created an inital PR which I hope to have finished this week.

[2020-05-27 13:33] #3981 closed

[2020-05-27 17:07] yuliu opened #4013 "Redirection to a post may be unviewable by current user after the user deleted a post"
After successfully deleting a post of a thread by a user, the user will be redirected to a post whose post time is earlier than that of the deleted one in the thread. But the query fetching this very post doesn't take the post visibility to current user into account:

https://github.com/mybb/mybb/blob/mybb_1822/editpost.php#L352
[code]

If current user is redirected to an unviewable post, a flash

[2020-05-27 17:14] Ben-MyBB commented on #4013
There's a few issues that are very similar to this:

#3617
#3559

possibly others

[2020-05-28 12:52] #3753 closed

[2020-05-28 12:55] euantorano opened #4015 "User CP input validation - move to datahandler"
The user CP `do_profile` action has some validation done in` usercp.php` that then uses `error()`. This validation should be moved to the user data handler:

- [ ] [Away return date](https://github.com/mybb/mybb/blob/feature/usercp.php#L184)
- [ ] [ICQ number](https://github.com/mybb/mybb/blob/feature/usercp.php#L249)
- [ ] [Skype/Google hangouts details](https://github.com/mybb/mybb/blob/feature/

[2020-05-28 12:56] Ben-MyBB commented on #4015
I'll take a look at creating a PR for this to go into 1.8.24.

[2020-05-28 13:05] Ben-MyBB commented on #3971
Could we not just add the loading="lazy" attribute into the mycode_img template? @euantorano

Just for ease of reference the content of that template being:
`<img src="{$url}"{$width}{$height} alt="{$alt}"{$css_align} class="mycode_img" />`

[2020-05-28 14:24] Ben-MyBB commented on #2353
Seems this issue relates to two seperate PR's addressing the issues.

#1915
#3147

[2020-05-28 14:24] #2353 closed

[2020-05-28 14:29] euantorano commented on #3971
Yes, it should work I believe.

On Thu, 28 May 2020, at 14:06, Ben wrote:

[2020-05-28 14:44] yuliu commented on #3288
MyBB's https://validator.w3.org/feed/check.cgi?url=https%3A%2F%2Fcommunity.mybb.com%2Fsyndication.php%3Flimit%3D15+

OP's https://validator.w3.org/feed/check.cgi?url=http%3A%2F%2Fthefoundationcollective.ihostfull.com%2Fforum%2Fsyndication.php%3Flimit%3D15

[code]

It seems that the server that the forum is served http://thefoundationcollective.ihostfull.com/forum/ forbids some accesses. That means

[2020-05-28 14:57] effone opened #4018 "Jump Page Input type should be number"
The multipage_jump_page input type should be number.
Currently the input type is text that allows to input anything and upon submitting an invalid / out of range value it resets to first page.

Should be changed to number, because:
- We expect only numeric value as page number
- We can define the acceptable range of input to get auto-validated

![snap](https://i.imgur.com/cgtizSr.png)

[2020-05-28 15:55] effone opened #4020 "Profile > Admin Options > Ban Link Sensitivity"
Moderation options for banning a member in profile gets changed to handle banning after the user is banned, but Administrator options don't.

![snap](https://i.imgur.com/rK0tmR2.png)

[2020-05-28 15:58] Ben-MyBB commented on #4020
If you don’t have a PR ready I can take a look

________________________________
From: Debabrata Trivedi <notifications@github.com>
Sent: Thursday, May 28, 2020 4:55:19 PM
To: mybb/mybb <mybb@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [mybb/mybb] Profile > Admin Options > Ban Link Sensitivity (#4020)

Moderation options for banning a member in profile gets changed

[2020-05-28 16:00] effone commented on #4020
Feel free @Ben-MyBB

[2020-05-28 17:26] euantorano commented on #4018
I believe the original reason for using text was that the theme is XHTML rather than HTML5 and (off the top of my head), the number input type is HTML5. If making this change here, it might be worth using email input types for registration and such too.

On Thu, 28 May 2020, at 15:58, Debabrata Trivedi wrote:

[2020-05-28 18:59] andrewjs18 opened #4021 "Mail's From: in the header will be empty if a from address is designated."
posting this for noyle...

when using the 'send this thread to a friend' function within threads, it doesn't fill out the From: address, like so:

Date: Thu, 28 May 2020 17:49:58 +0000

To: email1@gmail.com

Subject: some thread

From:

Reply-To: email2@gmail.com

Message-ID: &lt;1234@&gt;

Original thread: [Mail's From: in the header will be empty if a from address is designated.](https://communi

[2020-05-28 21:55] effone commented on #4018
I didn''t know we are strict about this.
We already use number input types for ACP, so I thought ...

[2020-05-29 04:39] yuliu commented on #3853
A user has also [reported this issue in Discord](https://discordapp.com/channels/215876847634743296/215877079911104522/715271548079964212).

And it seems that the front-end language system has a fallback option which can be implemented for AdminCP.

[2020-05-29 19:14] Ben-MyBB opened #4023 "Editing help document/section seems doesn't check input"
Seems not a big problem though.

When editing a document without a valid hid= input:
/admin/index.php?module=config-help_documents&amp;action=edit&amp;hid=

or editing a section without a valid sid= input:
/admin/index.php?module=config-help_documents&amp;action=edit&amp;sid=

will show an edit screen without error, whilst in other modules there will normally be shown with an error.

Besides, the

[2020-05-29 19:15] Ben-MyBB opened #4024 "Post handler wrongly counts invalid/unavailable video code"
Example: https://community.mybb.com/thread-224654.html
I've to add some extra character to make an invalid/unavailable video code not a video code, ' in the example post. It's even counting video code in a [code] tag.

Image counting seems correct, which is done after the message is parsed: function verify_image_count().

Source line for video count: function verify_video_count(). It'll be good to

[2020-05-29 19:18] Ben-MyBB opened #4025 "Inserting image in editor with width & height uses incorrect MyCode"
From Discord #18-support:

Quote:@Omnipotent 09/01/2019
Nice, MyBB image buttons are messed up for me because it translates into [img height=* width=*] instead of [img=*x*] so it doesn't get parsed

Note if you switch out of source mode it will fix the syntax but if you post it without switching the mode then it will give an invalid img tag which won't be parsed.

Anyway I am sure someone will ope

[2020-05-29 19:19] Ben-MyBB opened #4026 "Attachments aren't parsed in print preview"
Apparently attachments aren't parsed in print preview (printpreview.php) whereas the post parser works fine.

I don't think this is expected behavior.

Original thread: [Attachments aren't parsed in print preview](https://community.mybb.com/thread-227269.html)

[2020-05-29 19:22] Ben-MyBB opened #4027 "Editor error with quote [1.8.21]"
Hello there

quote any message when quoting editor opens

[/ quote] is happening right next to it when the cursor should be 2 lines down

Need to press enter 2 times

no problem with quick quotes

[attachment=41951]

Original thread: [Editor error with quote [1.8.21]](https://community.mybb.com/thread-223736.html)

[2020-05-29 22:47] #4018 closed

[2020-05-30 15:32] euantorano commented on #4018
@effone Sorry, I might not of been clear. I meant that in the past we might have been strict about it, but I don’t think we should be. In fact, I think we should use semantic elements more, such as `<input type=“email”>` for email inputs, etc.

[2020-05-30 15:37] effone commented on #4018
There are several places to correct, leading by this change. I will make a PR soon.
With that saying, are we gonna adapt other semantic tags like 'header` / `footer` / `main` / `article` / `section` / `nav` etc?

[2020-05-30 15:43] euantorano commented on #4018
I think bigger changes for those types of tags are best for 1.9 - I believe the new theme already uses them?

Input elements have less chance of breaking things though and have a large benefit (eg: built in client side validation). Would be nice to get those in 1.8.24 for sure!

On Sat, 30 May 2020, at 16:37, Debabrata Trivedi wrote:

[2020-05-30 17:36] yuliu opened #4033 "Search fails to throw errors if keywords is met with specific criteria"
For standard search, keywords like `or`, `orand`, `and`, etc.: after `clean_keywords()` on input, the variable holding the keywords is an empty string.

And for fulltext search, keywords whose length is less than `minsearchword`: after `clean_keywords_ft()` on input, the variable holding the keywords is an empty string.

Both `perform_search_mysql()` and `perform_search_mysql_ft()` will neither pr

[2020-05-31 06:56] effone commented on #4033
Worse case:
Searching with keyword like `andro` throws error stating "The minimum search term length is 3 characters."

[2020-05-31 07:33] yuliu commented on #4033
Hmm, didn't think of that.. Then `android` will also match `roid`, and likewise `orb` will probably fail to search and `organization` will match `ganization`.

Following way of removing `or` or `and` from beginning of keywords isn't good:
https://github.com/mybb/mybb/blob/19e30a01d9680ea873c74b619443f57e1ae74a41/inc/functions_search.php#L213-L221

I think it can be fixed by appending a space ` `.

[2020-05-31 12:18] JordanMussi commented on #1543
So it looks like if a plugin has been activated and is recorded in the plugins cache as activated then it will appear in the active plugins table. However when deciding which controls to display if the plugin has an `_is_installed` function that returns false:
https://github.com/mybb/mybb/blob/19e30a01d9680ea873c74b619443f57e1ae74a41/admin/modules/config/plugins.php#L649-L652
then the install and

[2020-05-31 12:35] JordanMussi commented on #2116
So what is the required action here? Add a check to old upgrade files for every field change to ensure one doesn't already exist?

Why are these fields already existing - is it because plugins have already made them? Is that not a problem as the installer then assumes the field has the correct type and value?

Or is the point that the fields should be dropped?

which affects lot of boards still.

[2020-05-31 13:30] effone commented on #4033
That exactly I thought, to append a space after `and` / `or`.
I also was making a rough PR, but the solution doesn't seem full proof to me wrt. the situation.

[2020-05-31 13:55] JordanMussi commented on #2020
This should be reopened as it hasn't been fixed properly.

In #3405 the `referrer` field is updated in the same way as `referrals`. `referrer` holds the uid of the referring user and `referrals` holds the count of users referred.

https://github.com/mybb/mybb/blob/be77219bc70d7a9df2c7c7375d69c682c4aad139/admin/modules/user/users.php#L1979-L1981

Users who were referred by the source user are left

[2020-05-31 14:06] yuliu commented on #4033
I think a PR having following fixes would be enough for this issue:
- Append a space ` ` to `and` and `or` that are used to match and remove themselves from keyword's beginning in `clean_keywords()`.
- Throw errors in `perform_search_mysql()` and `perform_search_mysql_ft()` when keyword is empty.

Other issues about search patterns which requires rework should be addressed in a separated issue and

[2020-05-31 15:09] #3971 closed

[2020-05-31 15:11] #3771 closed

[2020-05-31 15:12] #3836 closed

[2020-05-31 15:46] yuliu commented on #2020
Good catch! I suggest creating a new issue to address the problems.

And thanks for that!

I don't think we should do this. Three reasons:
- We don't need to. (_What kind of reason it is.._)
- Admin logs may not be complete, meaning that we maybe can't find each an every record for fixing historical mistakes since it can be purged (automatically by default).
- The design of the upgrade script does

[2020-05-31 16:30] JordanMussi opened #4036 "Referrals not transferred correctly when merging users"
*Split from https://github.com/mybb/mybb/issues/2020#issuecomment-636474793*

In #3405 the `referrer` field is updated in the same way as `referrals`. `referrer` holds the uid of the referring user and `referrals` holds the count of users referred.

https://github.com/mybb/mybb/blob/be77219bc70d7a9df2c7c7375d69c682c4aad139/admin/modules/user/users.php#L1979-L1981

Users who were referred by the so

[2020-05-31 16:39] JordanMussi commented on #2020
New issue at #4036

I do think an effort should be made to correct any problems from previous merges. Of course in some cases the logs will have been trimmed so not every merge can have the information recovered. It doesn't matter if the upgrade script is run several times as the loose data would have been fixed.

What we can't recover is the original referrer of x or y since the two uids were add

[2020-05-31 17:14] #3288 closed

[2020-05-31 19:43] Ben-MyBB commented on #3509
@JordanMussi 👀

[2020-05-31 19:54] JordanMussi commented on #3509
Hehe I'm already working on it @Ben-MyBB!

This was how I spotted the referrals issue :wink:

[2020-06-01 16:03] euantorano commented on #3853
Yes, would be a good idea to have a fall-back in the ACP. No idea why it doesn't at the moment.

[2020-06-01 16:10] #2011 closed

[2020-06-01 16:27] #3619 closed

[2020-06-01 17:31] #1427 closed

[2020-06-01 19:49] effone opened #4040 "Isolate hard-coded js from member.php"
Isolate hard-coded registration form validator javascript chunks from `member.php` and transfer to a `.js` file.

[2020-06-02 18:29] Ben-MyBB opened #4044 "Attachment code isn't stripped off post previews"
When searching for posts a small preview of its content is displayed to the user within the search.php file but the [attachment=n] code isn't removed.

I think it should be removed.

Original thread: [Attachment code isn't stripped off post previews](https://community.mybb.com/thread-227271.html)

[2020-06-02 18:30] Ben-MyBB opened #4045 "AdminCP style override login css"
AdminCP style override doesn't seem to override login css for custom admin style and displays default admin style login css?

Original thread: [AdminCP style override login css](https://community.mybb.com/thread-216645.html)

[2020-06-05 11:56] JordanMussi opened #4048 "Send thread uses non admin email to send mail"
https://github.com/mybb/mybb/blob/76bd4568a4cbbf35b6b3922b8605e40809d7d6d2/sendthread.php#L201-L215

The user's email shouldn't be used since it is not owned by the forum. The admin email should be used instead with the user's email as the return address (as it currently is).

After a quick search this is the only place where `my_mail` is called with an email address that isn't the `adminemail` se

[2020-06-05 12:15] yuliu commented on #4048
Makes sense. It also makes sense that the email is sent by such user that the email is truly sent by this user and the forum is just sending it.

Or neither makes sense.

I don't think it needs fixing.

Current MyBB's mailing approach doesn't distinguish envelope senders and letter senders so well:
- For PHP mail the envelope sender can be set via additional parameters `-fmy_mail_from@example.com`

[2020-06-05 12:32] JordanMussi commented on #4048
I don't think it is sensible to send from or mark a message as if it was sent from an address you don't own. The mail should be sent from the forum's mail just like every other message. If the intention of this code was to allow the recipient to reply to the sender then the return address does that. I don't see a reason why the from mail header should be set to the user's email. It feels likely th

[2020-06-05 15:46] yuliu commented on #4048
Yeah that's a good argument and I'll explain my thoughts.

Usually mails sent _from_ / _by_ the forum are representing the forum itself. For example, the forum sends mails for account activation, password recovery, email/password change notifications to instruct or notify users with certain information; the forum sends mails for thread/forum subscription and PM notifications to notify users with n

[2020-06-05 16:39] euantorano commented on #4048
Note: some email servers require the From header to have the same email as the actual account and will error out when using a different email.

On Fri, 5 Jun 2020, at 16:46, yuliu wrote:

[2020-06-05 17:29] yuliu commented on #4048
Yeah that's something we can't control and that's why I'd like to make MyBB's mailHandler more _hackable_, i.e., more plugin hooks to alter its behavior.

AFAIK, WordPress itself doesn't handle or force mail's `From:` to be a specific value, it only does what it thinks is right to fill the `From:` header field. And that's why some plugin will have an option like this:
[code]

Above setting is from

[2020-06-06 11:37] JordanMussi commented on #4048
I understand that point but this can simply be solved by doing the sort of hack I've seen some other software use: `From: "a.user@example.com" <forums@example.com>` or `From: "User (a.user@example.com)" <forums@example.com>`

The default settings only allow registered users to use the send thread tool and that forces the email to be the user's email, only when a guest is using the tool does it use

[2020-06-06 12:23] JordanMussi commented on #3853
This is because there are two calls to `set_language` in the Admin CP and each time the fallback has `/admin` appended:
https://github.com/mybb/mybb/blob/76bd4568a4cbbf35b6b3922b8605e40809d7d6d2/inc/class_language.php#L121

Causing the use of the fallback to fail:
https://github.com/mybb/mybb/blob/76bd4568a4cbbf35b6b3922b8605e40809d7d6d2/inc/class_language.php#L149-L152

As it is looking for a `in

[2020-06-06 14:27] #4044 closed

[2020-06-06 15:04] #1803 closed

[2020-06-06 16:24] JordanMussi opened #4054 "`pmfolders` initialisation and inconsistent updates"
*Split from https://github.com/mybb/mybb/pull/4051#pullrequestreview-425739893*

`pmfolders` logic should be done by the userhandler.

[2020-06-06 20:21] Ben-MyBB opened #4055 "When both " and ' are used in a username it does not get parsed correctly in quotes"
Following the PR #4053 and the fix implemented further work will need to be done when a username includes both a " and ' as there is no concept of escaping when both characters are present in the username.

Further work is needed in both the Parser and Editor.

Related:
Issue: #3889
PR fixing #3889: #4053

[2020-06-07 08:23] #3889 closed

[2020-06-07 12:13] Ben-MyBB commented on #3599
If it isn't possible to multi select announcement forums this can either be closed or marked as an Enhancement for 1.10.

[2020-06-07 12:17] Ben-MyBB commented on #2116
@mybb/developers Please see the comment above

[2020-06-07 16:23] JordanMussi commented on #3599
Yeah announcement is either for all forums (fid=0) or a single forum:

https://github.com/mybb/mybb/blob/36e8e7167c693ad0ac78dd05406e4cfa8fe0a9eb/install/resources/mysql_db_tables.php#L65-L67

Enhancement sounds good if it is popular enough :smile:

[2020-06-10 11:38] JordanMussi opened #4057 "Hooks to allow plugins to extend custom moderation tools"
Plugins are currently not able to extend custom moderation tools to provide additional options because of a lack of useful hooks:

There are no hooks in `inc/class_custommoderation.php` whereas there are in `inc/class_moderation.php`.

The hooks that are in `admin/modules/config/mod_tools.php` aren't quite sufficient for adding extra options.

Although a very nasty solution is to use the `admin_fo

[2020-06-10 22:01] andrewjs18 opened #4060 "contact.php page redirection"
when a user submits the contact form, rather than redirecting back to the contact form again, it should redirect them back to the forum index OR their last location prior to going to the contact page.

small UX improvement, I think..

[2020-06-10 22:30] andrewjs18 opened #4061 "installer: admin user contact email doesn't check it's a valid email address"
when running through the installer, it does not check that the email address entered for the admin user is a valid email address; however, it does require that there's at least something in there or it'll error out, like so:

![2020-06-10 18_16_18](https://user-images.githubusercontent.com/2748980/84325265-5dec8c80-ab48-11ea-9221-5dc5a79df1f8.png)

we should probably require that the email address

[2020-06-10 22:59] Ben-MyBB commented on #3327
I'm working on this and should have a PR incoming in a few days.

[2020-06-11 01:41] Sama34 commented on #2116
I think the issue might be that the upgrade script didn't run property (a possible cause) while what brought the issue at hand seems to have been caused by a plugin.

But if I understand correctly, the outcome was to simple check that new fields (by addition or renaming) shouldn't be dropped if they already exists.

In this discussion anything lower than 1.4 seems to have been disregarded. This wa

[2020-06-11 01:56] Sama34 opened #4062 "New hook at forum insertion."
https://github.com/mybb/mybb/issues/2919#issuecomment-642248440

A new hook, `admin_forum_management_add_start`, should be added at forum insertion.

[2020-06-11 14:55] Ben-MyBB commented on #3470
I have been trying to test this and if you set 0 for warning points value in the ACP then you are thrown an error as invalid value. @Eldenroot ?

[2020-06-11 15:17] JordanMussi commented on #3470
@Ben-MyBB just checked and it is possible to edit a warning type to set it to 0. The `<= 0` condition was only added for create in #773.

So that needs to be fixed. Not sure about this log display issue since points of 0 should not have been allowed 🤔

[2020-06-11 15:23] Ben-MyBB commented on #3470
IMHO we should just set the validation on the edit field. I don’t think a large amount of users have done this since there has been no support threads etc except this one, IIRC.

[2020-06-11 16:54] JordanMussi commented on #3470
Done a PR with both for you @Ben-MyBB #4064

[2020-06-11 16:56] Eldenroot commented on #3470
Great! Now we just need a spare @euantorano to merge all these PRs :)

[2020-06-11 16:58] Ben-MyBB commented on #3470
Most of these will be going in to 1.8.24. There's a few outstanding PR's for 1.8.23 that we are looking to include.

[2020-06-11 16:59] Eldenroot commented on #3470
I understand, we need to merge PRs related to attachments from Laird... at least to 1.8.23

[2020-06-11 17:59] euantorano commented on #3470
Yes, that is the one I’m currently testing and hoping to merge today, along with reCAPTCHA v3.

On Thu, 11 Jun 2020, at 17:59, Eldenroot wrote:

[2020-06-12 06:10] yuliu commented on #3470
The logs will say some _random_ values for a warning type that has a `0` warning point just because `$points` might be from previous returned data row.

https://github.com/mybb/mybb/blob/9feef312dc22abef36dcc1ddb1a703e66d9c2fe1/admin/modules/tools/warninglog.php#L432

I personally would use a warning type with `0` warning point. Anyway, enforcing the warning point to be greater than 0 is OK.

[2020-06-12 15:35] JordanMussi commented on #3470
The decision to enforce > 0 was already made previously. The PR just ensures it is properly enforced. Do we think we should reverse it and allow 0 point warnings?

[2020-06-12 16:49] yuliu commented on #3470
We don't need to reverse it if there's no such demand.

I was just thinking it might be useful in some circumstances for forum admins to give a user some warning without really adding warning points.

If that's the case, it'll be good to get fixed in the PR.

[2020-06-12 19:25] JordanMussi commented on #3470
I think it is designed to disappear when the user hasn't got any non expired warnings (current warning level = 0). But there's an argument that the latest warnings should be shown if there are any even if they've expired

https://github.com/mybb/mybb/blob/36e8e7167c693ad0ac78dd05406e4cfa8fe0a9eb/usercp.php#L4088-L4107

We'd need a different way to tell if there are "recent" warnings than just usin

[2020-06-12 19:34] Ben-MyBB commented on #3540
It seems that the reply button in the postbit is still shown for guests, although the quick reply form no longer shows. @effone I can create a PR for that if needed?

Also just noticed that the thread rating is also shown, again guests don't have permission to use that.

[2020-06-12 19:44] JordanMussi commented on #3540
The thread rating should stay because otherwise the guests won't be able to see the rating! Just needs to be non clickable (forumdisplay as well as showthread)

[2020-06-12 21:02] Ben-MyBB commented on #3540
Very good point. Non clickable sounds like a good idea, I believe we are due to remove thread ratings in 1.9(?) so not sure if it’s even worth fixing something so small but I will make a PR for the reply button tomorrow.

________________________________
From: Jordan Mussi <notifications@github.com>
Sent: Friday, June 12, 2020 8:44:57 PM
To: mybb/mybb <mybb@noreply.github.com>
Cc: Ben <benconway72

[2020-06-12 21:07] Ben-MyBB opened #4068 "New Reply button in post bit shown to guests"
The new reply button is always shown to guests regardless of the guests permissions.

[2020-06-12 22:32] effone commented on #3540
There are many such cases still present. Like:
![snap](https://i.imgur.com/gVc9NwA.jpg)
There is no utility of Select all checkbox, thread filter controls and tcat description tabs when there is no thread. Applicable for PM folders as well. In fact this is spreaded over throughout MyBB.
I generally hide this with CSS override in my themes as following but this should be handled using separate temp

[2020-06-12 22:38] justinsoltesz commented on #3540
Hiding the thread filter controls when there are no results would be counterintuitive: the thread filters can result in no results being shown. By hiding the controls when there are no results, you now have no way to go back.

I’ll add that I do not think it is worth going through and adding a bunch of new templates for these sorts of things when they can easily be corrected in 1.9 with a simple t

[2020-06-13 07:11] Sama34 commented on #3540
I understand the user experience can be improved by making such small adjustments. However, I also think it is not worth to do so for 1.8 anymore.

[2020-06-13 11:05] Ben-MyBB commented on #4068
Added in to #3540 since we're not fixing this at the minute.

[2020-06-13 11:05] #4068 closed

[2020-06-13 13:22] Eldenroot commented on #3540
My opinion - merge this as it is and more changes add into 1.9

[2020-06-14 18:13] #4036 closed

[2020-06-14 18:14] #2962 closed

[2020-06-14 18:16] #4021 closed

[2020-06-14 19:04] #3851 closed

[2020-06-14 19:42] euantorano opened #4069 "managegroup.php do_manageusers = no_users_selected only shown if remove user is not an array"
no_users_selected was only being shown if removeuser was not an array.
If it was an empty array the error would not be shown and MyBB would continue as if nothing were wrong.

[2020-06-14 19:44] euantorano commented on #4069
Resolved by #3893

[2020-06-14 19:44] #4069 closed

[2020-06-14 21:26] #3618 closed

[2020-06-14 21:39] #3675 closed

[2020-06-14 21:39] #3886 closed

[2020-06-14 22:09] Ben-MyBB opened #4070 "CAPTCHA code improvements"
Not exactly related to this PR, but I think we should introduce some constants/static variables to define these captcha types rather than having these types of checks scattered throughout the codebase.

_Originally posted by @euantorano in https://github.com/mybb/mybb/pull/4003#discussion_r439869586_

<hr>

Not related to this PR as such, but this is one wild `if` branch. Would be a good idea to t

[2020-06-15 13:32] Ben-MyBB commented on #2123
@mybb/developers any further thoughts?

[2020-06-15 18:55] #4040 closed

[2020-06-15 18:57] JordanMussi commented on #4040
May possibly want to include in release notes that the template is updated since JS validation would not be included if the template is outdated. Not a huge issue as it shouldn't prevent registration, just that users will need to submit to get feedback.

[2020-06-16 13:24] Ben-MyBB opened #4073 "Filter in URLs (bug/request)"
Hey,

thanks for fixing my last report lightning fast.

But now we ran into the following problem: The bad word filter system also works for URLs.

Now I'm not sure if to call that a bug or intentional. But since any additional letter lets the filter ignore the bad word, could an underscore, hyphen or slash please have the same functionality? Or make it being ignored in links altogether. That coul

[2020-06-16 13:30] Ben-MyBB commented on #2537
I'm not sure the benefit in allowing users to report the same post twice? IMO it should just be a report allowed once per post until it has been marked as read.

[2020-06-16 13:40] Ben-MyBB commented on #3813
@effone Given your post on the thread linked above, are you happy to say this isn't actually an issue? There wouldn't be a IP in the format provided in the bug report thread?

[2020-06-16 13:40] Ben-MyBB opened #4074 "Nested lists not working properly"
Hello,

When composing a post containing nested lists, an extra &lt;ul&gt; is added on each switching between text editor and SCEditor.

For example this code :
To Do:
[list]
[*]Fix the boiler
[*]Buy:
[list]
[*]Eggs
[*]Milk
[/list][*]Call mother
[/list]
is rendered as :
To Do:Fix the boiler

Buy:
Eggs

Milk

Call mother

As you can see, an extra line is added before "Eggs", and every switching bet

[2020-06-16 15:00] Ben-MyBB opened #4075 "Arabic Language Issue"
The dot(.) is on the right when I type in Arabic. Normally must be on the left side. Even in this forum I have this error.

You can try , write to Google Translate "Hello." and copy arabic text here. You can see.

Briefly textes in arabic start from right not left. You can see that the full stop at the end of one sentence returns to right.

2. When writing an arabic paragraph containing latin lett

[2020-06-16 15:36] effone commented on #3813
This should be fixed to work for all valid IP patterns.

I don't know what happened after my PR and what issue still remain as @dvz didn't mention anything while re-opening this PR.
I found some weird activity while fixing this as regex was not capturing certain inputs in parser, though the match was perfect. Don't know remaining issue is related to that or not.

[2020-06-16 16:01] effone commented on #4074
My comment from main thread:

Catching `poop` in a greedy match will consider words like `nincompoop` as well; which is not a bad word. Suggested add all the expected variants of the bad words to the bad word list as well, as we don't have an exception list or dictionary loaded in parser.

[2020-06-16 16:02] effone commented on #4073
My comment from main thread:

Catching `poop` in a greedy match will consider words like `nincompoop` as well; which is not a bad word. Suggested add all the expected variants of the bad words to the bad word list as well, as we don't have an exception list or dictionary loaded in parser.

[2020-06-16 17:20] JordanMussi commented on #2537
Having a quick look at the thread the problem is that when selecting a report reason a post can be reported multiple times but when not using reasons the counter is incremented.

Seems to be a suggested fix as well: https://community.mybb.com/thread-173227-post-1186884.html#pid1186884

[2020-06-16 17:46] JordanMussi commented on #2962
I've just come across an annoying problem with this, for example if `lock` exists for example or any of the other early messages the user hasn't been authenticated yet.

https://github.com/mybb/mybb/blob/1326eea040ef2637ac58c92512f9b6f7dd7696bb/inc/init.php#L107-L110

![image](https://user-images.githubusercontent.com/2552068/84809028-70137280-b001-11ea-81e1-138010c0f112.png)

So you are faced wit

[2020-06-16 20:20] Ben-MyBB commented on #1373
I will give this a shot, it should be relatively straight forward after adding the permissions check in before the fields get displayed on the post bit & profile.

[2020-06-17 06:14] yuliu commented on #4015
Hmm, just found out that these input fields also exist in ModCP but don't have validations. So #4014 isn't enough, and moving the validations to user handler should benefit both UserCP and ModCP.

[2020-06-17 14:04] dvz opened #4076 "Remove anti-CSRF token from PMs and e-mails"
Adjust subscription management links and forms to allow links with no post code attached (that may become invalid as a result of #3376).

Previous discussion: https://github.com/mybb/mybb/pull/4022#issuecomment-644268664

[2020-06-17 18:31] Ben-MyBB opened #4078 "Paste image into SCEditor gives data-uri instead of URL for [img] BBcode"
I haven't upgraded my forum to 1.8.21 yet, thought it would be better to try &amp; test things in community forum to see if anything is wrong. Well..

Description: When you paste an image directly to editor, it creates huge URL (like 800k characters.) Forum can't show the image and trying to edit the message with 800k characters gives you "1406 - Data too long for column 'originaltext' at row 1" M

[2020-06-17 18:32] Ben-MyBB commented on #4078
Team members can view an example posted - https://community.mybb.com/thread-228216.html

[2020-06-17 18:35] dvz commented on #4078
Related: https://github.com/mybb/mybb/issues/2440

[2020-06-17 18:38] Ben-MyBB commented on #4078
@effone any chance you would have time to get another look at #2440 ?

[2020-06-17 19:54] JordanMussi commented on #4078
Just been doing a dive into this to see how we can fix the problems.

The code causing this issue is here:

https://github.com/samclarke/SCEditor/blob/65cc347e5fe764e8e58aa1a9af9c0b531195f666/src/lib/SCEditor.js#L1505-L1508

The URL from the clipboard of the image is converted into the base64 data
Then `handlePasteData` is called:

https://github.com/samclarke/SCEditor/blob/65cc347e5fe764e8e58aa1a

[2020-06-18 15:11] JordanMussi commented on #2440
@euantorano do you want to leave this issue open to track the need to upload pastes that are files instead of URLs? Since the fix for #4078 is to use `[img]<URL>[/img]` where possible and any pastes eg from copying a local file will paste nothing into the editor.

[2020-06-18 15:39] euantorano commented on #2440
Yeah, I think that's for the best @JordanMussi.

[2020-06-18 19:12] #3560 closed

[2020-06-19 20:01] Ben-MyBB opened #4083 "Posts in unviewable threads appear in search"
In my forum users recently noticed that they can see user's messages in removed thread when they search for their posts. I could confirm this happening even after I moved thread to another forum - to see if it's permission issue or not. It seems that post search feature doesn't check if that post is located in removed thread.

Original thread: [Post search doesn't check if thread is removed](https

[2020-06-19 20:02] Ben-MyBB commented on #4083
While you can't actually open the thread from the results, you can actually view the posts in the thread in the search function.

[2020-06-19 20:15] Ben-MyBB opened #4084 "Allow users to manage own orphan attachments they have uploaded"
A feature will be good to allow users to manage own orphaned attachments they have uploaded. This is helpful for the usergroups with restricted attachment quota, so that someone don't land up to a situation of having no attachment attached with any post while exhausted allotted quota.

This can be driven with a setting per usergroup basis.
Currently user can freely delete their attachments. Propos

[2020-06-19 20:16] Ben-MyBB commented on #4084
@euantorano Given the ongoing rebase, I'm not sure if you want this to be targeted for 1.9 or are happy with 1.8? (If someone is willing to work on it)

[2020-06-19 20:55] euantorano commented on #4084
I think the first step to deciding that is determining how much effort it will take. If it’s going to involve a bunch of new templates or template edits, then my preference would be 1.9.

On Fri, 19 Jun 2020, at 21:16, Ben wrote:

[2020-06-20 01:41] effone commented on #4084
As much I can see a maximum of 2 templates will be added, if we at all can't modify existing one.
If acceptance provided I can try working on it.

[2020-06-21 11:07] Ben-MyBB opened #4085 "Thread View Mode cannot be set to Use Default but selects Threaded/Linear depending on default set by administrator"
In UserCP &gt; Edit Options
If someone opts for "Thread View Mode" as "Use Default"; MyBB renders the select option for "Thread View Mode" as per current setting; resulting the user setting gets updated with default value, rather than "Use Default".

Let me explain with steps.
1. Open ACP » Settings » Show Thread Options, set "Usenet Style Thread View" to "Yes".
2. Open UCP &gt; Edit Options. Sele

[2020-06-21 16:23] Ben-MyBB opened #4086 "Wrong time in quote subscribedmember email notification"
Hi guys,

I am getting wrong time in subscribedmember email notification.

MyBB Version 1.8.21 
PHP Version 5.6.40-1~dotdeb+7.1
SQL Engine MySQLi 5.5.60

Server:
/etc/timezone &gt; Europe/Bratislava
&#36;date: Wed May 13 11:40:01 CEST 2020

ACP &gt; Default Timezone Offset &gt; GMT +1
ACP &gt; Day Light Savings Time &gt; Yes

User1
Username: apache-user
CP &gt; TimeZone &gt; GMT -1
CP &gt; Dayligh

[2020-06-21 17:06] yuliu commented on #4086
The quote timestamp is parsed in the time zone of the user who replies to the thread, and it seems a bit difficult to add a parameter to `mycode_parse_post_quotes()`.

I have 3 naive approaches to make this timestamp parsed _correctly_ in a subscription email notification:
1. Set the time to UTC so that we won't need to deal with timezones, though it's a bit unfriendly.
1. Declare another member v

[2020-06-21 21:28] #3630 closed

[2020-06-21 21:31] #3020 closed

[2020-06-21 21:33] #4027 closed

[2020-06-21 21:36] #4045 closed

[2020-06-21 21:44] #4062 closed

[2020-06-21 21:49] #3526 closed

[2020-06-22 09:53] Eldenroot commented on #4083
This one should have higher priority

[2020-06-22 19:43] andrewjs18 opened #4087 "log admin cp log ins & prevent some log pruning"
mybb really should log admin cp log ins as well as prevent some stuff from being able to be pruned from the adminstrator's logs.

[2020-06-22 19:51] andrewjs18 opened #4088 "generate emails when someone logs in to admin cp"
mybb should consider adding some code that'll generate an email when someone logs in to the admin cp.  most sites that handle customer data do this and include some information such as this in the email it sends out:

[code]

[2020-06-22 19:57] Eldenroot commented on #4088
Lets discuss on MyBB community site, not? Have you been hacked (on your board)?

[2020-06-22 20:01] Eldenroot commented on #4088
Do not bloat the core, better to add this as a plugin...

[2020-06-22 20:02] andrewjs18 commented on #4088
created a thread on the forum: https://community.mybb.com/thread-228327.html

[2020-06-23 14:16] rajat315315 commented on #3385
Is it resolved?

[2020-06-23 14:17] Ben-MyBB commented on #3385
No, This is for 1.9 I believe

________________________________
From: rajat315315 <notifications@github.com>
Sent: Tuesday, June 23, 2020 3:16:28 PM
To: mybb/mybb <mybb@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [mybb/mybb] Unable to edit users in Admin CP (#3385)

Is it resolved?

—
You are receiving this because you are subscribed to this thread.
Reply to thi

[2020-06-23 14:24] rajat315315 commented on #3385
Yes, for 1.9 I was asking?

[2020-06-23 14:35] rajat315315 commented on #3518
which branch should I look it in?

[2020-06-23 15:29] euantorano commented on #3385
I can't remember off the top of my head if I've already fixed this or not. I don't believe I have.

[2020-06-23 15:30] euantorano commented on #3518
I believe this is already resolved, closing this issue.

[2020-06-23 15:30] #3518 closed

[2020-06-23 17:28] rajat315315 commented on #4083
Please allow me to resolve it. :)

[2020-06-23 17:31] euantorano commented on #4083
Please feel free to submit a PR 😀

On Tue, 23 Jun 2020, at 18:29, rajat315315 wrote:

[2020-06-23 18:16] rajat315315 commented on #4033
Can I do a PR?

[2020-06-23 19:43] rajat315315 commented on #4033
Can I do a PR?

[2020-06-23 19:44] euantorano commented on #4033
Anyone can feel free to do a PR for any open issue at any time, do not feel like you have to ask. Thanks!

On Tue, 23 Jun 2020, at 20:43, rajat315315 wrote:

[2020-06-24 10:44] yuliu commented on #4083
The root cause might be that `$search_data['visible']` doesn't get a value for users without relevant moderator privileges

https://github.com/mybb/mybb/blob/9feef312dc22abef36dcc1ddb1a703e66d9c2fe1/search.php#L1597-L1600

which results that `perform_search_mysql()` and `perform_search_mysql_ft()` won't have any restriction on thread/post visibility:

https://github.com/mybb/mybb/blob/mybb_1822/in

[2020-06-24 14:02] rajat315315 commented on #4083
@yuliu the visibility part is again checked when showing the search results to user.

[https://github.com/mybb/mybb/blob/mybb_1822/search.php#L233-L278]
Here, the results are pruned according to visibility.

Although, you are correct that `$search['visible']` is missing, but finally in the above file, it gets checked.

I found out that the issue doesn't occur when `$search['resulttype'] == "thread

[2020-06-24 14:30] rajat315315 commented on #4083
Also, is someone able to see something wrong with this if condition at
[https://github.com/mybb/mybb/blob/mybb_1822/search.php#L847-L849](https://github.com/mybb/mybb/blob/mybb_1822/search.php#L847-L849)

if `$thread['tid']` key doesn't exist in `$tids`, then `$tids[$thread['tid']]` should give error, am i correct?

[2020-06-24 17:27] JordanMussi commented on #4083
Sorry if I've stolen your thunder but I've submitted my own PR for this :/

[2020-06-24 17:38] JordanMussi commented on #4087
Currently only super administrators can prune the admin log:
![image](https://user-images.githubusercontent.com/2552068/85604571-4f729a80-b649-11ea-97d4-2541129228e6.png)

Additionally you can limit which admins can view the log by using administrator permissions.

I can see some value of logging administrator logins but note that admin sessions can stay alive if visiting within 2 hours of the las

[2020-06-24 21:25] andrewjs18 commented on #4088
for now, @Sama34 turned this functionality into a plugin: https://github.com/Sama34/OUGC-Email-ACP-Logins

[2020-06-25 07:19] effone commented on #4088
I also prefer this to have as a plugin.

[2020-06-25 12:46] JordanMussi commented on #4088
Plugin is best for now instead of adding new features to 1.8 near the end of its development. Will target this for 1.9.

[2020-06-25 15:40] effone commented on #1894
Is this still in our to do list?
I have a better idea to accomplish this without / very minimal (just inserting language / settings variables) template edit.
@euantorano

[2020-06-25 16:04] Ben-MyBB commented on #1894
I'd say so @effone if you are willing to work on it :)

[2020-06-25 19:59] dvz opened #4092 "Autoconfigure original IP address headers on install"
Detect reverse proxy headers and suggest a value for the _Scrutinize User's IP address?_ (`ip_forwarded_check`) setting during installation.

Related: #2070

[2020-06-26 07:17] Sama34 commented on #1894
If you can achieve this without much edit it could be acceptable for 1.8 I suppose this won't break themes either as the former behavior should still work.

[2020-06-26 07:25] Sama34 commented on #2123
The issue is within the `forum_permissions` functions as `$groupperms` might or might not be defined.
https://github.com/mybb/mybb/blob/cf8d0511b5cf31cce66e594ead87737aa3b857e5/inc/functions.php#L1363

But I don't understand 1) what or how it breaks stuff and 2) if it hasn't broke anything up to now then what is the point of such variable.

[2020-06-27 12:32] rajat315315 commented on #3883
Can anybody help me duplicate `E_NOTICE` or `E_DEPRECATED` errors, please?

[2020-06-27 15:38] dvz commented on #3883
You should be able to see some after removing ignored types at https://github.com/mybb/mybb/blob/mybb_1822/inc/class_error.php#L94-L104

[2020-06-27 22:01] rajat315315 commented on #3873
I think it does the same work as deleting an attachment with name "xyz" and then re-adding some attachment with the same name.
So, in this case, it seems redundant.

[2020-06-28 00:37] dvz commented on #3905
Should we use the same function for untrusted, external URLs?

Thoughts on adding a hook at https://github.com/mybb/mybb/blob/mybb_1822/inc/class_core.php#L495 to potentially override `$path`?

We would pass `[img]` URLs through this function in [`postParser::mycode_parse_img()`](https://github.com/mybb/mybb/blob/mybb_1822/inc/class_parser.php#L1180).

[2020-06-28 10:37] rajat315315 commented on #3431
@dvz is it a bug? I guess its an enhancement or optimization?

[2020-06-28 15:39] rajat315315 commented on #2059
are we talking to disable/remove "friendly re-direct pages" option permanently? or should we try to load user lang before the redirect happens?

[2020-06-28 15:43] euantorano commented on #2059
@rajat315315 There are 2 issues at play here really:

- When logging in, the redirection page should use the user's language, even on failure.
- When logging in, the redirection page shouldn't show if users have them disabled

In the future, I can see us removing the redirection pages completely and having redirection notices when needed.

[2020-06-28 16:26] #3733 closed

[2020-06-28 16:39] #4054 closed

[2020-06-28 16:51] JordanMussi commented on #3883
Related: #4095

[2020-06-28 17:12] JordanMussi opened #4097 "When `Hide Private Forums?` is off users can view forum lastpost for forums where can view threads but not forum"
It seems that some threads/posts info (threads no., posts no., last post) will leak when forum permissions "Can view forum?" &amp; "Can view threads within forum?" are set to No and Yes respectively.

Note: "Hide Private Forums?" is set to No.

For a user in only one usergroup and set this usergroup's permission for a specific forum as follows:

"Can view forum?" - Yes
"Can view threads within for

[2020-06-28 19:36] #4076 closed

[2020-06-28 19:53] #3376 closed

[2020-06-28 19:53] euantorano commented on #3376
Note: This change should be mentioned in the release post in case there are any plugins checking the post code manually.

[2020-06-28 21:13] lairdshaw commented on #3873
It does one other thing which makes it non-redundant and worth keeping: it maintains the same attachment ID.

[2020-06-29 06:52] Sama34 commented on #4097
So we are going with "Can view forum?" > "Can view threads within forum?", is this correct?

[2020-06-29 09:49] FurkanGozukara opened #4099 "How to add copy paste image as attachment"
I know that it is in development for further release but i need it urgently

Could anybody point me out to make which changes to enable it?

my forum : http://forum.monstermmorpg.com/

V 1.8.22

[2020-06-29 10:08] rajat315315 commented on #3873
@lairdshaw  for the user updating his attachment, does it even matter?

[2020-06-29 11:34] JordanMussi commented on #4099
We are already tracking this issue in #4078. The fix is being worked on, once it is completed and merged you can apply to your board or wait for the pre-release and upgrade to that.

[2020-06-29 11:34] #4099 closed

[2020-06-29 11:35] FurkanGozukara commented on #4078
i really need this feature urgently. anyway to fix it? even a messy one.

[2020-06-29 11:35] JordanMussi commented on #4097
That's already the case, if you cannot view a forum you cannot view the threads even if can view threads is enabled for that forum.

[2020-06-29 11:49] JordanMussi commented on #4078
This will disable all paste format filtering but it will resolve the issue temporarily until MyBB 1.8.23:

In `jscripts/sceditor/jquery.sceditor.bbcode.min.js` find:
[code]
replace with:
[code]

[2020-06-29 12:01] FurkanGozukara commented on #4078
Thank you very much. Do this have any security vulnerability or just messy format?

[2020-06-29 12:55] JordanMussi opened #4100 "Insecure connection used for Stop Forum Spam API"
https://github.com/mybb/mybb/blob/dd960626c1035a4962b1375c77266385ddbe411c/inc/class_stopforumspamchecker.php#L21

[2020-06-29 13:28] euantorano commented on #4100
Note: This will be fixed in 1.9 already when #3812 is finished: https://github.com/mybb/mybb/pull/3812/files#diff-35445ea221965cd8d7825ebab057df23

[2020-06-29 13:43] #4100 closed

[2020-06-29 14:23] JordanMussi commented on #4078
No it simply exits from the paste event handler without interfering and attempting to use the base64 paste formatting.

That is the modification for the minified file, for the source it would be like adding the `return;` after this line: https://github.com/mybb/SCEditor/blob/4d7c6b3a0a30d2bff93aaf55c83febe5853bf15a/src/lib/SCEditor.js#L1482

[2020-06-29 17:34] lairdshaw commented on #3873
@rajat315315 Yes, it sometimes does: when the attachment is included already in one or more posts using `[attachment=the_attachment_id]`.

[2020-06-29 19:31] JordanMussi opened #4103 "Member registration JS validator doesn't use translation for `required` message"
Hello
With polish translation:

After we send empty register form, login input error is in english instead of polish just like others. Probably is hardcoded instead of placing it in langs.

Original thread: [[polish translation] no lang for error login input after send empty register form](https://community.mybb.com/thread-228392.html)

[2020-06-29 20:04] effone commented on #4103
Is it? We just moved the js chunks out. We didn't see any hard-coded language variables at MyBB part. Is it anything related to the validator library directly?

[2020-06-29 21:18] JordanMussi commented on #4103
Yep we don't overwrite the default message for the required error: https://github.com/jquery-validation/jquery-validation/blob/79bed393e6f4bf6876d0e917baed7ef6447efe6a/src/core.js#L354

`This field is required.` isn't in the MyBB repo anywhere. The PR you did before is totally fine, this issue predates your move of the JS.

[2020-06-29 22:25] rajat315315 commented on #3559
I wasn't able to replicate it. After marking the reports Read, the notification just vanished.

[2020-06-29 23:00] rajat315315 commented on #3540
I think this needs to be a priority.

[2020-06-30 09:23] Ben-MyBB commented on #3559
What MyBB version did you test this on? I can confirm this on .23. Once marked as read the page refreshes for you but the bar is still in place, you need another page refresh before the bar will disappear.

[2020-06-30 09:25] Ben-MyBB commented on #3531
For this issue, we could suggest some CSS to be added for the fix but I know @justinsoltesz is against further CSS changes so I'm not sure this is even worth fixing in 1.8?

[2020-06-30 09:30] euantorano commented on #3531
The problem is that CSS changes don't work with the upgrade system - we have to rely on users making the changes manually and that always causes support tickets.

On Tue, 30 Jun 2020, at 10:25, Ben wrote:

[2020-06-30 09:31] Ben-MyBB commented on #2182
Thoughts on this one? I think we should just close this IMHO, we haven't got any issues related to the current Select2 version and given the 1.8 series is due to be dropped a year after 1.9 is released should we still be looking to update?

@justinsoltesz / @euantorano ?

[2020-06-30 09:34] Ben-MyBB commented on #3531
We might be as well resolving this in CSS and leave it on this ticket or in a thread in the forums for people who are specifcally experiencing this issue to apply the fix? But given how long 1.8 has been out for and how long this issue has been open I don't think there's loads of people with this problem.

[2020-06-30 09:34] justinsoltesz commented on #3531
I’m not sure this is something we need to fix...at a certain point, you just have to moderate your forums. We provide tools for moderators to change or remove users’ signatures.

A maximum height can easily be set in the CSS in 1.9 (edit: for those who want to - I don’t think we should set a height by default)

[2020-06-30 09:46] euantorano commented on #2182
It looks like [Select2 are currently working on v4.1.0](https://github.com/select2/select2/tags). Upgrading to 4.0.0 would mean we'd still be behind once that version is released.

The [changelog](https://github.com/select2/select2/blob/develop/CHANGELOG.md) is also worth a look, specifically:

This may affect us, based on past comments.

I think we're best staying on the current version unless th

[2020-06-30 13:34] effone commented on #2182
I am strongly against updating select2. I had some homework on it and it appeared like not just dump the latest library in our jscript folder and we are good to go. It needs some amount of work to fit in like it was. Another support to my statement can be we merely depend on  / use the all awesomeness of select2, we just use it as our autocomplete plugin (don't know why we chose that heavy plugin

[2020-06-30 13:36] Ben-MyBB commented on #2182
@JordanMussi @yuliu @Sama34 any objections to closing this?

[2020-06-30 13:45] effone commented on #3531
What CSS can save us here?
`br:not(:first-child){display: none;}` ? That looks dirty to me.

There are unwanted line breaks getting added and this should be fixed in js level, specially when we have forked uncle sam now.

[2020-06-30 13:49] justinsoltesz commented on #3531
You can just set a maximum height for the signature.

Like I said though I don’t see why we need to fix this. Someone could also make a post with 1000 line breaks. That’s a moderation issue, not a bug.

[2020-06-30 13:51] effone commented on #3559
There is an easy fix but can be considered as a major change. I guess we should defer this for 1.8

[2020-06-30 13:56] effone commented on #3531
I am sorry, but may be you are missing the point of the issue.
Its not about height of the signature (atleast not only). Thing is if user enters multiple blank lines in signature, the system is generating multiple blank lines, way way more than what the user has entered. For ready example from the reporter, he entered 120 blank lines and system returned him 5498, not even 120.

[2020-06-30 14:48] euantorano commented on #3531
@effone That sounds like an SCEditor bug that I have seen before, where sometimes it doesn't create any blank lines, and sometimes it creates way more than you entered. Unfortunately the screenshots are not loading for me to see if that is the same error I am thinking of.

[2020-06-30 15:38] effone commented on #3531
Yes thats what I was trying to say, its an SCE bug. I tried and reproduced successfully when I pushed the issue.

[2020-06-30 15:48] euantorano commented on #3531
Thanks for the clarification. We now have an SCEditor fork at [mybb/SCEditor](https://github.com/mybb/SCEditor) - would probably best to try and fix this there.

[2020-06-30 19:25] JordanMussi commented on #2182
What's 1.9 going to be using? Either defer to 1.9 or close. I am strongly against a change like this with huge potential for breakage...

[2020-06-30 19:31] #4025 closed

[2020-06-30 19:41] euantorano commented on #2182
Not sure for 1.9, we were considering writing something lighter weight. I’d prefer closing for now.

On Tue, 30 Jun 2020, at 20:25, Jordan Mussi wrote:

[2020-06-30 19:43] #3470 closed

[2020-06-30 19:52] #4020 closed

[2020-07-01 05:07] AlbertHart commented on #2440
Of course, this would be a great feature - the ability to paste a clipboard image into a post - have it automatically uploaded to the server, or placed in the MySQL database, and displayed on the page.

Many, many other sites and forums do this  - including this GitHUB issues forum.

If users are worried about disk space, they could easily disable this feature - in which case an error alert could

[2020-07-01 19:42] andrewjs18 opened #4106 "forum subscriptions do not honor last visit"
on my 1.8.22 board, the forum subscriptions do not seem to honor the last visit to prevent forum subscriptions from being emailed out, even if someone hasn't visited the forum in months or years.

confirmed by mybb team member, noyle.

Original thread: [forum subscriptions do not honor last visit](https://community.mybb.com/thread-228424.html)

[2020-07-01 21:24] andrewjs18 commented on #4106
what happens if someone doesn't remove their forum subscription(s), yet 'leaves' the forum by simply changing their email address into something that doesn't exist?

that's how I came across this issue after switching to a different email solution.  I started getting a ton of bounce backs for email addresses that did not exist.

[2020-07-01 21:32] rajat315315 commented on #4106
Good Point.

I think we should put a check when sending emails that if a user hasn't re-visited the forum he has subscribed to in last "X" months, he should be unsubscribed.
Now, X can be 3 months, 6 months, or 1 year.

[2020-07-01 21:33] dvz commented on #4106
We also mentioned adding a feature to recognize bounce messages, but we can make it send a message with a confirmation link after a configured time has passed since last visit.

[2020-07-01 21:37] andrewjs18 commented on #4106
I'm not sure that I'd go as far as removing the subscriptions, but certainly stopping the emails after X amount of inactivity on the forums would probably suffice and be the easier solution.  doesn't the PM system stop sending email alerts about new messages until you visit the forum again?

[2020-07-01 21:40] andrewjs18 commented on #4106
I've been chatting with @yuliu a lot about the mybb mail system, he mentioned something like this, perhaps piggybacking on your thoughts here.

if the user fails to confirm their email address through the link, would it stop all future email messages from being sent out?

[2020-07-01 21:50] dvz commented on #4106
I'd imagine saving a status of _no activity_, rather than invalidating e-mail addresses. Non-critical messages like subscription summaries would then check that before sending mail.

[2020-07-01 21:51] andrewjs18 commented on #4106
I can get behind that..it'll help cut down on forum email clutter and potentially prevent an IP address from getting on a spam list.

[2020-07-02 20:28] #4085 closed

[2020-07-03 08:23] Ben-MyBB opened #4107 "Inconsistent spaces around "] = " in language files"
I found 22 lines with inconsistent spaces around the "] = " in the english language files.  Doubtful that it will break anything, but as there are 3459 that are consistent, perhaps these 22 lines should be the same.

Attached is a spreadsheet showing current text and what would be consistent.

Original thread: [Inconsistent spaces around "] = " in language files](https://community.mybb.com/thread-

[2020-07-03 08:29] #2391 closed

[2020-07-04 00:40] RadiKalli commented on #4107
I found two more lines in the admin files.
File: tools_spamlog.lang.php
Lines 9 and 11
double space before = sign:
$l['spam_logs_desc']    = 'This section allows you to view a history of users blocked by the   spam filters.';
$l['prune_spam_logs_desc']  = 'Here you can prune the spam logs   matching a specified criteria.';

[2020-07-04 11:19] rajat315315 commented on #4026
Can anybody review and pull?

[2020-07-04 12:14] euantorano commented on #4026
We’re currently preparing 1.8.23 and pulling in PRs for that, sorry for the delay.

On Sat, 4 Jul 2020, at 12:19, Rajat Jain wrote:

[2020-07-04 14:58] dominikdalek commented on #3522
Moving over to the Google reCAPTCHA means that there has to be a working toggle that disables it.
1. Forum won't work offline (i.e on intranet) with reCAPTCH blocking actions.
2. Forum will have to use certificate (reCAPTCHA  doesn't work over HTTP any more).
3. People behind VPN, Tor users, and people using private browsing features of modern browsers will have harder time accessing forum or won'

[2020-07-04 15:35] euantorano commented on #3522
Challenge response is already built in. reCAPTCHA won’t be mandatory - you can turn it on or off fully at your discretion.

On Sat, 4 Jul 2020, at 15:58, Dominik Dalek wrote:

[2020-07-04 17:07] dvz commented on #3522
IMO we should have at least one local implementation (possibly a dependency to replace own solution).

[2020-07-04 17:12] euantorano commented on #3522
I have no problem including a local built in captcha. If nothing else, it means we can have a captcha enabled out of the box with no extra configuration required. I would like to see the captcha support audio or something though for users who are hard of sight.

On Sat, 4 Jul 2020, at 18:07, Tomasz Mlynski wrote:

[2020-07-05 15:47] Ben-MyBB commented on #4107
Will you be submitting a PR?

[2020-07-05 18:43] #3955 closed

[2020-07-05 19:05] euantorano opened #4109 "escape_string_like() doesn't escape the '\' character"
`escape_string_like()` doesn't escape the `\` character, which can lead to unexpected search results.

[2020-07-05 19:05] #4109 closed, assigned to nobody

[2020-07-05 19:20] #4083 closed

[2020-07-05 19:22] Eldenroot commented on #4107
I will

[2020-07-07 10:13] rajat315315 commented on #3792
Is anyone available for review? I think it is fixed.

[2020-07-07 10:20] euantorano commented on #3792
Hi,

We're currently in a PR freeze as we prepare to release 1.8.23. No PRs will be merged until that release is complete unless they are to fix critical bugs introduced in 1.8.23. Once the release cycle is finished, outstanding PRs will be reviewed and merged.

[2020-07-07 10:34] FurkanGozukara commented on #4078
@JordanMussi i have added but still the pasted image is converted to base 64

here the code i have modified : https://forumturkce.pokemonpets.com/jscripts/sceditor/jquery.sceditor.bbcode.min.js

[2020-07-07 19:18] FurkanGozukara commented on #4078
@JordanMussi

the scripts included in the edit page is like below

[code]

[2020-07-09 08:03] Sama34 commented on #2182
I think we could keep this open to track it for 1.9 but personally I'd vouch to drop it entirely or expand its usage. It is a big library for which we use in like 3 places (serious joke).

What about @justinsoltesz , do you think we might drop this plugin?

[2020-07-09 08:05] Sama34 commented on #4088
I agree this should be coded in core for both the ACP and the front end and as such 1.9 would be reasonable.

[2020-07-09 08:35] Ben-MyBB opened #4111 "Inconsistent capitalization in online.php"
Hello,

In: /online.php
If user is rating thread is: Rating thread
If user is reading thread is: Reading Thread
[attachment=43050]

This is not a serious mistake, but I think the capitalization can be standardized.

Original thread: [Inconsistent capitalization in online.php](https://community.mybb.com/thread-228516.html)

[2020-07-09 09:10] effone commented on #2182
I was already working on it. Needs a very little effort to fit in MyBB.
https://github.com/effone/jquery.fyl

[2020-07-10 18:22] rajat315315 commented on #3768
It seems I cannot reproduce this issue in Firefox 78.0.1
Is someone still able to reproduce?

[2020-07-10 19:27] rajat315315 commented on #3509
Although, I have reviewed the reputation merging code which seems fairly robust, the only possibility of reputation lost seems to be when the 2 users to be merged have upvoted each other's posts/comments. In that case, double counting of reputation is avoided.
I have created a PR which resolves a major BUG in reputation merging, which might have caused almost all merges untill now to be incorrect.

[2020-07-10 19:35] Ben-MyBB opened #4115 "Preview empty new message doesn't throw errors"
Hello,

Steps:

Go to /private.php?action=send

Click Preview button

You do not see errors, that the message is empty, as it happens after clicking save as a draft or preview an empty post on forums

Original thread: [Preview empty new message doesn't throw errors](https://community.mybb.com/thread-228514.html)

[2020-07-10 19:37] Ben-MyBB commented on #4115
It is worth noting for this issue that if you try and preview a thread without a message you will get an error but in Private Messages that doesn't happen.

[2020-07-10 19:39] Ben-MyBB opened #4116 "If moderator can't warn some user, [Warn] link could be not exists in this profile"
Hello,
if i am a moderator and i am in admin profile i see [Warn] link which leads to page with error: You do not have permission to warn this user.
I think this link could be not exists for these profiles which user can't warn just like it's done for your own profile.

Original thread: [If moderator can't warn some user, [Warn] link could be not exists in this profile](https://community.mybb.com/

[2020-07-10 19:41] Ben-MyBB commented on #4116
Although this is a valid issue I wonder if we should change the target to 1.9 to minimise 1.8 template changes?

[2020-07-10 19:46] Ben-MyBB opened #4117 "Delete Selected Attachments button is visible if i haven't got any attachments"
Hello,

In /usercp.php?action=attachments

We see this message: You currently do not have any files attached to your posts. and despite that we have this button Delete Selected Attachments
I just want to remind you that we don't have any attachments let alone selected attachments

I think this button could be visible only if we have available attachments (but best if we chose some attachments)

Or

[2020-07-10 19:47] Ben-MyBB commented on #4084
@euantorano any further thoughts? If your happy for this to be added could @effone you take a look at #4117 since it is related please?

[2020-07-11 19:22] rajat315315 commented on #4117
I would be grateful if someone can review/test these PRs and Pull them.

[2020-07-11 20:51] rajat315315 commented on #4073
@effone I think there is an option to turn regular expression matching off.
Also, the only way out I think is to catch word filters with spaces on both sides only.

EDIT:
I figured out it uses following preg_replace to filter bad words:
`preg_replace("#\bpoop\b#is", "******", "www.poop-team.com");`

Its in class_parser.php (line: 659).

[2020-07-11 21:17] Sama34 commented on #3873
If we remove we would be removing a feature that is useful for some people and might be used by somebody.

[2020-07-12 12:08] Eldenroot commented on #4107
OK, I will send a PR today, almost done. I think that all cases are covered.

[2020-07-12 17:16] JordanMussi commented on #4116
This won't need template changes since the warning row is displayed conditionally already. We only need to add an extra condition:

https://github.com/mybb/mybb/blob/9feef312dc22abef36dcc1ddb1a703e66d9c2fe1/member.php#L2650

[2020-07-12 17:25] Ben-MyBB commented on #4116
Ah nice, I hadn't actually looked into it yet, I was just speaking from memory, which was wrong.

Do you plan on submitting a PR or shall I?

[2020-07-12 17:27] JordanMussi commented on #4116
You can go ahead! 😀

[2020-07-12 17:29] JordanMussi commented on #4116
Lol clicked assign yourself by accident 😛

[2020-07-13 02:21] Azareal commented on #4087
You could add a config setting to prune things after a certain time interval and make it impossible for someone to do it via the UI.

[2020-07-13 17:26] Eldenroot commented on #4117
@rajat315315 - all will be merged and tested, but please wait few more days until we get 1.8.23 release. After that all PRs will be tested/merged. So please feel free to send more PRs and MyBB team will check them soon :) thx for your contribution!

[2020-07-13 17:48] Ben-MyBB commented on #4116
Would the best thing here not be to update the default value for the admin group for canrecievewarnings to 0? It is currently set to 1 (yes) by default hence why the link is shown. The correct check is already being done with `$memperms['canreceivewarnings'] != 0`

Edit: perhaps set the default option to 0 but also hide it if editing group ID 4.

[2020-07-13 18:33] effone opened #4123 "The level of warnings in your profile leads to usercp.php"
Hello,

in your profile e.g. 0% leads to usercp.php - i think for your own profile level of warnings could be not a link

Edit:
same in postbit_author_user warning level link

Original thread: [The level of warnings in your profile leads to usercp.php](https://community.mybb.com/thread-228511.html)

[2020-07-13 19:17] effone commented on #4116
Same applies to ban as well.

[2020-07-13 21:43] Azareal commented on #4084
The existence of orphaned attachments seems like a bug in and of itself. Perhaps, the software could detect these and delete them automatically?

[2020-07-13 21:48] Ben-MyBB commented on #4116
I can have a look at that, not sure if we would fix it in this issue or not because if my above suggested fix is agreed on it will need to be a different fix to the ban instance.

[2020-07-13 21:53] Ben-MyBB commented on #4084
Did you get a chance to read through the thread on the community forums? It was discussed about deleting automatically but thought that it may be useful in some scenarios for them to remain.

[2020-07-13 22:05] Azareal commented on #4084
Let's say a user uploads a file as an attachment. It fails.

Six months later, they discover it lingered around on the server. This isn't really something a user would expect and it complicates reasoning about attachments.

[2020-07-17 20:03] Ben-MyBB opened #4125 "jGrowl uses a non-standard property zoom which should be replaced"
Issue - jGrowl uses a non-standard property zoom which should be replaced with transform Scale or calc CSS property.

Browser - Firefox

You can also see the warning in Mozilla browser console.

Warning - 

This page uses the non standard property “zoom”. Consider using calc() in the relevant property values, or using “transform” along with “transform-origin: 0 0”.You can check MDN and a Stackover

[2020-07-18 17:35] rajat315315 commented on #3880
For `inputmode` & `pattern`,
As far as I know, they are `text` attributes, so no `inputmode` or `pattern` is required at login page. Or am I wrong?

[2020-07-18 20:26] Eldenroot commented on #3500
@rajat315315 - does your PR take care about templates? I mean hide (remove) the collumn in all pages when post icons are disabled?

![image](https://user-images.githubusercontent.com/778890/87861371-c5ff7100-c945-11ea-8a4c-a7d784dacb0e.png)

Same for new reply/thread/PM

[2020-07-18 20:32] rajat315315 commented on #3499
Simply removing them from develop/1.9 would work??

[2020-07-18 20:38] rajat315315 commented on #3500
Not yet.. will do.
It just takes care of the fact that users won't be able to apply icons to new Posts..

EDIT:   Done!

[2020-07-18 21:42] rajat315315 opened #4129 "mybb incorrectly shows version 1.8.17 in mybb ACP 1.9"
Hi,

I am working with mybb develop/1.9 branch and I have noticed that Dashboard has Version --> 1.8.17.

[2020-07-18 21:46] rajat315315 commented on #3385
Hey, I was not able to replicate this scenario but there was a wierd error coming when I went to edit a `User's` profile in `Users & Groups` setting tab and tried to `Save` it.

![Screenshot_2020-07-19 Edit User](https://user-images.githubusercontent.com/15379278/87862468-1f7b9600-c96e-11ea-832d-54b5bf27b461.png)

[2020-07-19 00:04] chack1172 commented on #4129
I'm sure the version is always update before the new version is released

[2020-07-19 00:28] stardust342 commented on #4129
1.9 is currently based on 1.8.17 as of #3683
I don't think the version reported in ACP (and likely other places) needs to be updated until 1.9 is closer to release.

[2020-07-19 01:39] andrewjs18 commented on #4129
The 1.9 code base is only in sync up to 1.8.17 at the moment, if I'm not mistaken.

[2020-07-19 04:49] Azareal commented on #3880
Which tools use the change password well-known path?

[2020-07-19 12:37] rajat315315 commented on #2972
Any Progress?

[2020-07-19 12:39] euantorano commented on #2972
Now that 1.8.23 is released, 1.9 is being rebase upon that release. This should be finished soon, then 1.9 will be touched up to catch any remaining templates.

[2020-07-19 16:49] RaymanXY commented on #3768
Still able to reproduce with Firefox 78.0.2 and MyBB 1.8.22. I will update soon to 1.8.23 and try again.

[2020-07-19 16:51] Ben-MyBB commented on #4129
Correct, the rebase is being done manually and the last time the changes were pushed was to bring up-to-date with 1.8.17.

[2020-07-19 16:51] #4129 closed, assigned to nobody

[2020-07-20 10:39] euantorano commented on #2182
I'd vote for closing this and opening a new issue for replacing Select2 completely.

[2020-07-21 13:38] rajat315315 commented on #3797
Going by the amount of work required for this and available contributors, I find it difficult to see 1.9 release completed by even end of next year. :(

[2020-07-21 13:40] euantorano commented on #3797
@rajat315315 The move to PDO isn't actually too complicated - there is already a PDO class for SQLite, it just needs extending to MySQL and PostgreSQL. Obviously 1.9 won't include changing all of the queries to using prepared statements, but there will be new methods added for doing so so that they may be changed one at a time as and when people get a chance.

[2020-07-21 14:18] #3203 closed

[2020-07-21 15:46] dvz opened #4132 "Add `lastip` column handling to UserDataHandler"
The [`UserDataHandler`](https://github.com/mybb/mybb/blob/mybb_1823/inc/datahandlers/user.php) processes inserts and updates related to the user table's `regip` column, but support for `lastip` is missing.

`regip` references:
https://github.com/mybb/mybb/blob/mybb_1823/inc/datahandlers/user.php#L1154
https://github.com/mybb/mybb/blob/mybb_1823/inc/datahandlers/user.php#L1372-L1375

[2020-07-21 16:05] rajat315315 commented on #3797
@mybb/developers
btw is there any time frame in mind wrt release of 1.9?

[2020-07-21 16:10] euantorano commented on #3797
There isn't a specific time frame exactly, but the plan is by the end of this year. Once the rebase is completed, we need to mop up any missed templates and sort the theme system. I have a work-in-progress branch locally to extend the `DB_Base` interface with some new methods for prepared queries for this issue which will be pushed after I finish rebasing (otherwise the branch will be conflicted a

[2020-07-22 12:31] Sama34 opened #4133 "Board set to closed after running Tables Check task on PHP >= 7.1"
Good Day,

I upgraded myBB recently from 1.8.8 to 1.8.22. The upgrade process went well and the forum seemed to be working.

The site url: samini.co.za

Recently I noticed that the forum is automatically "closing" itself. 

Im not exactly sure when this is happening as I visit the forum once every 1-3 days and so far I've had to "reopen" it 4 times in the last 2 weeks.

When I go to Configuration-

[2020-07-23 17:30] dvz commented on #3880
The ACP's 2FA code is numeric.

https://developer.apple.com/safari/technology-preview/release-notes/, https://bugs.chromium.org/p/chromium/issues/detail?id=927473

[2020-07-23 19:18] euantorano opened #4134 "Add hook for custom mail handler registration"
The core doesn't currently have any way to create a custom mail handler from a plugin. It checks for SMTP, then defaults to PHP mail.

The use case is a plugin to send emails using the AWS SES API (and other APIs for similar services such as MailGun, Sendgrid, Postmark, etc.).

https://github.com/mybb/mybb/blob/1b25406ba6b6586f060547dc41e7af653f182276/inc/functions.php#L577:L586

[2020-07-23 19:41] #4111 closed, assigned to nobody

[2020-07-23 19:43] #4107 closed, assigned to nobody

[2020-07-24 19:45] rajat315315 commented on #3294
Aren't we deprecating thread ratings in 1.9?

[2020-07-25 06:23] Eldenroot commented on #3333
I would like to see this in 1.9 +1 :)

[2020-07-26 19:14] KeteTheme opened #4136 "Add style variable in survey template"
Hello good morning, I wanted to make a request to the MyBB developers which is to add a style variable in the survey template that indicates which of the survey options you voted for. I ask is asking for more options on customizing the survey in CSS. I think it would be a great idea for MyBB 1.9. The other way to do what I ask is to create a new template specifically where the user voted and thus

[2020-07-30 18:24] dvz opened #4137 "Add lift date, notes to IP bans"
Add _Ban Length_ and administrator-only _Notes_ field to IP banning.

This will not be stored in the datacache: https://github.com/mybb/mybb/blob/mybb_1823/inc/class_datacache.php#L1030

[2020-07-30 19:08] dvz opened #4138 "Fix PHP 8.0 compatibility problems"
- [x] Various compatibility issues: #4095
- [x] Common _undefined_ errors — Admin CP: #4207
- [x] Common _undefined_ errors — front-end

[2020-08-07 11:24] crazycatdevs opened #4139 "Hardcoded picture extensions limits the creation of thumbnails"
in functions_upload.php, the extensions for pictures are hard coded, so adding new pictures extensions (webp, jfif, ...) won't work correctly:
- new formats won't be accepted as avatars (regexp line 214)
- when attached, no thumbnail will be created (condition line 548)

Related: https://community.mybb.com/thread-228933.html and https://community.mybb.com/thread-228935.html

[2020-08-09 11:48] rajat315315 commented on #4138
Sorry for an off-topic comment but isn't 1.8.24 released a bit too early?
Couldn't understand the reason..

[2020-08-09 12:06] kamil256 opened #4142 "Unclear reason of setting ['-1'] => '1' to $permissioncache which value is null"
In `index.php` there is an instruction setting value `1` to `$permissioncache` array at index `-1`.

https://github.com/mybb/mybb/blob/4ae73bc086ab87c045a860c1e3314ffdf75b5270/index.php#L417

Later, there's an instruction for running `index_end` hooks.

https://github.com/mybb/mybb/blob/4ae73bc086ab87c045a860c1e3314ffdf75b5270/index.php#L430

Some plugins call functions which use `$permissioncache

[2020-08-09 12:15] euantorano commented on #4138
@rajat315315 1.8.24 is a security release for a high risk security issue in SCEditor. It was made outside of normal schedule due to the security risk.

[2020-08-12 21:03] Sama34 commented on #2059
Seems a little too much, because you are disclosing 1) the user exists and 2) the user language setting.

[2020-08-12 21:05] Sama34 commented on #3431
I'd say this should be a enhancement for optimization.

[2020-08-12 21:07] Sama34 commented on #3540
I think the reasoning for that specific button to be visible by guests is to somehow make it clear they can reply to content by registering or logging in.

[2020-08-13 17:29] GasmoN opened #4143 "When user register all "Messaging and Notification" checkboxes are unchecked for that user."
EDIT:
**After few more tests I noticed that it's theme issue.****

[2020-08-13 18:32] #4143 closed, assigned to nobody

[2020-08-16 02:00] Sama34 commented on #3431
Regarding using `{$attachment['thumbnail']}` in templates as suggested above, this could lead users to guess the full image path and ultimately getting access to download it.

[2020-08-16 02:07] Sama34 opened #4144 "Chosen options from previous Multiple Option Select profile fields displayed on postbit would appear in later ones"
I have created two Custom Profile Fields.

Field 1 = Multible Option Selection Box
The selected options are displayed correctly in this field.

Field 2 = Multible Option Selection Box
Problem: The selected options from Field 1 are also displayed in this field.

Look here:
[attachment=43189]

I tested it with a clean mybb 1.8.24 installation and i have the same problem.
The problem only exists in p

[2020-09-02 10:54] #4133 closed, assigned to nobody

[2020-09-07 12:33] JordanMussi opened #4147 "Attachments directories not deleted when all attachments are removed"
(Split from https://github.com/mybb/mybb/pull/4095#discussion_r463754582)

As the `index.html` file remains in the directory when the last attachment files are removed when attempting to delete the directory it fails since it is not empty.

[2020-09-07 17:08] #4023 closed

[2020-09-07 17:54] #4144 closed, assigned to Sama34

[2020-09-07 18:03] JordanMussi opened #4149 "Allow use of cookieless domain for YouTube video embeds"
Via #4121

[2020-09-09 13:44] thunderclap82 opened #4150 "Can't delete user from BCC Private Message"
I was going to send a PM to several people and one of those people have PM's turned off and received a notice. I deleted their name from the recipient list (BCC) and tried to re-send but the notice reappeared as did the name. It looks like you can't delete recipients.

[2020-09-12 17:49] dvz opened #4151 "New forum permissions not applied"
The forum permission cache (`forumpermissions`) is not being rebuilt correctly when creating a new forum, resulting in "quick permissions" not applied after creation (manually or by saving forum changes in ACP).

The [`save_quick_perms()`](https://github.com/mybb/mybb/blob/mybb_1824/admin/modules/forum/management.php#L917) function is called before [the forum cache is updated](https://github.com/m

[2020-09-12 18:04] dvz commented on #4142
It doesn't look like anything would break if we simply set it to `null` (removing it completely may cause PHP 8 to emit Warnings).

[2020-09-13 19:05] ofnuts commented on #4139
Related: #3847 ?

[2020-09-14 08:04] DiogoParrinha opened #4153 "Purge Spammer should have a setting to skip adding the IP to the ban filters"
Spammers are issued IPs from ISPs, which commonly match the regular users' IP addresses because of dynamic IPs. Often, admins who use Purge Spammer need to delete the IP ban filters otherwise their users (or even themselves) get IP banned from the board because the ISPs issue the same IP temporarily.

Should be a matter of adding a new setting for Purge Spammer (default true for non-breaking chang

[2020-09-15 14:54] rjhancock opened #4156 "Clearer error messages when internal issues arise."
Just today had an issue where, after a maintenance reboot on the server, the forums completely stopped working. Was receiving 503 errors with nothing showing up in any logs. Apache, PHP, Syslog, or even logs generated by MyBB.

While investigating, noticed the settings were not being loaded, either from settings.php nor from the database. Had to modify the `class_error.php` file to force show the

[2020-09-15 15:11] euantorano commented on #4156
Would you mind sharing the modification you made to `class_error.php`?

Part of the problem is likely due to the error handling code path requiring settings to figure out how it should behave, which is problematic when an error occurs before settings have been loaded.

[2020-09-15 15:13] rjhancock commented on #4156
Around line 441 I adjusted the IF condition to include `true ||` at the beginning to see what would happen.

[2020-09-15 15:22] euantorano commented on #4156
Yeah, seems to be as I suspected - settings weren't yet loaded, which the code doesn't handle and as such just doesn't show anything.

I'm not sure what the best course of action is here. Perhaps we shouldn't configure our special error handler until after settings are loaded? Otherwise we can't know the various required pieces like:

- Whether to show or hide errors
- Whether to log errors to a f

[2020-09-16 00:00] Sama34 commented on #4156
I think the root for this specific issue could have been spotted faster by the forum administrator if errors were displayed in full to administrators regardless of the settings.

[2020-09-16 06:16] euantorano commented on #4156
In this case, the database connection wouldn’t have been opened, nor would the settings have been read or anything. As such, we wouldn’t know if the user was an administrator yet.

On Wed, 16 Sep 2020, at 01:01, Omar Gonzalez wrote:

[2020-09-16 12:24] rjhancock commented on #4156
True, but there should be output of the error somewhere for admins to look at it. Maybe default to the error_log in the install folder?

[2020-09-16 13:37] euantorano commented on #4156
Agreed, for sure. That might be a good approach, though if that file is not writable for some reason I'm not sure what to then fall back on.

[2020-09-16 15:47] rjhancock commented on #4156
Attempt to write to the file with an indication on the front end that it can be found in the logs and failing that just output the error itself to the web page. But only as a last resort.

[2020-09-17 14:05] dvz commented on #4156
Can it display any sensitive information before the settings are loaded?

We probably wouldn't want it to write to files that may be accessible publicly, unless it's configured that way (the installer may be an exception). If it helps, we can add documented `$config` overrides for error handling.

[2020-09-17 15:57] euantorano commented on #4156
Not sure off the top of my head. I know the error handling goes out of its way to not print contents of the settings or config files.

Adding `$config` overrides might be a good approach, with some sensible defaults.

[2020-09-18 19:24] kikelkik commented on #3768
Still occurs in 1.8.24

[2020-09-18 19:27] euantorano commented on #3768
Yes, we've [forked SCEditor](https://github.com/mybb/sceditor) to try and fix issues like this in a future release. We have some other maintenance tasks to do on SCEditor too.

[2020-09-19 19:24] Ben-MyBB opened #4157 "Duplicates in user handler insert_user()"
https://github.com/mybb/mybb/blob/mybb_1....php#L1164
&amp;
https://github.com/mybb/mybb/blob/mybb_1....php#L1170

Original thread: [Duplicates in user handler insert_user()](https://community.mybb.com/thread-228786.html)

[2020-09-23 09:33] #4153 closed, assigned to nobody

[2020-09-27 15:15] yuliu commented on #4156
Hmm..

It just comes to my mind that it might be good to always write error logs into PHP's system logger, like
https://github.com/mybb/mybb/blob/feature/inc/class_error.php#L357
and make sure it will write.

Or, we may set up a variable in MyBB's `errorHandler` class:
- If settings & user privileges are read, unset the variable in `./inc/init.php` and let MyBB uses its own error handler.
- Or the

[2020-09-27 17:20] dvz opened #4158 "Posts with same dateline may be out of order"
Processing and listing of posts depends on the `mybb_posts.dateline` timestamp only, and the intended order during insertion (especially when automated) may not be always preserved.

`ORDER BY` clauses should take advantage of `mybb_posts.pid`.

Verified on PostgreSQL.

Entities other than posts may be similarly affected.

[2020-10-04 22:36] #3509 closed

[2020-10-05 18:44] Ben-MyBB opened #4160 "User activity ignored for subscriptions"
There is this check that is supposed to prevent sending notifications to users that haven't been online since they received the last notification.
inc/datahandlers/post.php:
					AND u.lastactive &gt; '{$forum['lastpost']}'However the conditions is always true because &#36;forum['lastpost'] is always 0.

&#36;forum is loaded from datacache which excludes some fields:
		// Things we don't want to c

[2020-10-06 07:21] yuliu commented on #4160
Hmm, might be a duplicate of #4106.

[2020-10-06 07:44] Stefan-MyBB commented on #4160
I'm not sure. The proposals to fix that issue are mostly different from this bug.

[2020-10-06 08:00] yuliu commented on #4160
Looks like the discussion is divergent from the problem itself in that issue but the findings seem to be exactly the same as yours:
- The timestamp lastpost of a forum doesn't exist there because the forum variable is pulled from cache where lastpost and some other fields are striped off.

BTW I have several ways to fix this issue, any of them should work but don't know which is better:
1. Add an

[2020-10-09 18:01] GasmoN opened #4162 "Permissions not set for newly created subforums"
If you got ACP > *Select any of your forums* > "Add child forum" and remove "View" permission for all usergroups except "Administartors" usergroup, and then click on "Save Forum". That forum will create without proglems, but users that are not in "Administrators" group and guests will be able to see that subforum. In order to fix this you need to go and and click "Edit Subforum" and do nothing, ju

[2020-10-09 18:46] Stefan-MyBB commented on #4162
Duplicate of #4151?

[2020-10-09 20:41] GasmoN commented on #4162
Could be, I didn't saw that that issue is opened.

[2020-10-11 13:30] GasmoN opened #4163 "[Feature Suggestion] Force Attachment Download"
This suggestion is related to this thread: https://community.mybb.com/thread-229749.html
In future, it would be nice to add option in Attachments Types that will allow us to choose will that attachment will be downloadable or will it be opened in a browser (For example, .txt files).
I am running forum where users can upload their extensions for games, so when they upload language files that are in

[2020-10-11 14:14] #4162 closed, assigned to nobody

[2020-10-19 01:58] Sama34 opened #4165 "Invalid variable in private message templates"
The following template contains an invalid  variable that is never set `$postoptionschecked`.
https://github.com/mybb/mybb/blob/feature/install/resources/mybb_theme.xml#L10338

[2020-10-27 11:22] yuliu opened #4166 "DB show_fields_from() method's return varies in format for different db engines"
The function show_fields_from($table) that shows the "show fields from" command for a specific table returns results in different formats for different db engines. It makes some particular uses of this function fail, for example, the merge system's column length calculation (https://github.com/mybb/merge-system/pull/260 ).

For mysql (now deprecated) and mysqli, the method directly uses SQL SHOW F

[2020-11-03 13:09] yuliu commented on #3793
A related but not exactly the same issue was reported in https://community.mybb.com/thread-229912.html :

OP described that their server is short on memory, MariaDB crashes often and memcached stayed up. During MariaDB down time, OP encountered the same thing as described in https://community.mybb.com/thread-224537.html , private forums lost their permission settings.

By the way, the [original is

[2020-11-06 11:59] #4117 closed, assigned to nobody

[2020-11-06 12:14] #4160 closed, assigned to nobody

[2020-11-06 12:17] #4142 closed, assigned to nobody

[2020-11-06 12:19] #4147 closed, assigned to JordanMussi

[2020-11-06 12:22] #4125 closed, assigned to nobody

[2020-11-06 12:25] #4151 closed, assigned to nobody

[2020-11-06 12:27] #4123 closed, assigned to nobody

[2020-11-06 13:03] #3327 closed

[2020-11-06 15:18] #4149 closed, assigned to nobody

[2020-11-06 15:28] yuliu commented on #4106
#4160

[2020-11-06 15:28] #4106 closed, assigned to nobody

[2020-11-06 16:33] #3873 closed

[2020-11-07 19:04] Ben-MyBB opened #4167 "Repeated code in newreply.php"
The following piece of code is repeated multiple times without it being necessary in newreply.php.
https://github.com/mybb/mybb/blob/feature/newreply.php
		if(!$mybb-&gt;settings['postsperpage'] || (int)$mybb-&gt;settings['postsperpage'] &lt; 1)
		{
			$mybb-&gt;settings['postsperpage'] = 20;
		}

Original thread: [Repeated code in newreply.php](https://community.mybb.com/thread-229825.html)

[2020-11-13 18:54] dvz opened #4168 "Session IP addresses not updated"
Visitors' IP addresses are not updated in the `mybb_sessions` table during visits following session creation, resulting in outdated information being displayed in _Who's Online_ for entries with changed addresses.

Regression after https://github.com/mybb/mybb/pull/3921

h/t @yuliu

[2020-11-15 13:24] #4158 closed, assigned to nobody

[2020-11-15 13:28] euantorano commented on #3880
I think tasks 2 & 3 should also be applied to 1.8 if not already done, so I'm leaving this open.

[2020-11-15 13:34] #3792 closed

[2020-11-15 13:54] #4074 closed

[2020-11-15 15:52] #4097 closed

[2020-11-15 16:01] #2217 closed

[2020-11-15 16:17] #3853 closed

[2020-11-15 19:16] #2114 closed

[2020-11-15 20:04] #354 closed

[2020-11-17 07:27] Sama34 opened #4171 "Filtering by user is incorrect in ACP warning logs"
The following line seems to be invalid.

https://github.com/mybb/mybb/blob/082fd1cfe47f8f392ab606bb41188e8e15f8bdb0/admin/modules/tools/warninglog.php#L256

[2020-11-17 12:40] Eldenroot commented on #4171
Thank you! @Sama34

[2020-11-17 17:43] #4171 closed, assigned to Sama34

[2020-11-17 17:48] Eldenroot opened #4173 "Show 'edited by' Messages - moderators are not affected"
https://community.mybb.com/thread-230145-post-1358450.html#pid1358450

[2020-11-17 23:49] Sama34 opened #4175 "Profile fields aren't loaded in quick replies"
Because of the following line profile fields are not parsed in quick replies.

https://github.com/mybb/mybb/blob/7c1c632771720181b0f0b5ea1bc2ff21bdecebea/inc/functions_post.php#L422

As $profile_fields is defined in showthread.php but not newreply.php.

Original thread: [Profile fields aren't loaded in quick replies](https://community.mybb.com/thread-230104.html)

[2020-11-18 18:22] Eldenroot commented on #4005
@JordanMussi - please can you look at this :) thank you!

[2020-11-19 12:12] yuliu commented on #4166
This function for MySQL and probably MariaDB, or `SHOW FIELDS FROM`/`SHOW COLUMNS FROM`, won't return integer length anymore as of MySQL 8.0.19.

Quoted from [Changes in MySQL 8.0.19 (2020-01-13, General Availability)](https://dev.mysql.com/doc/relnotes/mysql/8.0/en/news-8-0-19.html):

A user on MySQL 8.0.22 reported faulty conversion results by using the merge system which greatly relies on this

[2020-11-19 12:23] euantorano commented on #4166
So it sounds like MySQL has dropped integer widths, which actually makes life much easier. We can now just always assume max width for the type when using new MySQL versions (and this should be backwards compatible too I believe).

So, instead of writing `INT(11)`, we now write `INT`.

Looking at what we actually need from `show_fields_from`, I believe it's the following:

- Field Name
- Field Typ

[2020-11-19 17:42] #4157 closed, assigned to nobody

[2020-11-19 17:43] #4165 closed, assigned to nobody

[2020-11-19 17:44] #4167 closed, assigned to nobody

[2020-11-21 19:00] Eldenroot commented on #3522
Yes, we should have one offline solution... maybe we can use some different 3rd party library?

[2020-11-21 20:02] Ben-MyBB commented on #4116
What's the thoughts on a fix for this in 1.8? @euantorano

[2020-11-21 20:04] Ben-MyBB opened #4180 "Another image bug in editor (2020 Edition)"
Hello and welcome to my annual "Another image bug in editor" bug report series.

Since 1.8.23, you can't size images both via "Insert an image" button, and manually using width= height= codes.
I tested this issue in MyBB forums aswell.

1. "Insert an image" reproduction
Click on insert an image button in editor, paste any image link.
Fill only Width or only Height values, either one.
See editor si

[2020-11-21 20:05] Ben-MyBB opened #4181 "AdminCP > User Email Log should work with other log types"
Currently AdminCP &gt; User Email Log can only correctly show type 1 (email users), 2 (send thread mails), 3(contact mails) for mail logs and that's very restrictive for the using of mail loggings.

https://github.com/mybb/mybb/blob/mybb_1...#L303-L399

I think we could display log entries of other mail types as general ones. And further, we could roll out a list of log types for recommended usage

[2020-11-21 20:06] Ben-MyBB opened #4182 "The 'double quotes in font lists' browser-independent SCEditor bug"
As opposed to my previous two recent SCEditor bug reports, the 'redundant tags on paste of unformatted text' browser-dependent SCEditor bug and the 'reduced size on paste of unformatted text' browser-dependent SCEditor bug, this bug report references solely Hovatek's thread MyCode parse error ( [font="droid sans", sans-serif] ). Along with those two prior bug reports, this one is heavily based on

[2020-11-21 20:06] euantorano commented on #4116
We should fix it in 1.8. Anything that can be fixed in 1.8 should be.

On Sat, 21 Nov 2020, at 20:03, Ben wrote:

[2020-11-21 20:06] Ben-MyBB opened #4183 "Mass mail: lost radio button selection & illegal string offset warnings"
Mass mail at AdminCP:

1. If the scheduled sending date is in past, the error message screen loses that radio button selection.

Creating:

[attachment=43244]

Editing:

[attachment=43243]

2. When creating a new mass mailing, navigating away before submitting recipients criteria would result in blank in conditions in table massemails for this mass mailing. And warnings of Illegal string offset wi

[2020-11-21 20:07] euantorano commented on #4182
Note: issues specific to SCEditor should probably go in our forked repository rather than here.

On Sat, 21 Nov 2020, at 20:06, Ben wrote:

[2020-11-21 20:08] Ben-MyBB opened #4184 "The 'redundant tags on paste of unformatted text' browser-dependent SCEditor bug"
This SCEditor bug and the next of the other two I plan to report (and now have reported) reference Hovatek's thread MyCode parse error ( [font="droid sans", sans-serif] ) and nixer55's post #29 in the SCEditor Issues and Resolutions [1.8.21 upgrade] thread (the remaining bug references only Hovatek's thread).

All three bug reports are heavily based on my post #9 in Hovatek's thread, from the firs

[2020-11-25 06:05] lairdshaw commented on #4182
@euantorano: Because we override the relevant BBCode format method ('font') in this repository's `jscripts/bbcodes_sceditor.js` file, the fix is necessary in that file regardless of whether we also apply a corresponding fix to the SCEditor fork.

I have a working fix for `jscripts/bbcodes_sceditor.js`, but am not sure whether it's worth porting to our SCEditor fork too.

Similar comments apply to

[2020-11-25 06:10] Sama34 commented on #4182
Since we don't have the resources to unnecessarily maintaining the SCEditor in full, I'd say it is good enough if the issue can be fixed from the MyBB package.

[2020-11-25 07:05] euantorano commented on #4182
Yes, I’d be happy with fixing it in the MyBB base, especially if your have some working code :)

On Wed, 25 Nov 2020, at 06:11, Omar Gonzalez wrote:

[2020-11-25 15:01] yuliu commented on #4166
IMO the merge system would just need the above -- column length could be inferred from Field Type. ~~We might need to make a decision on having column length info in `show_fields_from()` or just in the merge system. Hmm, `varchar` needs length info to be meaningful.~~

Oh sorry `varchar(length)` is a Field Type.

We might need to make a decision on having column length info as a dedicated field in

[2020-11-29 06:16] Mrsihag opened #4189 "Seo Issues"
Mybb should have Good seo system
It should have :- Custom tags below every post
- Permalink should be user friendly (i.e. it should have permalink on name of post)
- Admin can customize header for seo

[2020-11-29 06:18] Mrsihag opened #4190 "Threads should have Custom icons"
Whenever user is posting a thread he can customize the thread icon which gives it premium look.

Please work on it

[2020-11-29 10:17] Stefan-MyBB commented on #4189
https://github.com/mybb/mybb/blob/feature/.github/CONTRIBUTING.md

[2020-11-29 10:18] Stefan-MyBB commented on #4190
https://github.com/mybb/mybb/blob/feature/.github/CONTRIBUTING.md

[2020-11-29 20:31] #3711 closed

[2020-12-06 17:21] Eldenroot commented on #4078
Any progress guys?

[2020-12-06 17:21] Eldenroot commented on #4190
This one should be closed  @euantorano

[2020-12-06 17:21] Eldenroot commented on #4189
You can do it with SEO plugin easily.

Please close this one @euantorano

[2020-12-06 17:23] #4190 closed, assigned to nobody

[2020-12-06 17:23] euantorano commented on #4078
None as far as I’m aware, it’ll likely not be done until 1.8.27.

On Sun, 6 Dec 2020, at 17:21, Eldenroot wrote:

[2020-12-06 17:24] #4189 closed, assigned to nobody

[2020-12-13 19:30] euantorano opened #4192 "DB_MySQLi::modify_column does not set default value"
The code for `modify_column` in `DB_MySQLi` does not use the `$default` variable when writing the query to perform the modification, [as can be seen here](https://github.com/mybb/mybb/blob/feature/inc/db_mysqli.php#L1396).

[2020-12-13 19:31] euantorano commented on #4192
This also applies to `DB_MySQL`.

[2020-12-14 20:20] dvz commented on #4070
https://github.com/mybb/mybb/pull/4122#issuecomment-744686665

[2020-12-15 16:45] Eldenroot commented on #4078
@euantorano @JordanMussi - any workaround for this? It would be really useful to put images directly into posts (CKeditor for @martec - Rin editor supports this feature unofficialy… first step, but limited by mybb?)

[2020-12-15 16:50] euantorano commented on #4078
No, there is no workaround yet. There needs to be several changes made:

- On paste into the editor, get hold of the image data and upload it to the server as a new attachment.
- Insert the MyCode necessary to embed the attachment into the post.
- If the attachment fails to upload (unsupported type, out of attachment space, attachment quota exceeded, etc.) show an error.

It's actually quite a big

[2020-12-17 09:22] #4175 closed, assigned to nobody

[2020-12-19 15:18] effone opened #4196 "MyBB.prompt() template"
MyBB.prompt template places the message body in 'thead' class in place of 'trow'. This looks very awkward while displaying long messages.

The template also uses unnecessary colspan.

Original thread: [MyBB.prompt() template](https://community.mybb.com/thread-230601.html)

[2020-12-20 00:23] dvz opened #4197 "Inconsistent Access Own Unapproved Posts count may cause thread posts to not be visible"
With the [_Access Own Unapproved Threads / Posts_ setting](https://github.com/mybb/mybb/blob/mybb_1824/install/resources/settings.xml#L1484-L1491) set to _Yes_, the [post count with permission-related corrections](https://github.com/mybb/mybb/blob/mybb_1824/showthread.php#L972-L992) does not account for visible unapproved posts, while the query fetching post IDs includes the condition at https://g

[2020-12-20 02:53] meetdilip commented on #3520
I had this issue with the admin login page. I was blocked from admin login for around 24 hours. And when I tried sometime back, I got the error first and in the second attempt, I was through. I checked and found out that I am using reCAPTCHA v3 and had set Invisible CAPTCHA for registration.

[2020-12-20 14:53] effone commented on #4163
Any reason this is assigned for 1.9 while tagging as `easy-pick` ?

[2020-12-21 06:50] effone opened #4201 "String treated as array"
"PHP message: PHP Fatal error:  Uncaught Error: [] operator not supported for strings in /admin/modules/user/users.php:772

[2020-12-21 06:58] effone opened #4202 "Drop inclusion of 3rd party 'json.php'"
`inc/3rdparty/json/json.php` is a third party library for backward compatibility of PHP < 5.2 which defines only `json_encode` and `json_decode` functions.

Since we don't support that low version of PHP and that file has some incompatibility with PHP 8; we can consider of dropping it from MyBB package.

[2020-12-21 18:59] #4196 closed, assigned to effone

[2020-12-21 19:00] #4201 closed, assigned to effone

[2020-12-22 18:45] euantorano opened #4206 "Database library improvements"
Once we get #4193 merged, I have a few proposed alterations to make to the DB libraries:

- [ ] Add some new fetch methods for fetching results
    - [ ] `fetchAllArray` - fetch all results as an array of arrays
    - [ ] `fetchAllField` - fetch a single column from all resulting rows
    - [ ] `fetchObject` - fetch a result row as a class of the given type - this will be useful in the future when

[2020-12-26 22:06] dvz opened #4208 "Add options to delay or disable Purge Spammer permanent effects"
Extend the _Purge Spammer_ feature to allow administrators to configure:
 - whether content should be soft- or permanently deleted
 - an optional delay for irreversible effects (permanent content deletion, user deletion, user profile cleaning, _Stop Forum Spam_ submission, IP ban)

to prevent accidental removals.

Administrators/moderators should be able to reverse the action and restore all conte

[2020-12-26 22:12] kawaii commented on #4208
I believe that in addition to both hard and soft deletion, the option of invoking a moderation tool on the user's content should also be available. Many forums archive user threads and posts to a 'junk' forum, in order to maintain their forum statistics. A switch between account deletion and permanent ban would also be ideal.

[2020-12-27 19:48] effone commented on #4208
We don't need to invoke any moderation tool or soft delete any post. There is a better way, I believe.
We can add a column to user table called `purged` which will carry purge tool commence timestamp. If this stamp is present against any user no content created by that user will be displayed. No profile, no PM.

So the main function of the purge tool will just be adding the purge timestamp against

[2020-12-27 20:28] dvz commented on #4208
That would involve changing conditions wherever user content is displayed. Currently e.g. posts and threads have their own `visible` condition, but after these changes there would be an additional dependency on the author's user table row.

Some administrators may also prefer to keep all content, even if purged (so it would stay soft-deleted).

[2020-12-28 19:56] euantorano opened #4209 "Move mail queue processing to a task rather than a shutdown function"
The mail queue is currently ran using a shutdown function, which is registered [in `init.php`](https://github.com/mybb/mybb/blob/aacebaecb49d0cb951096134277250192a2cedba/inc/init.php#L243).

This can be problematic when using SMTP to send mail and the SMTP server is either slow to respond or offline, as it leads to slow page load times.

We should instead use a task to send the mail queue.

[2020-12-28 20:20] #4163 closed, assigned to effone

[2020-12-28 20:22] #4183 closed, assigned to effone

[2020-12-28 22:39] #4197 closed, assigned to nobody

[2020-12-30 13:21] dvz commented on #3804
There are more problems with the logic around post merges and limits, and how mergeable posts are expected to be separate, but treated as a single one. E.g.:
 - it's not possible to edit the resulting posts that exceed some limits without removing some items (videos, images, attachments, etc.),
 - if the limits are verified on the resulting posts, like currently proposed in #4214, it may be imposs

[2020-12-30 15:06] Xazin commented on #3804
What if we make it so it doesn't merge when it can't, but instead creates a new post separately. That way it still limits individual posts to the settings imposed from admincp, but it also enables people to post as long as their post is outside the flood time.

Note: I re-worked the proposal a bit and introduced changes to _insert_post()_ instead of _validate_post()_

[2020-12-31 14:17] Xazin commented on #4150
I tried this on my testing board, and couldn't manage to find an actual bug.

Steps I took:
- On one account I disabled receiving PM's.
- Another account tried PM'ing that user (as only recipient) and got the usual error "_user_ has private messaging disabled ..."
- I then refreshed and added another user and then added that same user, tried to send. Still got the same error on the same user.
- Af

[2020-12-31 15:39] Matslom commented on #4136
Isn't this currently available through `$optionbg`? For row that indicates user chosen option `$optionbg` is equal `trow2`, `trow1` otherwise. See https://github.com/mybb/mybb/blob/feature/showthread.php#L562-L566

[2021-01-01 03:35] martec commented on #4180
Isn't it just getting the original code from the sceditor that solves it?

find https://github.com/mybb/mybb/blob/feature/jscripts/bbcodes_sceditor.js#L543-L551

[code]

replace (base of code https://github.com/samclarke/SCEditor/blob/master/src/formats/bbcode.js#L571-L580)

[code]

Ps. Untested code....

[2021-01-01 03:46] ghost commented on #4078
There is a workaround:

add two replace calls before return the message in "\inc\class_parser.php"
`
function parse_message(...)
{
$message = str_replace("[img]", "<img src='", $message);
$message = str_replace("[/img]", "' />", $message);
return $message;
}`

[2021-01-04 16:35] #4156 closed, assigned to nobody

[2021-01-04 17:11] effone opened #4219 "Password Length Settings"
In ACP > Login and Registration Options, Minimum Password Length (`minpasswordlength`) can be set greater than Maximum Password Length (`maxpasswordlength`).
There is no validation in place. Resulting user impossible to register.

[2021-01-04 17:15] Xazin commented on #4219
The same would be the case for (`minnamelength`) and (`maxnamelength`)

[2021-01-04 17:35] Xazin commented on #4219
Possibly adding something like _below_ to settings.php _(line: 967)_
[code]

and remembering the config_settings.lang.php file:
[code]

[2021-01-04 18:27] effone commented on #4219
Is `0` input validated? Its validated at frontend though through native form validation.

[2021-01-04 19:52] Xazin commented on #4219
I believe there are some validation, if you manipulate the front-end to set the values to 0, it gets set to 1 (back-end).

_Note: Since 1 is the lowest value, minnamelength and minpasswordlength set to 1 will always be acceptable._

[2021-01-05 20:09] #4181 closed, assigned to Starpaul20

[2021-01-06 12:52] dragonexpert commented on #4206
Not sure if you are aware that fetch_array has a second parameter which determines what result type to return, I will have to look into if Object is a valid type.  The value is the constant name for the class such as MYSQLI_ASSOC.  I will at least work on the fetch methods though since those shouldn't be too time consuming.  I'll have to refresh myself on how to do prepared statements because it h

[2021-01-06 14:49] euantorano commented on #4206
Yeah, I was aware of fetch_array()’s second parameter but the name is a bit misleading if we use it to fetch objects.

If you need any help or anything just let me know :)

On Wed, 6 Jan 2021, at 12:52, dragonexpert wrote:

[2021-01-06 15:05] dragonexpert commented on #4206
I have the various fetch functions completed.  I have tested mysqli because that is what my environment is.  [My Output](http://teamdimensional.net/testforums/test.php).  I do not have an environment set up to test the other database classes, but on my fork, I did the changes to the various db files.

[2021-01-06 15:34] dragonexpert commented on #4206
I'm thinking for the prepared statements, that there should be one generic prepare_statement function.
function prepare_statement($sql, $params);

The sql should be generated by the explicit method.  $params would have to be an associative array of column_name => column_value.  This way we can recycle code since it can get lengthy really fast and it would reduce the chance of errors if all the bin

[2021-01-06 16:50] euantorano commented on #4206
@dragonexpert Looks good so far!

RE binding: I think we need to have an option to simply prepare without parameters and bind parameters at a later stage. My thought process for this is for operations like bulk inserts - here, it is useful to prepare a statement once, then execute it multiple times with different data each time. Here's an example API:

[code]

In order to make this work with the `

[2021-01-06 17:33] effone commented on #4219
Also to note here, if the requirement is set to have complex password then the lowest value must be 3 in place of 1 as complex password needs minimum 1 uppercase letter, 1 lowercase letter and 1 number. In that case hard reset of value to 1 will not work, a proper validation should be in place.

[2021-01-07 01:14] dragonexpert commented on #4206
Can I have someone test db_pgsql.php and db_sqlite.php?  The main one I'm not certain about is PGSQL because PHPStorm complains that I have too many arguments for pg_fetch_object, but php.net says it can take 4.

[2021-01-07 13:23] effone commented on #4206
Sorry for jumping in, but:
[code]

Instead of the above; the following is more friendly to me:
[code]

[2021-01-07 15:12] euantorano commented on #4206
@effone I agree, but that's probably something for further down the line as it's a much bigger change in syntax. That syntax is similar to other query builders like [Atlas.Query](https://github.com/atlasphp/Atlas.Query) and is the direction I'd like to head in in the future.

[2021-01-07 15:13] euantorano commented on #4206
I'll do some testing either today or tomorrow, no problem 👍

[2021-01-07 20:06] Eldenroot opened #4220 "Showthread.php - wrong lang variable"
https://github.com/mybb/mybb/blob/feature/showthread.php#L1550

[2021-01-07 20:10] Eldenroot opened #4222 "Missing cache rebuild on delete report reasons"
https://github.com/mybb/mybb/blob/feature/admin/modules/config/report_reasons.php#L271

[2021-01-07 20:14] Eldenroot opened #4224 "Functions.php - add a new hook"
A proposal to add a new hook for plugin developers around line https://github.com/mybb/mybb/blob/feature/inc/functions.php#L1809

[2021-01-07 22:38] Ben-MyBB commented on #4220
Good spot. I'm suprised this hasn't been noticed before now. Looks good @Sama34

[2021-01-08 10:43] Ben-MyBB opened #4226 "An option to turn off `nl2br()` for custom MyCodes"
Some custom MyCodes like printing HTML codes using &lt;pre&gt; may have the issue of outputting &lt;br /&gt;for raw line breaks.

There are several threads demanding an option to disable nl2br() function in MyCode parsing:
https://community.mybb.com/thread-201870.html
https://community.mybb.com/thread-203937.html
https://community.mybb.com/thread-205148.html
https://community.mybb.com/thread-23005

[2021-01-08 10:48] Ben-MyBB opened #4227 "Subscription method check status is never set in new thread page"
Seems like the following variables are never set properly.
$subscribe = $nonesubscribe = $emailsubscribe = $pmsubscribe = '';https://github.com/mybb/mybb/blob/48e107bc1a0a617e7c3fcbd38dce4c1c18b18f43/newthread.php#L622

Original thread: [Subscription method check status is never set in new thread page](https://community.mybb.com/thread-230261.html)

[2021-01-08 16:53] Eldenroot opened #4228 "maillogs.php - add a new hook for logs"
Check this comment:

https://github.com/mybb/mybb/pull/4185#issuecomment-745270580

The plugin hook is missing.

[2021-01-09 07:27] Ben-MyBB opened #4230 "Plugins can't return *empty* values to hooks."
In https://github.com/mybb/mybb/blob/mybb_1...s.php#L145 , the returned value is checked just using if:if($return_args)

That means     &quot;&quot; (an empty string)
    0 (0 as an integer)
    0.0 (0 as a float)
    &quot;0&quot; (0 as a string)
    NULL
    FALSE
    array() (an empty array)

can't be returned by plugins and that's too restrictive.

IMO we should check the returned value using

[2021-01-09 08:27] lairdshaw commented on #4230
My guess is that `call_user_func_array()` is used here because it allows the argument (whether a scalar variable, or an array, or whatever) to the hooking-in function to be passed by reference, which is not possible for `call_user_func()`. As the manual page to which you link says: "Note that the parameters for call_user_func() are not passed by reference."

[2021-01-09 09:28] euantorano commented on #4230
Yes, I believe that is exactly the reason.

I’ll also note that returning values from plugins is almost never needed, since you can achieve the exact same thing using parameters by reference. In fact, the 1.9 version doesn’t support return values at all (and actually adds some extra functionality): https://github.com/mybb/mybb/blob/develop/1.9/inc/src/Plugins/HookManager.php#L136

I will open a PR

[2021-01-09 16:51] dvz commented on #4230
It might be better to limit such changes to 1.x releases, especially if they are more obscure and may affect plugin behavior without anyone noticing.

[2021-01-11 07:44] Ben-MyBB opened #4231 "[color] tags with rgba() colour spec are unrendered"
e.g., [color=rgba(224, 224, 224, 0.8)]The color tag surrounding this text will not render[/color].

This bug was reported on Discord.

I'm not sure how the rgba() colour specification got there in the first place; presumably it was due to a copy-n-paste operation of rich text.

Neither the editor (as part of its colour normalisation) nor the MyBB parser currently handle rgba() colour specification

[2021-01-11 09:53] Eldenroot commented on #4231
There are about 10+ issues related to sceditor, I dont know your internal plans for MyBB 1.9, but maybe we should consider to replace sceditor in 1.9 and maybe some blog post about mybb 1.9 dev progress would be nice. Also consider if somebody can fix these bugs for MyBB 1.8... This is the major issue and many people have problem with this when using MyBB, because editor is the first thing which i

[2021-01-11 11:17] euantorano commented on #4231
The plan for 1.9 has always been to replace SCEditor. There is a thread on the forums regarding it. It's still not 100% chosen exactly what to replace it with.

For 1.8, the plan is to fix as many of the bugs as we possibly can with SCEditor - hence why we forked it to the mybb organisation.

In this case, the problem isn't with SCEditor but with the core post parser which is MyBB specific code.

[2021-01-11 18:56] Sama34 opened #4232 "Avatar Upload - Wrong Error Message"
First disable the "Allow Remote Avatars" option from ACP.

Now go to UCP &gt; Change Avatar : The input field for remote avatar URL will be hidden. Only the local file input will be available.

Don't select any image file to upload, just hit "Change Avatar" button. You will get this error message in place of missing image alert:

Please correct the following errors before continuing:Remote avatar

[2021-01-12 04:41] lairdshaw commented on #4231
I don't think this is an especially difficult bug to fix - we can just add support for 8-digit hex RGBA specs to the parser, and support in `jscripts/bbcodes_sceditor.js` for converting `rgba()` to 8-digit hex. I think for the Javascript though that it's best to build on the `_normaliseColour(colorStr)` function copied into that .js file from the core SCEditor in PR #4186, so I won't submit a fix

[2021-01-12 17:28] Eldenroot commented on #4231
Need to speed up merging and testing, thats all...

[2021-01-12 17:37] #4182 closed, assigned to nobody

[2021-01-12 17:37] #4184 closed, assigned to nobody

[2021-01-12 17:37] euantorano commented on #4231
I'm going as fast as I can, sorry!

[2021-01-12 17:42] Eldenroot commented on #4231
Euan it is not against you! MyBB dev team has a lot of talented users who can test and provide feedback... There are many ways how to improve it, check Flarum trainee for example, they had same issue with small activy in the dev team and now they have a lot of new devs...

[2021-01-13 06:29] #4220 closed, assigned to nobody

[2021-01-13 06:42] Sama34 commented on #4231
I think adding support for `rgba()` is reasonable.

[2021-01-13 12:27] dvz commented on #4231
IMO we should keep MyCode parsing as simple as possible - it will have to be supported for a long time.

Transparency seems unnecessary for most boards (custom colors already cause readability and spam issues when overused).

[2021-01-13 18:42] lairdshaw commented on #4231
Agreed that MyCode parsing should be kept as simple as possible, and that transparency is unnecessary. We would not be adding support because we wanted to offer extended parsing, but because it is unavoidable: sometimes, presumably during copy-n-paste, the browser and editor conspire to generate an rgba() color specification, and if we don't handle this situation, the associated `color` tag doesn'

[2021-01-13 18:47] dvz commented on #4231
If you mean handling this client-side only (convert to hex and remove transparency) - that sounds good.

[2021-01-13 20:02] Sama34 commented on #4231
Also, unsure if already checked, but I think administrators should be able to create their own MyCodes that overwrites core ones, in this case the color one.

Which would make it unnecessary for us to add it in core.

[2021-01-13 22:39] lairdshaw commented on #4231
@dvz @Sama34 Happy to restrict rgba() support to the client, which my PR does.

[2021-01-14 01:45] Sama34 opened #4236 "Translators should be able to link their communities for special use cases"
This has already been quick-discussed but comments are welcome.

Basically, regardless of the board language MyBB always links to the official website for support. Translators should be able to embed their support links for this.

[2021-01-14 07:38] Sama34 opened #4238 "Add commit hook to attachments forum module (ACP)"

[2021-01-14 12:16] #4224 closed, assigned to nobody

[2021-01-14 12:18] #4236 closed, assigned to Sama34

[2021-01-14 18:50] #4222 closed, assigned to nobody

[2021-01-14 18:53] awslabspl commented on #4227
how should these `vars` be set?

[2021-01-14 19:41] Eldenroot commented on #4202
Maybe together with #4095 to fully support php 8?

[2021-01-14 20:54] effone commented on #4227
Its about how you understand `properly`.

[2021-01-15 08:16] awslabspl commented on #4227
@effone what do you mean?

[2021-01-18 21:50] Sama34 commented on #4227
The report was made because although the variables are initiated correctly, it appeared like they were never updated.

Now, analyzing the code you find they are:
https://github.com/mybb/mybb/blob/48e107bc1a0a617e7c3fcbd38dce4c1c18b18f43/newthread.php#L683

This is IMO ugly. However, even though the report now seems invalid, the variables didn't work for when I decided to open the issue. If somebod

[2021-01-19 00:00] awslabspl commented on #4227
Whats going on here? Are you @Ben-MyBB ? Because its Ben who opened this issue.........
Regardless: Analyzing the flow of this issue, Im confused; whats the main goal of all this? @Ben-MyBB what was your original way of thinking here?

[2021-01-19 20:46] Sama34 commented on #4227
@awslabspl if you follow the links in the main post of this issue you will figure out I was the original reporter of this issue.

I did check again and it seems the issue is still valid, you can check in the community while creating a new thread. The `Thread Subscription` radio option you select isn't kept after you click the "preview" button. even though the template seems to be valid:
https://gi

[2021-01-19 20:50] awslabspl commented on #4227
@Sama34 I have no way of checking this out on community as I dont have account there............

[2021-01-19 20:58] Sama34 commented on #4227
You don't need an account as you could install the software in your own setup. If it is working in your own setup then that would be enough of a contribution to determine which the issue is.

I encounter this issue in both the official community and my own forum.

[2021-01-19 21:15] awslabspl commented on #4227
@Sama34 Wilk test it Ghana ( probably tommorow ) Andrzej report back. Thanks 😀

[2021-01-22 08:00] martec commented on #3090
https://github.com/mybb/mybb/issues/4231 related?

[2021-01-22 08:05] euantorano commented on #3090
@martec yes. I’ll close this issue.

On Fri, 22 Jan 2021, at 08:00, martec wrote:

[2021-01-22 08:05] #3090 closed

[2021-01-23 21:52] Sama34 opened #4240 "Images are unviewable but rendered"
Under Settings -&gt; Attachments -&gt; Show Attached Thumbnails in Posts -&gt; Full Size Image

If the user can't download images these are rendered anyways.

If the user can't download the full image it might be better to render the thumbnail.

Original thread: [Images are unviewable but rendered](https://community.mybb.com/thread-230845.html)

[2021-01-24 00:43] awslabspl commented on #4240
Fully agree on this. Will be faster and more resource friendly

[2021-01-24 00:44] awslabspl commented on #4238
What's your goal with this?

[2021-01-25 23:06] andrewjs18 commented on #4240
if a user/group doesn't have the permission needed to download a full-sized image attachment, why should they see the thumbnail?  that seems counterintuitive to having permissions in the first place.  instead, I think we should display some sort of general thumbnail  with an error message (or something like that) if the user doesn't have proper permissions.

[2021-01-26 15:50] lairdshaw commented on #4240
I agree with @andrewjs18.

[2021-01-26 19:56] Arman-91 opened #4243 "mybb"
MyBB is the free and open source forum software powering thousands of engaging, vibrant, and unique communities across the internet.

[2021-01-26 20:03] tensor5g commented on #4243
And that's a problem, why?

[2021-01-26 20:03] #4243 closed, assigned to nobody

[2021-01-27 01:45] Sama34 commented on #4240
So I suppose that if using the thumbnail setting a stock thumbnail should be displayed, if using a full image probably the same image in different dimensions. (So only one extra image would be added to the package.)

[2021-01-30 21:28] euantorano commented on #4202
I think it’s not only needed for PHP < 5.2, but also versions that need a PHP extension for JSON support.

[2021-01-30 21:30] #4238 closed, assigned to Sama34

[2021-01-30 21:38] #4232 closed, assigned to effone

[2021-01-30 21:43] #3738 closed

[2021-01-30 21:44] effone commented on #4202
I didn't exactly get what you said. As per PHP doc JSON is supported in all versions  >= 5.2.0

[2021-01-30 21:49] euantorano commented on #4202
See some of the comments here: https://www.php.net/manual/en/json.installation.php

on some versions of PHP on some operating systems you have to install a `php-json` extension to get the JSON functions.

The PHP documentation suggests it should always be available but it doesn’t seem to be on some systems and versions.

Don’t get me wrong though - I would definitely love to remove it, just got to

[2021-01-30 22:06] effone commented on #4202
OK. Better not to invite trouble removing a file which is there for long.
This can be closed.

[2021-01-30 22:06] #4202 closed, assigned to nobody

[2021-02-02 03:44] effone opened #4244 "Conflicted Birthday Privacy"
Profile settings - birthday silently accepts "Display only age" as privacy while having birthday provided without a year, which is practically impossible.

The age input should be required field while "Display only age" is set.

[2021-02-02 08:19] awslabspl commented on #4244
Agree. But I wouldnt say its a low priority thing.......

[2021-02-02 11:06] #4244 closed, assigned to nobody

[2021-02-02 11:19] effone commented on #4015
Just a note to put here, I am willing to implement a date validation function affecting all date inputs in MyBB.
Currently MyBB accepts impossible dates like `31-2-2020` (d-m-Y)

[2021-02-02 13:30] awslabspl commented on #4015
Haha. Thats kind of `ahead-of-time` experience 🥇

[2021-02-06 22:03] #3721 closed

[2021-02-07 14:16] #4228 closed, assigned to nobody

[2021-02-07 14:38] #4219 closed, assigned to nobody

[2021-02-07 15:34] #4231 closed, assigned to nobody

[2021-02-07 16:43] #4060 closed

[2021-02-07 17:23] #4103 closed, assigned to JordanMussi

[2021-02-07 17:24] #4048 closed

[2021-02-07 18:38] #4033 closed

[2021-02-07 19:29] #3804 closed

[2021-02-07 19:32] euantorano opened #4247 "Attachment thumbnails aren't properly split into multiple lines"
As mentioned [here](https://github.com/mybb/mybb/pull/4242#discussion_r571623405), attachment thumbnails are meant to be split into 5 per line, but the code isn't correct for doing so - rather than appending to `$post['thumblist']`, a variable called `$thumblist` is sued:

- https://github.com/mybb/mybb/blob/feature/inc/functions_post.php#L1013
- https://github.com/mybb/mybb/blob/feature/inc/funct

[2021-02-08 06:02] clarkolivia321 commented on #138
Oh really, you all are right but we have to know that technologies take place for the development of their services giving to the peoples of all over the world, in this way [buy cryptocurrency exchange software](https://cryptoexchangesoftware.net/) because it is the best suggestions for all, as to enhance the social life, they are giving the best, easy and simple ways of services which is essentia

[2021-02-08 22:39] Sama34 commented on #4240
@euantorano @Xazin

Hi, we appreciate @Xazin contribution, but I need to clarify this is no by any means what I meant.

I still need to test this, but if I'm correct by reading the code, this will ignore any `[attachment=x]` tag inserted into the post for attachments that are images. This will result into us changing the user content somehow as they decided to paste the attachment into the message

[2021-02-09 08:08] euantorano commented on #4240
Ok, yeah I totally misunderstood the issue I think. We might need to take another pass at this for 1.8.26 then.

On Mon, 8 Feb 2021, at 22:39, Omar Gonzalez wrote:

[2021-02-09 19:35] Eldenroot opened #4249 "usercp_themeselector template is not cached"
![image](https://user-images.githubusercontent.com/778890/107417857-4968f580-6b16-11eb-8ff3-1112703eb06f.png)

[2021-02-09 19:53] #4249 closed, assigned to nobody

[2021-02-10 16:05] Eldenroot opened #4250 "report_reasons.php - wrong lang variable"
admin/modules/config/report_reasons.php line 222

$form_container = new FormContainer($lang->add_new_reason);

should be

$form_container = new FormContainer($lang->edit_reason);

[2021-02-10 21:19] #4250 closed, assigned to nobody

[2021-02-16 01:33] Sama34 commented on #4240
Should we reopen this or do we handle a new issue?

[2021-02-16 07:03] euantorano commented on #4240
I think we hold reopen this.

On Tue, 16 Feb 2021, at 01:33, Omar Gonzalez wrote:

[2021-02-16 11:14] dvz opened #4252 "Add canonical URL declaration"
Add `<link>` or HTTP header with a [`canonical` preferred URL](https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/rel#attr-canonical) to pages with content that may be available through multiple URLs (especially useful with _search engine friendly URLs_ redirects https://github.com/mybb/mybb/blob/mybb_1824/htaccess.txt#L25-L47).

https://developers.google.com/search/docs/advanced/crawlin

[2021-02-19 04:31] dvz opened #4253 "Use cached values for calculating thread count in forum view"
The number of threads counted using a single query at https://github.com/mybb/mybb/blob/mybb_1824/forumdisplay.php#L610 can be optimized by taking advantage of visible, soft-deleted, and unapproved thread counts available in the `mybb_forums` table, depending on the user's permissions.

Similar solution was removed in https://github.com/mybb/mybb/pull/3190/files

Regression after #3190

[2021-02-19 05:12] Sama34 commented on #4253
Wasn't this accepted in part because counter bugs were common with the former code? I haven't seen a pagination report being posted in a while now.

[2021-02-19 08:35] effone opened #4254 "issue with recount&rebuild in admincp"
Hello,

When i try to rebuild attachment thumbnails it gives me a white blank page without any error message not even in the PHP error_log so to get a clue about what is causing the issue i open /admin/modules/tools/recount_rebuild.php and add the top i add

error_reporting(E_ALL);
ini_set(&quot;display_errors&quot;,1);
when i try again it shows me Notice: Undefined index: channels in functions_im

[2021-02-19 08:54] effone commented on #4254
Note, same applies for `bits` as well. Need to address both `channels` and `bits`.

[2021-02-19 09:09] euantorano commented on #4254
Looks like there's already some code in for `channels`: https://github.com/mybb/mybb/blob/feature/inc/functions_image.php#L37

There isn't anything for `bits` though.

[2021-02-19 14:16] dvz commented on #4253
It looks like the problems were related to filtering by thread prefix, which wasn't accounted for at https://github.com/mybb/mybb/blob/mybb_1815/forumdisplay.php#L615

[2021-02-20 13:32] Eldenroot opened #4256 "New plugin hook - reputation.php"
Around line 560 for delete reputation in reputation.php

[2021-02-20 16:16] Walter-Correa opened #4258 "Not possible to remove signature length limit"
"_The maximum number of characters a user can place in a signature. Set to 0 to disable the limitation._"

**If you set 0:** "_You cannot update your signature because it is too long. The maximum length for signatures is 0 characters._"

But wasn't 0 to remove the limit?

[2021-02-20 16:27] awslabspl commented on #4258
@Walter-Correa Ive noticed this too.....

[2021-02-20 16:47] dvz commented on #4258
Regression after #2347 (`0` check removed at https://github.com/mybb/mybb/pull/2347/files#diff-f7fdbf357a321ef157867099148616d4fda48504a761d7db5aca5d3076cd293cL93)

No limit feature description added at https://github.com/mybb/mybb/pull/2526/files#diff-066cb7349a723bf1fe1b43f9a87d1c12bc560e51cd10ba02247fabf730834c89R1082

[2021-02-20 17:21] Eldenroot commented on #4258
Regression :(

[2021-02-21 05:47] Sama34 commented on #4240
Contrary to my last posts, the fix from #4242 was on the right track, it just needs more enhancement.

[2021-02-22 00:48] Sama34 commented on #4252
Variables containing urls (forum, thread, user, etc) should also be set at the global scope, currently there is no such variables for admins to use in the appropriate templates. We could also add extra variables with `?` or `&` appended based on the current URL.

[2021-02-22 23:30] Walter-Correa opened #4262 "Add options to prevent spiders and thread autor from increasing thread view count"
I found a solution here: https://community.mybb.com/post-882217.html

But I ask why is there not an option in the settings to prevent this or even a standard configuration like the one above?

[2021-02-23 08:43] Eldenroot commented on #4262
I can open a PR, I think it should be in core.

[2021-02-23 09:22] euantorano commented on #4262
Yes, would be a useful addition to the core, with a setting. The setting should be whether to include guest/bot views, and should default to being switched off.

[2021-02-23 14:59] Xazin commented on #4254
From what I can tell, as Euan said, there is indeed missing an isset() check for bits, since when using getimagesize() not all type of files return channel and bits.

So in reality, the user is using MyBB 1.8.24, whereas the channel is being correctly checked in the feature branch and not in the version he is using. A check for bits should be implemented as well, which will solve the bug.

[2021-02-23 15:08] Walter-Correa opened #4264 "I can't use Admin CP on mobile"
After logging in to Admin CP the page loads and goes to Admin CP> Home, but if I try to access any other page it asks to login again.

[2021-02-23 15:25] Xazin commented on #4180
@euantorano @Sama34

Opinion on how you want this handled?

I played around with what Martec commented and did some testing, there doesn't seem to be an issue with bringing back the source as Martec mentioned.

_(It's at least 1-2 weeks since I tested, and I don't remember using exactly the code he posted)_

[2021-02-23 15:33] Xazin commented on #4264
I'm not able to recreate the issue.

Tested on iPad Pro, iPhone 11 Pro Max.

I don't have an android lying around, can you share the device, os version, browser, etc.?

[2021-02-23 15:57] euantorano commented on #4264
This may also be cookie related, please post your site's URL and the cookie settings you've got set. For more information, see here: https://docs.mybb.com/1.8/faq/login-problems/

[2021-02-23 15:57] #4254 closed, assigned to nobody

[2021-02-23 16:17] Ben-MyBB opened #4265 "Plugins' Master stylesheets deleted on core upgrade"
Reporting this as a bug per frostschutz's suggestion in my original thread by the same name in the Plugin Development forum. This is an only slightly edited version of that post to remove parts irrelevant to the bug report:

For a while now I've noticed that often after upgrading MyBB to the latest version, some of my plugins lose their styling.

After digging around in the code, I think I've iden

[2021-02-23 16:19] Xazin commented on #4132
Before I create a pr for this, I have a feeling something is missing, can someone check?

https://github.com/Xazin/mybb/blob/3e7fc232d951e4162fd36cb2f8e9c57cb2812693/inc/datahandlers/user.php#L1155

[2021-02-23 16:24] Xazin commented on #4265
To sum it up, master stylesheets are reverted to their original (wrong behavior) during the upgrade. Whereas children's stylesheets that don't inherit specific master stylesheets are not reverted (correct behavior).

[2021-02-23 17:24] euantorano commented on #4132
I __think__ that should be it.

Regarding the earlier Discord discussion about escaping binary contents, the way they're handled is a little odd.

There is a field called [`$binary_fields` in the `MyBB` class](https://github.com/Xazin/mybb/blob/feature/inc/class_core.php#L159). The database methods [then check](https://github.com/Xazin/mybb/blob/feature/inc/db_mysqli.php#L814) this field when doin

[2021-02-23 17:54] lairdshaw commented on #4265
Take this with a grain of salt, 'cos I'm far from an expert on templates and themes, and it's been a while since I filed this bug report on the Community forums, but I'm not sure that you've summed up the problem correctly, @Xazin:

I actually don't think that this is wrong behaviour _except_ as it applies to the master stylesheets of _plugins_ (on which for more, see below). After all, (if I unde

[2021-02-23 18:33] Eldenroot commented on #4262
Guys, PR is ready :)

[2021-02-23 19:24] dvz commented on #4262
It may be more sensible to only exclude bots by default (or none, to preserve current behavior, but add customization).

[2021-02-23 19:27] Walter-Correa commented on #4264
Solved, thank you!

[2021-02-23 19:39] Sama34 opened #4267 "Add word filters pagination"
My forum need to add thousands of word filters, mybb version is 1.8.24.

But mybb default word filtering is not paging, which will leads to very lengthy and slow loading.

Want pagenation like this

In badwords.php

$query = $db-&gt;simple_select(&quot;badwords&quot;, &quot;*&quot;, &quot;&quot;, array(&quot;order_by&quot; =&gt; &quot;badword&quot;, &quot;order_dir&quot; =&gt; &quot;asc&quot;));

[2021-02-23 19:57] Sama34 commented on #3540
https://github.com/mybb/mybb/issues/3540#issuecomment-643509756

I think we need to go back and review this.

[2021-02-23 20:01] Eldenroot commented on #4262
OK, I have changed the default options.

Exclude spiders by default, guest and thread authors are included.

[2021-02-24 04:47] Sama34 commented on #4180
I'm confused by the report.

MyBB syntax for image sizes is either `[img=nxn]src[/img]` or `[img=nxn align=(left|right)]src[/img]`
https://github.com/mybb/mybb/blob/49da5b92f11108ba0d0b6412c41317d60f02d0c0/inc/class_parser.php#L458-L467

Unfortunately, this is how it works in MyBB.

From the list below only the last one should work and be parsed by the editor, the former four should be ignored by

[2021-02-24 05:02] martec commented on #4180
@Sama34

since mybb 1.8.23 https://github.com/mybb/mybb/commit/d71828a2528806c82f317e0428d3239ca3511f7b#diff-9b35a29949a0a750bac144569a549a16b33490230fbee9f5f02b41dd0823e3c5 made a change in the editor code to resolve another bug.
Before than 1.8.23 the editor used original source code for image tag.  Which calculated the height and width size independently if the user provided one of these argume

[2021-02-24 06:14] Sama34 commented on #4180
There is a contradiction with the original report.

As I understand it, OP is suggesting that `[img=700]src[/img]` should be as valid as  `[img=700x700]src[/img]`, requiring only one value instead of both (please note the parser doesn't use `width=` nor `height=`), which makes no sense when contrasted to the parser.

My suggestion to this would be the following:
* Allow only for the last two, and

[2021-02-24 06:18] martec commented on #4180
@Sama34

sorry if i got it wrong, but my understanding and what i posted. Since the author says that this worked as it should until mybb 1.8.22.

[2021-02-24 07:05] #4264 closed, assigned to nobody

[2021-02-24 07:20] Walter-Correa opened #4269 "Meta tags is not working"
Meta tags are only working if I put inside the **{$headerinclude}** template:
[code]
But if I use the same meta tags inside **forumdisplay** template it has no effect!

[2021-02-24 08:15] Eldenroot commented on #4269
It is not a core feature, so I think it is not a valid bug report. Also report bugs on mybb forum, not here.

SEO and meta tags are handled via plugins.

[2021-02-24 08:20] euantorano commented on #4269
They should work within the `forumdisplay` template, so long as you insert the tags before `</head>`.

[2021-02-24 09:59] Xazin commented on #4265
Hmm, I'm split.

This sums it up since any and all master stylesheets are reverted.

For any master stylesheet other than default to be reverted, it should be described in the documentation somewhere. Plugin or theme. I couldn't find anywhere that a theme's master stylesheet will be reverted upon upgrade, it is lethal information as it is not 'second-hand nature' for most people to work in child t

[2021-02-24 14:58] #4256 closed, assigned to nobody

[2021-02-24 15:20] dvz opened #4270 "Timezone select, UCP's Thread Subscriptions list output overwritten"
Some variable concatenating assignment operators `.=` were incorrectly changed to assignment operators `=` in #4095, resulting in overwriting of loop iteration data.

- timezone select input: https://github.com/mybb/mybb/blob/105efd28476ed23a84d111026eaec314e6c583b8/usercp.php#L4452, modified via https://github.com/mybb/mybb/commit/1db7d2d5b38bf2d8f04c6b2fe23b32f1ed777731#diff-f7fdbf357a321ef15786

[2021-02-24 15:46] #4269 closed, assigned to nobody

[2021-02-24 17:00] lairdshaw commented on #4265
Hey @Xazin,

I hope somebody will correct me if I'm wrong, but in my understanding, when you edit a stylesheet via the ACP, you necessarily edit a _copy_ of its Master stylesheet: it is impossible to actually edit a Master stylesheet _itself_ via the ACP. So, when core Master stylesheets are upgraded during core upgrades (deleted and then new versions inserted), this does _not_ affect any edits yo

[2021-02-24 17:33] Ben-MyBB opened #4271 "IP Ban list in the ACP no pagination"
There is no pagination list in the ACP IP ban list which can lead to a very long page.

Original thread: [IP Ban list in the ACP no pagination](https://community.mybb.com/thread-231396.html)

[2021-02-24 17:35] Ben-MyBB commented on #4271
Related: https://github.com/mybb/mybb/issues/4267

I know there is some other places in the ACP that have this issue but this location seems to be the worst given the number of IP bans a forum can have, the community forums being a good example.

[2021-02-24 20:23] Ben-MyBB opened #4272 "functions_upload issues ..."
In our file handling function script functions_upload.php following issues are found:

function upload_avatar() : $db is declared global but never used in function.

function upload_file() : $mybb is declared global but never used in function.

function upload_attachment() : $theme &amp; $templates are declared global but never used in function. In the same function variable $allowed_mime_types =

[2021-02-24 20:59] Eldenroot commented on #4015
@Ben-MyBB - are you willing to continue with this?

[2021-02-24 21:06] Ben-MyBB commented on #4015
@Eldenroot I probably don't have the time to continue this one for now so I've unassigned myself, feel free to complete if you wish.

[2021-02-24 21:23] Eldenroot opened #4274 "Settings - Disabling nesting quotes - fix description"
The description is unclear. 0 means to disable the limit, not to disable the feature itself. It is regression.

https://community.mybb.com/thread-231315.html

[2021-02-25 13:15] #4274 closed, assigned to nobody

[2021-02-25 13:17] #4267 closed, assigned to Starpaul20

[2021-02-25 20:42] #4258 closed, assigned to Starpaul20

[2021-02-25 20:53] Ben-MyBB opened #4277 "Who is online limit (per page) setting is taken from thread settings"
The who is online list limit (per page) setting is taken from the show thread setting group, which makes no sense whatsoever  🤪

https://github.com/mybb/mybb/blob/66dca7...hp#L47-L53

It should have its own setting.

Original thread: [Who is online limit (per page) setting is taken from thread settings](https://community.mybb.com/thread-231404.html)

[2021-02-25 20:53] Ben-MyBB commented on #4277
@Eldenroot Not sure if this is one you'd like to tackle, if not I probably can at some point

[2021-02-25 20:56] Eldenroot commented on #4277
@Ben-MyBB - feel free to open a PR. Right now I am working on a different issue. Thank you!

[2021-02-25 21:00] Sama34 commented on #4277
You can use the assignment tool of Github 😛

[2021-02-25 22:34] dvz opened #4278 "`isdefault` set to 0 for some default settings"
The `<isdefault>` value of certain default settings is incorrectly set to `0` instead of `1`.

- https://github.com/mybb/mybb/blob/8b22ad19b64acc14418b4dec3e19ec5b0f349b6a/install/resources/settings.xml#L1049
- https://github.com/mybb/mybb/blob/8b22ad19b64acc14418b4dec3e19ec5b0f349b6a/install/resources/settings.xml#L1869
- https://github.com/mybb/mybb/blob/8b22ad19b64acc14418b4dec3e19ec5b0f349b6a/

[2021-02-25 23:17] lairdshaw commented on #4278
Good catches.

Incidentally, I had a dig around in the code yesterday to try to understand the meaning of this property. It seems in effect to simply control whether the setting is editable or not in the ACP (its configuration, as in `title`, `description`, etc - obviously, setting _values_ are editable no matter what). 0 seems to correspond with "can be edited" and 1 with "is immutable". I don't

[2021-02-25 23:58] dvz commented on #4278
The codebase relies on the consistency of default settings (existence, types, allowed values) - allowing modification would go beyond reasonable extensibility and could cause unexpected behavior, errors, and security problems (e.g. some setting values are unfortunately not escaped nor sanitized for output / usage in SQL queries).

It looks like flags for individual settings were introduced in MyBB

[2021-02-25 23:58] #4278 closed, assigned to Starpaul20

[2021-02-26 00:09] lairdshaw commented on #4278
Thanks for the detailed explanation. It seems that plugin developers really do need to make sure that they (we) always set `isdefault` to zero.

[2021-02-26 05:15] effone opened #4280 "Incorrect name used for `upload_max_filesize` PHP directive"
It started in this thread, because something was not clear to me.
https://community.mybb.com/thread-231391.html

In pursuing it, I notice code is trying to pull a php directive, but it is not right.

Lots of people have viewed the thread but no one has replied. The thread will fall out of sight with no replies, so I am pointing out the error here.

Original thread: [incorrect php directive called]

[2021-02-26 06:35] effone opened #4282 "Language-dependent Prefix"
It is a great benefit to create language-dependent prefixes for use in a multilingual forum environment.

Realisation seems kinda tricky as the standard language packs should better not be touched for prefixes.
So another suggestion needs to think up for such a feature...
- Maybe using a reserved prefix.lang. This prefix.lang may contain some example prefixes and can be filled up with own ones.
-

[2021-02-26 17:18] TRSx80 commented on #3768
I think I might be experiencing this as well.

I had made a post on Pine64 forum (they use mybb), and it was [there](https://forum.pine64.org/showthread.php?tid=13220&pid=90446#pid90446) that their sysadmin (fire219) actually pointed me towards this issue.

As reported in that thread, I am using Firefox 78.7.0esr (64-bit) on Debian Testing.  The detailed description of my symptoms can be seen in m

[2021-02-26 17:32] euantorano commented on #3768
It might be a good idea to migrate this issue to the forked repository. I need to try and find some time to test this and see if I can find the cause.

[2021-02-26 17:35] euantorano commented on #3768
It might also be a good idea to see if this issue is fixed with some of the recent commits to [the main SCEditor repository](https://github.com/samclarke/SCEditor/commits/master) now that it seems to be receiving active development again...

I'll update our fork this weekend and try updating it in the core so we can see if it helps and if so it'll make its way into 1.8.26.

[2021-02-26 21:49] Eldenroot commented on #4277
OK, should be done :)

[2021-02-26 21:57] Eldenroot commented on #4136
I think this one can be solved with adding different than trow2 css class. What do you think?

[2021-02-27 21:20] Starpaul20 opened #4285 "Add pagination to certain Admin CP locations"
Pagination should be added to the following locations in the Admin CP:

- [x] Attachment Types
- [x] MyCodes
- [x] Spiders
- [x] Security Questions

Related: #4267 & #4271

[2021-03-02 12:08] #4270 closed, assigned to Ben-MyBB

[2021-03-02 12:10] #4209 closed, assigned to nobody

[2021-03-02 12:19] #4253 closed, assigned to nobody

[2021-03-02 12:31] #4285 closed, assigned to Starpaul20

[2021-03-02 22:19] ThatDataGuyScott commented on #4078
This worked beautifully, thank you.

[2021-03-03 16:02] Eldenroot commented on #4150
I tried to reproduce too but without success. Could you give us more info?

[2021-03-03 16:52] Eldenroot commented on #1894
Would be nice, because soft deletion is not always the best solution and you wanna delete permanently.

[2021-03-03 17:12] euantorano commented on #1894
If someone is willing to do the work and has a plan, I'm happy for them to go ahead. We have to be careful not to break themes or plugins too much, but otherwise we should be fine.

[2021-03-03 21:23] #4277 closed, assigned to nobody

[2021-03-04 08:16] Ben-MyBB opened #4287 "Inconsistency with notices in header"
For example, the awaiting moderation header will show like such when you hover over it:

Awaiting Moderation: 1 unapproved thread.

The group leader notice will show like this when you hover over it:

Group Leader Notice: You have 1 pending group membership join request.

Original thread: [Inconsistency with notices in header](https://community.mybb.com/thread-231493.html)

[2021-03-04 19:16] Eldenroot opened #4289 "global_moderation_notice - use same div class like other notice bars"
pm_alert should be changed to red_alert to keep consistency

[2021-03-04 19:44] Eldenroot commented on #4262
Anyway this is duplication of #3935

[2021-03-05 05:26] Sama34 commented on #1894
Ideally all moderation actions should be able to be inserted as buttons, but that would be better off to be worked for on 1.9

[2021-03-06 08:53] Ben-MyBB commented on #4150
Sounds similiar to https://github.com/mybb/mybb/issues/4005 ?

[2021-03-09 19:37] dvz opened #4293 ""Click to edit" added when post content is empty"
A _Click to edit_ message is added to posts when their content is empty.

With the [Minimum Message Length](https://github.com/mybb/mybb/blob/mybb_1825/install/resources/settings.xml#L1285-L1293), empty posts may suggest a server-side problem, but the unnecessary client-side message may point in the wrong direction when troubleshooting.

Details: https://community.mybb.com/thread-231510-post-13640

[2021-03-10 06:04] effone opened #4294 "Searching for members with underscores in their name via memberlist.php fails"
As reported by Cloud on Discord.

The problem is line #225 of memberlist.php, which uses the variable $username_like_query, which has been escaped for a LIKE condition, whereas we need it to be escaped as an ordinary string.

A fix is to change that line from:            $search_query .= &quot; AND u.username='{$username_like_query}'&quot;;

to:			$username_esc = $db-&gt;escape_string($search_user

[2021-03-10 18:28] Eldenroot commented on #4293
@Sama34 - fix is quite simple - so just adding placeholder somewhere here https://github.com/mybb/mybb/blob/aacebaecb49d0cb951096134277250192a2cedba/jscripts/thread.js#L188-L196 and add a new lang variable into headerinclude to avoid other edits? What text for a new lang variable do you suggest?

[2021-03-10 23:15] Sama34 commented on #4293
Something straightforward, like `There is no message.` should suffice.

[2021-03-11 10:02] dvz commented on #4293
Leaving it empty may be self-explanatory.

[2021-03-11 16:15] dvz opened #4297 "Check table schema before altering it in upgrade52.php"
The database changes in the `upgrade52.php` upgrade script should verify existing database table structure to avoid errors when the process is run more than once.

https://github.com/mybb/mybb/blob/35203a4145e379e58d4bad326fece8f19d189f8f/install/resources/upgrade52.php#L32-L44

[2021-03-11 20:06] Sama34 opened #4298 "Theme properties are not sanitazed properly when importing new themes"
Certain theme properties that may be included in theme XML files are not sanitized properly when importing new themes.
https://github.com/mybb/mybb/blob/41fc42dfc4703b4b0e419ac004e9806eba54dd06/admin/inc/functions_themes.php#L93-L117

Properties like `templateset` should be cast to integers, others might apply different sanitation.
https://github.com/mybb/mybb/blob/41fc42dfc4703b4b0e419ac004e9806e

[2021-03-11 20:09] Sama34 opened #4299 "Imported theme process is stopped while leaving leftovers behind"
When importing a theme, it might be possible that the process is stopped because of security checks. However, the process is stopped after already inserting some data into the DB.

Ideally, checks should be done before inserting any data as it might result in unexpected behavior.
https://github.com/mybb/mybb/blob/41fc42dfc4703b4b0e419ac004e9806eba54dd06/admin/inc/functions_themes.php#L154-L173

[2021-03-11 20:27] Sama34 commented on #4293
Yes, I changed my mind. Since this is an issue with the Quick Edit feature, inserting a message, regardless of which messages it is, could be more confusing than simply leaving it empty.

@martec Sorry for making you work so much, thank you for your contribution!

[2021-03-12 07:19] martec commented on #4293
@Sama34

sorry, but maybe you quoted the wrong person

[2021-03-12 09:11] #4289 closed, assigned to nobody

[2021-03-12 09:12] #4294 closed, assigned to nobody

[2021-03-12 09:51] Eldenroot commented on #4230
@euantorano - so will you opne a PR also for 1.8 branch or only for MyBB 1.9? In what specific situation is this needed?

[2021-03-12 10:02] euantorano commented on #4230
Any PR to the 1.8 branch won't remove the ability to return from plugins - doing so would be a breaking change, which is bad.

The changes I would make are to simplify the code found here: https://github.com/mybb/mybb/blob/feature/inc/class_plugins.php#L55:L103 - move the conversion to a string into a function like [this](https://github.com/mybb/mybb/blob/develop/1.9/inc/src/Plugins/HookManager.ph

[2021-03-12 15:41] Platbodemforum opened #4302 "Moving threads in 1.8.26 not possible"
When I (as an adminstrator user) want to move a thread to a different subforum I get an empty page and an error 500.  This is since 1.8.26 on platbodemforum.nl. Php 7.2.34 . Tested on several browsers and OS'ses, all of them up to date.

[2021-03-12 15:50] euantorano commented on #4302
Please check your server error log for any errors, which would help track down the problem.

In most webhosts that provide control panels such as cPanel, the server error log is available through the panel.

[2021-03-12 15:55] Platbodemforum commented on #4302
`[Fri Mar 12 16:03:09.115947 2021] [lsapi:error] [pid 958852:tid 139735731943168] [client 2001:980:616b:1:7f90:14c4:e6d8:d19c:53024] [host www.platbodemforum.nl] Backend fatal error: PHP Fatal error:  Uncaught Error: Class 'Moderation' not found in /home/platbodem/domains/platbodemforum.nl/public_html/moderation.php:30\nStack trace:\n#0 {main}\n  thrown in /home/platbodem/domains/platbodemforum.nl

[2021-03-12 15:56] dvz opened #4303 "Auto URL parsing may break HTML entities"
The `postParser` automatic URL parsing may incorrectly consume partial HTML entities.

MyCode:
[code]

Expected output:
[code]

Actual output:
[code]

[2021-03-12 15:59] euantorano commented on #4302
Does the file `inc/class_moderation.php` exist and does it look [like this](https://github.com/mybb/mybb/blob/feature/inc/class_moderation.php)? If not, download  afresh package and upload that file from it - it may have been corrupted by your FTP client when initially uploading.

You can also check the file verification tool in the ACP.

[2021-03-12 16:02] Platbodemforum commented on #4302
No it is zero bytes. That will be the problem. I will upload a better one . Thanks. Will let you know if that helps, I assume it will.

[2021-03-12 16:05] Platbodemforum commented on #4302
That was the solution, thank you.

[2021-03-12 16:05] #4302 closed, assigned to nobody

[2021-03-12 16:36] Platbodemforum commented on #4302
Removed log file with ip addresses.

[2021-03-12 16:50] dvz opened #4305 "Add HTML validation to postParser"
Validate the `postParser` HTML output, log errors and, depending on policy, prevent output.
Add searchable error messages and Docs references.

Defense in depth solution to mitigate XSS vulnerabilities caused by broken output.

Related: #4293, #4303

[2021-03-12 17:07] dvz opened #4306 "Use separate anti-CSRF token in the ACP"
Modify the `my_post_key` mechanism to use separate tokens for the Admin CP and the forum front-end.

[2021-03-12 17:21] dvz opened #4308 "Add correction advice to ACP's File Verification"
Add a notice with a link to the MyBB download page to the Admin CP's _File Verification_ page.

[2021-03-12 17:23] Eldenroot commented on #4298
@Sama34 - what do you mean? Please could you add more info?

[2021-03-12 17:33] Eldenroot commented on #4226
I think this should be a plugin (plugin is already available). Do we need to add this into core? If yes, no problem, but this is quite specific.

[2021-03-12 17:35] dvz opened #4310 "Add note to ACP's Import Theme to only use trusted sources"
Add a notice to the Admin CP's _Import a Theme_ section to remind administrators to only use safe sources of themes.

Themes may output arbitrary HTML (including JavaScript) and access potentially sensitive data.

[2021-03-12 17:36] Eldenroot commented on #4310
Really good idea! What about other places? Plugins/language files - something similar?

[2021-03-12 17:50] dvz opened #4312 "Incorrect behavior of the parser's auto URL feature"
The `postParser::mycode_auto_url()` method references an otherwise unused property `postParser::$options['allow_url']` at
https://github.com/mybb/mybb/blob/2e82a33a7052655f420ea876bc5d06a384f49789/inc/class_parser.php#L1610
resulting in incorrect behavior of the auto URL feature.

This, additionally, results in a space prepended to the message at https://github.com/mybb/mybb/blob/2e82a33a7052655f4

[2021-03-12 18:00] Eldenroot commented on #1894
What about to add one more setting for permanently delete threads and permanently delete posts? This settings would be only for mod/admin and will change the behaviour of the button. This is simple change. I can create a PR for this if you agree.

I do not know what @effone wanna add or what is his idea.

Anyway this is quite often mentioned in MyBB community board.

Let me know, if it will not be

[2021-03-12 18:09] Eldenroot commented on #1766
@Sama34 @euantorano - is it still valid report? Trying to reproduce but without success...

[2021-03-13 15:20] Eldenroot commented on #1366
@euantorano @Sama34 - IE11 was replaced, now it is abandoned... so I think there is no need to make a fix for this issue. I havent been fixed for 6 years... I vote for close this one.

[2021-03-13 19:26] #4116 closed, assigned to nobody

[2021-03-14 22:57] Xazin opened #4316 "New forums are not cached properly"
On the feature branch, when creating a new forum the rebuilding of the forum cache is done before the parent list of the forum is updated. This causes the new forum to be invalid when viewed, as a part of the forum is not being cached properly.

https://github.com/mybb/mybb/blob/2e82a33a7052655f420ea876bc5d06a384f49789/admin/modules/forum/management.php#L894

Moving the above line down 3 lines fix

[2021-03-15 04:31] lairdshaw commented on #4316
Yes. Issue + fix confirmed.

Warning to those who also wish to recreate this issue: first deactivate the XThreads plugin if you have it installed and active, because in its hook into `admin_forum_management_add_commit` it calls `$cache->update_forums()`, leading to the appearance that all is well.

[2021-03-15 12:08] dvz commented on #4316
Regression from #4152

[2021-03-15 14:05] #4316 closed, assigned to nobody

[2021-03-16 20:02] Sama34 opened #4318 "Banning system improvements"
Currently the banning system is scattered around the code in different places, ideally a data handler for it should be implemented.

Currently, I could find the following places where hooks might be appropriate.

https://github.com/mybb/mybb/blob/7732e52795c7f6717e25c19bf16cb0a6b66ab288/inc/tasks/usercleanup.php#L55-L64

https://github.com/mybb/mybb/blob/7732e52795c7f6717e25c19bf16cb0a6b66ab288/ad

[2021-03-16 20:06] Sama34 opened #4319 "Inline user edit additional ACP hooks"
Somehow the inline edit feature of the ACP users module doesn't use the datahandler.

If no data handler support is going to be added, it should then add additional hooks.

https://github.com/mybb/mybb/blob/7732e52795c7f6717e25c19bf16cb0a6b66ab288/admin/modules/user/users.php#L3008-L3020

https://github.com/mybb/mybb/blob/7732e52795c7f6717e25c19bf16cb0a6b66ab288/admin/modules/user/users.php#L2855-

[2021-03-18 16:16] dvz opened #4321 "Display note when running the upgrade system is not necessary"
Add a note to the installer when the upgrade wizard is run, but no recommended upgrade scripts are present.

[2021-03-18 19:30] Sama34 commented on #4298
@Eldenroot the `templateset` theme property should always be an integer, for example. Different cast types or checks could be required for other properties.

[2021-03-19 15:44] dvz opened #4323 "Use cached counts for global Mod CP notifications"
The moderation queue checks at https://github.com/mybb/mybb/blob/mybb_1826/global.php#L754-L766, used to generate header alerts displayed when unapproved posts/threads or attachments exist, rely on database queries.

This is reported to cause performance issues on big boards, and may be optimized by taking advantage of existing or new datacache entries and cached counts in the `mybb_forums` table.

[2021-03-20 06:55] effone opened #4324 "ACP Multiple email registration & Login method settings"
- ACP Multiple email registration notice gets displayed even if there is no conflict.
- A query is always run based on the existing settings to check existence of multiple emails no matter if its required or not.

![image](https://user-images.githubusercontent.com/21265591/111861840-4c59d000-8977-11eb-9850-6d5798490d7f.png)

[2021-03-20 07:48] Eldenroot commented on #4324
I can confirm, this has been here for ages :(

[2021-03-20 19:47] Sama34 commented on #1766
I think he meant the following, take a look at the image, only the `File size is` input should be ignored if `0` value is provided (unless you can upload `0` KB files):
![image](https://user-images.githubusercontent.com/1786584/111883463-cd659700-8978-11eb-99f8-15c70310d747.png)

So the code should perhaps use `isset()` for both `dateuploaded` and `downloads` but `!empty()` for `filesize`.

Someth

[2021-03-20 19:48] dvz opened #4327 "Deprecate integer version code"
Remove, or deprecate with intent to remove, the integer version code `1900` in favor of the `1.9.0` format.

A list of known usages follows.

`mybb/mybb`:
- codebase:
  - `MyBB::$version_code`
  - `$langinfo['version']` in language manifest files
  - attributes of `<theme>`, `<stylesheet>`, `<template>` in theme XML files
  - attributes of `<adminviews>` in Admin CP's View Manager
  - plugin compa

[2021-03-20 19:59] dragonexpert commented on #4327
As long as this is in 1.9 fine.  In the 1.8 series, I specifically use version code because of format_avatar requiring a specific version of the 1.8 series or higher.  I wouldn't be surprised if I am not the only one who uses $Mybb->version_code to check availability of a feature / function.

[2021-03-20 19:59] dvz opened #4328 "Move embedded & inline JavaScript and stylesheets to files"
Remove usage of embedded JavaScript `<script>` and CSS `<style>`  tags and inline `on*`, `style` attributes by moving their content to files.

May require a standard of passing and processing server-side data to included front-end scripts.

[2021-03-20 20:02] dvz commented on #4327
Yes, we always want to avoid breaking changes, and only introduce them with new series.

This should be done with either 1.9.0 or 1.10.0.

[2021-03-20 20:03] Sama34 commented on #4327
@dragonexpert using `182*` in the `compatibility` line should be possible.

I think we could deprecate this in 1.8 and force it in 1.9

[2021-03-20 20:12] dvz opened #4329 "Change action handling to accept POST method only"
Modify remaining state-changing and execution-like actions that use the HTTP GET method to only accept the POST method.

This will allow to take advantage of browsers' security features like [`SameSite=Lax`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Set-Cookie/SameSite) (added in MyBB 1.8.16 via #3215) with reduced reliance on the anti-CSRF token (`my_post_key`), and to avoid expos

[2021-03-20 22:57] dvz opened #4330 "Universal system event log"
Add a universal event log in the database to store information generated by the core and extensions.

This would replace the existing file-based error log, which:
- is susceptible to file permission issues
- may write to multiple directories
- may be web-accessible when not configured correctly
- has low discoverability

The file would still be used when errors cannot be saved in the database.

[2021-03-20 23:10] dvz opened #4331 "ACP notification system"
Basing on the universal event log (#4330), extend the Admin CP web interface to notify administrators of new entries with read status tracking and preferences.

[2021-03-22 11:44] effone opened #4332 "`expcol` issues"
- [x] https://github.com/mybb/mybb/blob/feature/global.php#L1240 `display: show;`? Really?
- [x] We need to get rid of `_c` suffix. There is no usage of it. May be leftover from 1.6
- [x] The js functions are full of unwanted condition checks and redundant codes. Need to optimize.
- [x] Remove targeting table code (`<td>`) to support table-less themes. Also rectify adding unnecessary `tcat_collaps

[2021-03-22 15:41] Ben-MyBB opened #4334 "UCP-PM - icons/posticons/check boxes are misaligned"
Original thread: [UCP-PM - icons/posticons/check boxes are misaligned](https://community.mybb.com/thread-231753.html)

[2021-03-22 19:23] Eldenroot opened #4336 "UCP-PM - bgcolor is not used, trow1/2 are vertically not horizontally"
![image](https://user-images.githubusercontent.com/778890/112046534-76b0b680-8b4c-11eb-8742-9dd10a8a7c59.png)

[2021-03-23 07:29] #4293 closed, assigned to nobody

[2021-03-25 11:08] cjhewett opened #4338 "Absolute uploadspath fails due to MYBB_ROOT prefix on mime check"
To allow us to store the MyBB user uploaded attachments external to the webroot of the site we have set our `uploadspath` setting to an absolute directory e.g. `/foo/bar`

This all seems to work apart from the `finfo_open()`/`mime_content_type()` checks in [inc/functions_upload.php](https://github.com/mybb/mybb/blob/da7b32456e7b21c96f72c1093816c55cce249264/inc/functions_upload.php#L600) which pref

[2021-03-25 12:44] euantorano commented on #4338
Good catch, looks like this has been broken for a long time now!

[2021-03-25 14:45] #4132 closed, assigned to nobody

[2021-03-25 19:42] lairdshaw commented on #4338
The `uploads` setting seems generally to be assumed to be relative, probably because its default value (`./uploads`) is relative.

For example, a '../' is prepended to the `uploads` setting when IN_ADMINCP is true here:

https://github.com/mybb/mybb/blob/55e4afd96fe262f4fd0410fa61b5972883acca16/inc/functions_upload.php#L45-L52

and again here:

https://github.com/mybb/mybb/blob/55e4afd96fe262f4fd0

[2021-03-25 20:49] dvz commented on #4338
Related: #3754

[2021-03-26 13:16] #4280 closed, assigned to nobody

[2021-03-27 18:46] effone opened #4340 "Subscription option isn't stored for drafts"
Apparently the subscription method isn't stored when saving a thread or post as draft.

Original thread: [Subscription option isn't stored for drafts](https://community.mybb.com/thread-231839.html)

[2021-03-27 21:13] Sama34 commented on #1758
I think the use of user features (delete, edit, etc) should be based on the availability of a `UID`.

[2021-03-27 21:23] Eldenroot commented on #1758
I agree - this is changed in this PR - https://github.com/mybb/mybb/pull/4072 - it removes the redundant permissions for guests.

I hope that @Ben-MyBB will finish the upgrade script for 1.8.27

[2021-03-27 21:32] effone opened #4341 "Replace Select2 with a lightweight alternative"
As jointly [agreed upon](https://github.com/mybb/mybb/issues/2182#issuecomment-660949486) find a lighter bug-free autocomplete plugin to replace bulky Select2 plugin considering the fact we only use one of its feature and that is autofill and for that reason a big plugin like this is unnecessary.

Some homework reference (if we consider using our own) ...
https://github.com/effone/jquery.fyl
I am

[2021-03-27 21:32] #2182 closed

[2021-03-27 22:13] Sama34 commented on #4078
I think the above edit seems a little too drastic, probably causing additional concerns.

I think the ideal is to upload the image to the server as an attachment if it is allowed by the forum settings. Also, perhaps make it so that plugins such as ezGallery could hook into it rather than just the attachment system.

[2021-03-27 22:25] Sama34 commented on #3456
I think restriction on characters should be minimal and only on required characters (i.e: `=`)

All other characters should be allowed unless the documentation says otherwise (we can't disable characters and use a bland error message expecting users to guess the reasoning).

[2021-03-27 23:03] lairdshaw commented on #3456
Do you think then that the alternative regex that @Eldenroot and I came up with in PR #4315 needs to be even more permissive? If so, how do you think it should be modified?

[2021-03-28 00:35] Sama34 commented on #4341
I personally use Semantic UI dropdown plugin. But I probably won't suggest it over anything else as I know no other.

Yours could cut the needs, but what about the long term? @justinsoltesz might have a better insight

[2021-03-28 00:40] Sama34 commented on #1366
Anything for IE should be dropped  by now, yes. I will close this unless another team member knows better.

[2021-03-28 00:40] #1366 closed

[2021-03-28 01:06] Sama34 commented on #3456
@lairdshaw I actually kept that tab open for testing after publishing my comment. Your ReGex seems to be enough, yes.

[2021-03-28 03:36] Sama34 commented on #3565
Hi, I think avoiding CSS changes is sound reasoning, but I think that CSS changes should be acceptable as nothing breaks if administrators don't apply such changes.

For this specific case, adding a CSS solution and use `{$full_lastpost_subject}` instead of `{$lastpost_subject}` in the default theme should be fine.

[2021-03-28 03:41] lairdshaw commented on #3456
OK, good. We could probably permit a few other characters such as dash or tilde if you think that's worth it, but I don't think we'd want to be too much more permissive around symbols in particular and any other characters more generally.

[2021-03-28 03:43] Sama34 commented on #1894
I think that for 1.9 all mod actions should be embeddable in posts, but if toggling the delete button functionality is easy with just one extra setting then I think it is worth it as a feature.

[2021-03-28 04:17] Sama34 commented on #3456
Might be worth it, but for me is OK.

[2021-03-28 04:45] effone commented on #4341
Plan is not to use mine, plan is to recode mine under a MyBB Repo in MyBB way so that this can further be maintained in-house.

Semantic UI one would be another heavy overkill, iirc its buggy too...

[2021-03-28 06:42] Eldenroot commented on #3456
I dont think so - we should not permit dash/tilde... We can also update the description (lang file).

[2021-03-28 06:43] Eldenroot commented on #1894
One extra setting would be fine... but I need your (MyBB dev team) final decision before I will work on it.

[2021-03-28 06:50] euantorano commented on #1894
One extra setting is fine, please go ahead.

On Sun, 28 Mar 2021, at 07:44, Eldenroot wrote:

[2021-03-28 06:52] euantorano commented on #4341
Yes, an in-house solution will be the best approach.

Shall I create a repository? If so, what would be your preferred name (this is always the hard part 😂)?

On Sun, 28 Mar 2021, at 05:45, Debabrata Trivedi wrote:

[2021-03-29 01:55] Sama34 commented on #4340
Do we want to add a new field to the `posts` table? I won't be sure if adding a new column would be worth it only for this. If even so, could we use this new field for something else? Like, maybe, _rebuilding_ subscriptions?

[2021-03-29 17:13] Eldenroot commented on #4341
Good idea :)

[2021-03-29 19:59] #4324 closed, assigned to nobody

[2021-03-29 20:00] #4310 closed, assigned to dvz

[2021-03-29 20:01] #4308 closed, assigned to dvz

[2021-03-29 20:35] Sama34 commented on #4341
What about MyBB-SelectJS, straightforward ;v

[2021-03-30 11:03] effone commented on #4341
That would suffice. Nice too.
I may use the term “selectjs” only inside plugin.

[2021-03-30 13:50] effone commented on #1894
I have already worked on it. There is no requirement of additional settings.
What My PR does is if the soft delete feature is disabled it goes for permanent deletion, if enabled it shows a dropdown to choose the action from, exactly as @Stefan-MyBB suggested.

This requires editing delete button template, so I didn't push the PR.

Oh, and on a no-js fallback situation it goes for direct soft delet

[2021-03-30 14:13] dvz commented on #4341
Should this still target 1.8?

[2021-03-30 15:06] euantorano commented on #4341
If we create the repository and start writing the library, if progress goes well I wouldn't have a problem targeting 1.8.

[2021-03-30 15:11] dvz commented on #4341
Note there may be plugins that depend on it - own example: https://github.com/dvz/mybb-dvzHash/blob/246bedd9bc6aea0a7e7597b8627e9e80364ea179/inc/plugins/dvz_hash/hooks_acp.php#L328-L360

[2021-03-30 15:22] euantorano commented on #4341
We'd likely leave select2 in 1.8 alongside the custom version, to support plugins and themes and developers could move towards the new one and find any issues with it that way.

[2021-03-30 15:38] Eldenroot commented on #1894
@effone - I think one template edit is fine, we do template edits in almost every version and this could be a really good and useful addition. My idea was to add one more setting in ACP (similar to edit by admins/mods but for delete button).

EDIT: And I think the AJAX is broken for deleting posts... page must be reloaded manually to see changes... ajax for restoring posts works fine (at least her

[2021-03-30 20:44] dvz opened #4345 "No data supplied for PM validation"
The code introduced in https://github.com/mybb/mybb/pull/4119/files doesn't supply subject and message data  correctly to the data handler (`postDataHandler::verify_subject()` and `postDataHandler::verify_message()` don't accept arguments), resulting in false errors and possibly PHP Warnings.

Regression from #4119

[2021-03-30 21:06] Sama34 commented on #4345
Why does it verify only the subject and message? It should verify everything and output any error, IMO the following:
https://github.com/mybb/mybb/blob/f42221bd074bbeec5f3d8d8c2185148fd14afa98/private.php#L121-L124

Should be merged around here (with an `elseif`):
https://github.com/mybb/mybb/blob/f42221bd074bbeec5f3d8d8c2185148fd14afa98/private.php#L653-L666

[2021-03-31 13:01] effone commented on #1894
Tell me about the new setting and its exact purpose. I can't see any.
AJAX delete works fine.

[2021-03-31 14:25] Eldenroot commented on #1894
I tried fresh install of MyBB and AJAX for deleting post is not working here---I have to refresh the page to see the different background color of deleted post etc.

For settings - in ACP - posting - check edit setting for mods/admins. Something like this could be also for soft/perma delete.

[2021-04-01 06:47] effone commented on #3559
@euantorano Are we still considering this?
All the notification generation codes are required to be moved from `global.php` to `output_page()` function to address this issue.

I'd, however love to see the said function as a page generator class, but thats a different topic.

[2021-04-01 10:13] euantorano commented on #3559
Yes, definitely still want to see some changes for this!

I'm interested in the idea of a page generator class, would love to hear some more about how that would function and what benefits it may bring. At the moment `output_page()` and `parse_page()` both do some interesting things that could do with improving (like setting the `xmlns` attribute on the `<html>` tag).

[2021-04-01 10:22] effone commented on #4150
No its a different issue and I couldn't reproduce it as well considering every possible scenario.
This report is invalid.

[2021-04-01 10:22] #4150 closed, assigned to nobody

[2021-04-01 11:54] effone commented on #3559
I have my own page generator class coded, some of the main features of that are:

- Using buffer to compile page code in place of partial echo.
- Inserts language variables values automatically.
- Use traits to generate simple HTML code chunks.
- Detects a form in the code and automatically inject CSRF token
- Developer can lazy inject variable values that are suitable to be obtained on a later st

[2021-04-01 13:41] dvz opened #4346 "SQL error when deleting reputation"
The change introduced at https://github.com/mybb/mybb/pull/4257/commits/adf6f435515b32d8e0f692c729e52f4d5c08eed6#diff-a8a95859bdd3d6e1a328d624f2bcf41a3ff73a7beec810e27d7e207eacd6520eL541-R542 results in a SQL error `column reference "uid" is ambiguous`.

Regression from #4257

[2021-04-01 19:31] Eldenroot commented on #1894
@effone - anyway you implementation would be better - in a pop up window user could select desired option... let me knwo, I will help with testing.

[2021-04-01 20:16] effone opened #4350 "Column Modification Issues"
Currently the code for &#36;db-&gt;add_column and &#36;db-&gt;modify_column do not actually check if the column type or definition are valid for the database engine that is used.  SQLite doesn't have VARBINARY, but instead is called BLOB as one example.  I propose creating another method in the database classes that actually validates what column types and attributes are available.   If the column

[2021-04-02 09:41] #4346 closed, assigned to nobody

[2021-04-02 12:47] #3456 closed

[2021-04-02 15:54] #4005 closed

[2021-04-03 09:06] Eldenroot commented on #3559
Maybe for 1.9? Sounds promising!

[2021-04-04 13:49] RaidForums opened #4352 "NIX Load Limit HTTP Status Code"
Just a suggestion I guess, but you shouldn't have the NIX Load Limiting setting give users a HTTP 404 code when it's triggered as this is also horrible for SEO.

I suggest the HTTP Code 503, you could add a simple bypass so that spiders/crawlers don't get caught by this setting but it will add a bypass method for malicious users to just change their user agent and bypass the nix load limit setting

[2021-04-04 15:15] Stefan-MyBB commented on #4352
While a 503 would make sense I am unable to reproduce this bug report. I don't get a 404 status code.

[2021-04-05 13:12] effone commented on #4328
Apart from embedding in template I can only think of an AJAX call on runtime.
Or you have a better idea?

[2021-04-05 13:42] dvz commented on #4328
We can include raw data using e.g.:
- `<script>` JSON blocks (depending on a setting, it may be formatted for readability):
[code]

- data attributes, accessible to the included script ([`document.currentScript`](https://developer.mozilla.org/en-US/docs/Web/API/Document/currentScript) will help in these cases):
[code]
[code]

and add built-in JS functions to parse it in JavaScript files, e.g. `MyB

[2021-04-05 16:27] RaidForums commented on #4352
So, what http error code do you receive when you get a NIX Load limit page?