[2016-01-12 07:27] Destroy666x commented on #2308
This is a duplicate of 2 issues - https://github.com/mybb/mybb/issues/1729 and an issue in the docs repository mentioned there.

[2016-01-12 07:27] #2308 closed

[2016-01-12 07:29] Destroy666x commented on #2309
Thanks, but suggestions should be made here first: http://community.mybb.com/forum-158.html and get accepted by the team.

https://github.com/mybb/mybb/blob/feature/CONTRIBUTING.md

[2016-01-12 07:29] #2309 closed

[2016-01-12 16:01] Cu8eR commented on #2309
Better to create a plugin for thís...

[2016-01-13 07:47] #2102 closed

[2016-01-18 13:04] Stefan-ST opened #2310 "SQL error when posting new post with custom moderation tool"
[code]

[2016-01-18 15:15] Destroy666x opened #2312 "Registration confirmation emails not being sent"
Hi All -

My private forum is set to force users to log in to view the board, and the registration method is Administrator activation.

I am receiving email notifications that there are new users pending admin activation, and I am able to activate new registrations with no problem. However, after activating the new user, an email is not being sent out to the user confirming that they have been act

[2016-01-18 15:41] #2310 closed

[2016-01-18 16:08] Destroy666x opened #2313 "Not a good way to update counters"
As mentioned somewhere else, this shouldn't exist:
https://github.com/mybb/mybb/blob/feature/private.php#L54-L59

Counters seem to be correctly updated everywhere in the core, so it should be safe to remove without replacing it with anything more proper (e.g. recounting in the user cleanup task).

[2016-01-18 16:14] euantorano commented on #2313
This was mentioned on Slack IIRC. It should be safe to remove.

[2016-01-18 16:21] Destroy666x opened #2314 "Wrong PM update array code"
https://github.com/mybb/mybb/blob/feature/inc/tasks/dailycleanup.php#L48 - UIDs are assigned as keys, while the loop https://github.com/mybb/mybb/blob/feature/inc/tasks/dailycleanup.php#L80 assumes they're values. Thus it always updates the PM count of the 1st user.

[2016-01-18 18:10] #2313 closed

[2016-01-18 19:00] Destroy666x opened #2316 "Data type-related PHP errors"
So I keep getting flooded with errors on my email but I cant seem to know what is causing these errors.
These are the current errors:

---

Type: 2
File: inc/functions.php (Line no. 4930)
Message
urlencode() expects parameter 1 to be string, array given

---

Type: 2
File: global.php (Line no. 46)
Message
Illegal offset type in isset or empty

I'm using MyBB 1.8.5 and PHP 5.6.11
Any help is apprec

[2016-01-18 19:01] Destroy666x commented on #2316
Possible fixes are mentioned here (the lines may be slightly wrong): http://community.mybb.com/thread-173684-post-1172263.html#pid1172263

[2016-01-18 21:25] Cu8eR commented on #292
@JN-Jones and others - is it still confirmed? I use zlib.output_compression with latest MyBB 1.8.6 and no issue (and there has not been any for last 1 year with MyBB 1.8.x)

[2016-01-18 22:54] Destroy666x commented on #292
It was never confirmed and probably will never be due to the lack of details such as compression level. I'll test it tommorow with different levels.

[2016-01-22 07:30] anovsiradj opened #2318 "at instalation:welcome, link about "What information is sent?" give 404"
link goto: http://docs.mybb.com/Anonymous_Statistics.html (404)

**EDIT**: also at,
instalation:Board Configuration, link about "Cookie settings" is 404,
goto http://docs.mybb.com/Cookie_Settings.html

[2016-01-22 19:03] Destroy666x commented on #2318
This is already known.

[2016-01-22 19:03] #2318 closed

[2016-01-24 16:23] Cu8eR commented on #2045
fixed here, not?
https://github.com/samclarke/SCEditor/commit/1bc73b156fcab291210a48bf152874095b1b5d06

[2016-01-24 19:41] Destroy666x commented on #2045
It is fixed there but there's no new SCEditor version so we haven't updated it yet.

[2016-01-24 19:43] brunoais commented on #2045
@samclarke is the only one who can make new versions. Unfortunately, I can't help you there.

[2016-01-24 19:43] Cu8eR commented on #2045
yeah, I figured it after I wrote here... it would be nice to have a new version out before MyBB 1.8.7 because this bug is really annoying... @brunoais - could you contact him somehow?

[2016-01-26 19:20] Devilshakerz opened #2319 "Enable CURLOPT_FOLLOWLOCATION for fetch_remote_file()"
[`fetch_remote_file()`](https://github.com/mybb/mybb/blob/68c8e705dba15688dbc683e0eb57a335599783f4/inc/functions.php#L6781) doesn't follow HTTP redirects, which could cause problems when `*.mybb.com` services change their URLs.

[2016-01-27 18:55] Destroy666x opened #2323 "Attachments issue"
I guys, I have a problem with attachments is my forum.
The problem is that guests can download attachments.
I checked forums and users permissions and they don't have permissions for download attachments.
Can you help me?

[attachment=35751]

No one can help me?

I solved the problem adding in attachment.php file before download the attachment this code:

PHP Code:
if(&#36;mybb-&gt;usergroup["cand

[2016-01-27 18:56] Destroy666x opened #2324 "Attachments issue"
I guys, I have a problem with attachments is my forum.
The problem is that guests can download attachments.
I checked forums and users permissions and they don't have permissions for download attachments.
Can you help me?

[attachment=35751]

No one can help me?

I solved the problem adding in attachment.php file before download the attachment this code:

PHP Code:
if(&#36;mybb-&gt;usergroup["cand

[2016-01-27 19:44] #2323 closed

[2016-01-27 20:35] Cu8eR commented on #2324
So it is invalid report ,right?

[2016-01-27 20:46] #2324 closed

[2016-01-27 20:47] Destroy666x commented on #2324
Yes, it pushed twice for some reason, the other one is already closed

[2016-01-28 13:45] Devilshakerz commented on #2125
The compressed data would have to go through the filesystem to prevent hitting the memory limit, which would take care of the broken archives problem and would decrease the file size, but it couldn't be instantly streamed anymore (the plain `.sql` mode wouldn't be affected).

[2016-01-29 15:20] #2319 closed

[2016-01-29 15:23] #2301 closed

[2016-01-29 15:36] #2203 closed

[2016-01-29 16:16] Stefan-ST commented on #2287
I can't reproduce this. The dropdown menu simply defaults to "No prefix" and removes the prefix when submitting.

[2016-01-29 16:24] Cu8eR commented on #2182
For 1.8.7 we can update to the latest version Select2 v3.5.2 - last release in 3.x branch. Or we can jump directly to v4, but I think it needs more testing

[2016-01-29 16:43] Stefan-ST commented on #1781
Closing this because we haven't found a solution to this problem.

[2016-01-29 16:43] #1781 closed

[2016-01-29 20:10] Destroy666x commented on #2287
I don't know if anything was submitted in the meanwhile, but I'm sure I was able to reproduce it in 1.8.6. I'll check again.

[2016-01-29 21:41] Destroy666x opened #2327 "Calendar.php displaying wrong user title"
Hello,

I'm currently having some issues with my website. The calendar seems to display the latest user title in the list (I have tried re-adding the user titles), instead of the actual user title of the user. I didn't find any information regarding this, so I figured I'd post it. I have also tried creating a new calendar, but no luck there either. Any ideas?

Thanks in advance.

EDIT: This is the

[2016-01-30 02:35] Destroy666x commented on #1647
Not anymore, lost these changes/files so feel free to push before I redo it.

[2016-01-30 02:42] Destroy666x commented on #2074
This is still not fully valid.

This rejects rating if thread is not visible: https://github.com/Stefan-ST/mybb/commit/a87c157288122fa3f8c0c5e4175b43b76595b503#diff-375e34e50b906f65414e7b20eb43a20dR169

But the button still doesn't check that and still shows up for no reason: https://github.com/Stefan-ST/mybb/commit/7ef5b0198a14ea6dfcdab9f1da0dbb6d3ebdb811#diff-4139bceb91b5897c2a9cddc06430deacR336

[2016-01-30 02:51] #2314 closed

[2016-01-30 10:45] Cu8eR commented on #1647
@Destroy666x - Unfortunately my fix is not working. I am not good at JS, I am a beginner but I do my best.

If you have time, please make a PR, if not I will try to fix my PR but I cannot promise anything

[2016-01-30 11:03] Stefan-ST commented on #1647
I have a fix in mind but it probably doesn't work with all custom themes. Refreshing the page may be the best option.

[2016-01-30 17:08] Cu8eR commented on #2211
`application/json \
                                     application/rss+xml \
                                     application/vnd.ms-fontobject \
                                     application/x-font-ttf \
                                     application/x-web-app-manifest+json \
                                     application/xhtml+xml \
                                     application/xml \

[2016-01-30 23:05] Destroy666x commented on #2211
The most common MIMEs. What you mentioned + possibly `application/x-javascript` (even though it's ahrdly used) should be enough.

[2016-01-31 03:47] Destroy666x opened #2330 "Port is not stripped from the generated cookie domain"
While it should be.

[2016-01-31 05:22] Destroy666x commented on #2287
I can still reproduce it. More info about when it happens because OP didn't specify:
- if you quick edit a post with a disallowed prefix (full edit indeed deletes the prefix, which shouldn't happen either IMO)
- if you quick/full edit a post with a disallowed prefix in a forum which requires prefixes and you're not an admin - this part is most likely caused by: https://github.com/mybb/mybb/issues/

[2016-01-31 11:08] Cu8eR commented on #2211
OK, thank you. I will create a PR today.

[2016-01-31 12:35] #2327 closed

[2016-01-31 14:25] Stefan-ST commented on #2074
@Destroy666x Nice catch. I've added another PR.

[2016-01-31 15:07] Cu8eR commented on #292
I tried to confirm this somehow with changing compression level, but without success. I think it could be closed if @Destroy666x wont find anything during his testing

[2016-01-31 16:50] #2074 closed

[2016-01-31 17:44] #2046 closed

[2016-01-31 17:52] Destroy666x opened #2335 "php_warnings template not cached globally"
As the title says.

EDIT: similarly `postbit_profilefield_multiselect_value` and `postbit_profilefield_multiselect` (+ possibly other field templates) in showthread.

[2016-01-31 18:49] ATofighi commented on #1647
my idea is change the `Post.removeAttachment` to this code:
[code]

[2016-01-31 18:52] Destroy666x commented on #292
I tested with:
6 MB .pdf
2 MB .zip
1 MB .jpg
on -1, 1, 5 and 9 compression levels, no problem noticed, so closing.

If anyone has more info, feel free to bump this and provide it.

[2016-01-31 18:52] #292 closed

[2016-01-31 18:54] Stefan-ST commented on #1647
This probably works unless the themes has replaced the table with something else. And it always assumes removing actually worked.

[2016-01-31 19:02] Destroy666x commented on #1647
AFAIR `$("form#editpost").submit();` doesn't work in some browsers as I mentioned above.

[2016-01-31 19:03] Cu8eR commented on #1647
@Destroy666x - what was your idea in your old PR?

[2016-01-31 19:05] #2330 closed

[2016-01-31 19:09] Destroy666x commented on #1647
The idea was similar to the above, but the form also needs to be edited so that it submits correctly.

[2016-02-01 02:06] #2224 closed

[2016-02-01 11:36] Destroy666x commented on #313
Other hardcoded names (e.g. weekdays) could also be translated. `strtr()` looks to be the best solution (writing it here just so I don't forget).

[2016-02-01 12:54] Cu8eR commented on #2287
Yes, I can confirm. Quite annoying

[2016-02-01 12:58] #2069 closed

[2016-02-01 13:13] Cu8eR commented on #1884
I can confirm this. There should be separated option for this or use same value which is set for see IP in posts

[2016-02-01 22:51] Destroy666x commented on #1884
There's already Show Private Message IP Addresses, but the problem here is, IIRC, that both permission allow viewing IP.

[2016-02-02 14:44] Stefan-ST commented on #2072
#2339 fixes thie issue when approving a thread.

Right now I will can't reproduce the issue mentioned in the original bug report (moving and adding a post seams to work fine for me).
If I find the reason for the second bug I'll update the PR.

[2016-02-02 15:28] Cu8eR opened #2340 "usercp_editlists_user - wrong lang string in title"
usercp_editlists_user - wrong lang string in title of the image

`<img src="{$theme['imgdir']}/buddy_delete.png" title="[{$lang->delete}]"  alt="{$lang->remove_from_list}" style="vertical-align: middle;" />`

should be:
`<img src="{$theme['imgdir']}/buddy_delete.png" title="{$lang->remove_from_list}"  alt="{$lang->remove_from_list}" style="vertical-align: middle;" />`

[2016-02-02 16:02] GrannyLVP opened #2342 "CHMOD URL in AdminCP"
inc/languages/english/admin/config_settings.lang.php
admin/modules/tools/system_health.php

http://docs.mybb.com/HowTo_Chmod.html

This URL is dead.

[2016-02-02 16:25] Stefan-ST commented on #2342
Duplicate of #1729

[2016-02-02 16:25] #2342 closed

[2016-02-02 17:44] dequeues commented on #1427
@Destroy666x - did you ever manage to get a solution for this?

[2016-02-02 17:57] Cu8eR commented on #1427
@dequeues - feel free to push a PR if you know how to properly fix this. Destroy assigned himself in 2014.

[2016-02-02 19:58] #2312 closed

[2016-02-02 22:49] #2072 closed

[2016-02-02 22:55] Destroy666x commented on #2072
Custom moderation bug was invalid from the beginning (last post bug was the culprit), but I'm 100% the merge one existed. Was it fixed somewhere else? I can't reproduce it now either, unless it has to be done in a specific order.

[2016-02-03 21:17] #2340 closed

[2016-02-07 01:30] jaydee9296 opened #2344 "SCEditor not working"
Currently the SCEditor is not working or maybe not responding? Can anyone help me fix it? I'm using FlatOne theme tho.

Domain vpnpinas.tk

http://i.imgur.com/s1jvFIo.png

[2016-02-07 04:53] Destroy666x commented on #2344
This is not a place to ask for support: https://github.com/mybb/mybb/blob/feature/CONTRIBUTING.md

[2016-02-07 04:53] #2344 closed

[2016-02-09 07:13] jaydee9296 opened #2345 "Signature Bug on Postbit?"
As you can see, I'm using a custom theme and when I checked the templates the signature post is present even though I tried to switch to default theme using a local server in postbit templates. Then, I tried to use a signature image userbar for it to display on my forum posts but when Iooked at it there is no signature. Is this some kind of a bug or what?

![forum12](https://cloud.githubuserconten

[2016-02-09 10:09] Stefan-ST commented on #2345
Please use our forums for support requests: http://community.mybb.com/

[2016-02-09 10:09] #2345 closed

[2016-02-13 19:29] #2183 closed

[2016-02-25 11:36] #2142 closed

[2016-02-28 14:18] Destroy666x opened #2348 "Useless subscription guest checks in UCP"
As the title says, guests can't enter the page anyways: https://github.com/mybb/mybb/blob/feature/usercp.php#L40

https://github.com/mybb/mybb/blob/feature/usercp.php#L1557
https://github.com/mybb/mybb/blob/feature/usercp.php#L1577
https://github.com/mybb/mybb/blob/feature/usercp.php#L1797
https://github.com/mybb/mybb/blob/feature/usercp.php#L1826
https://github.com/mybb/mybb/blob/feature/usercp.p

[2016-02-28 14:28] Destroy666x opened #2349 "Searching for "orange" will find "angel" in non-fulltext search"
Non-Fulltext-Search in MyBB ignores "and" and "or" of the first entered keyword of the search.
If I search for "orange", MyBB will actually search for "ange". I can't search for "andi", because Mybb will complain that my search keyword is only one character long.

The reason is a bug in clean_keywords function:

https://github.com/mybb/mybb/blob/featur...h.php#L243
https://github.com/mybb/mybb/blo

[2016-02-28 14:45] Destroy666x commented on #2349
I guess something like:
[code]
would work, but then I'm not entirely sure what's the purpose of it.

[2016-02-28 16:02] Stefan-ST commented on #2349
`and` and `or` are keywords and can't be used as search term. The code should prevent edge cases where keywords still end in the search query. This is needed because the regex to split the search term doesn't find `and` and `or` in the beginning: `#\s{1,}(and|or)\s{1,}#`
Your suggestion would not catch a simple `and`. I'd probably use a regex here, something like:
[code]

[2016-02-28 16:15] Destroy666x commented on #2349
Ah yes, forgot about single keyword.

Are those MyBB-specific keywords? What's their function (it could be documented somewhere)?

[2016-02-28 17:02] Stefan-ST commented on #2349
While a regular user doesn't need to know, searching for `and` or `or` would be quite useless given to the fact both words are that common. And you can still search for it in a phrase: `"foo and bar"`

btw: These keywords and search expressions are quite common. Fulltext search supports some more things, too.

[2016-02-28 17:12] Destroy666x commented on #2349
Noone needs to know, but then what's the point of having an unused feature?

I think it wouldn't hurt to add some tips under the keyword textbox: http://community.mybb.com/search.php depending on the search type. I'd do that in the PR I'm just preparing but then I'm not sure of all tricks myself. Could you list them?

[2016-02-28 18:03] Destroy666x opened #2350 "Remaining is_moderator() thread visibility/moderator tools permission issues in search.php and other files"
https://github.com/mybb/mybb/issues/1807 - corrected the line numbers and removed things that seem to have been fixed. <strong>Note that there are even more permissions issues (especially `canviewdeleted` one) in other files if you grep `visible`/`is_moderator()`/`canviewunapprove`.</strong>

So this is outdated and wrong (+ a query is wasted): https://github.com/mybb/mybb/blob/feature/search.php#

[2016-02-28 18:15] Stefan-ST commented on #2349
It depends whether fulltext search is used or not.
Both search systems support AND, OR and phrases ("foo bar"), fulltext additionally allows NOT, *, +, -, ~, <, >, @ and parentheses groups (explanations and examples: http://dev.mysql.com/doc/refman/5.6/en/fulltext-boolean.html)

[2016-02-28 18:42] Destroy666x commented on #2349
Doesn't regular search also support `*`?

[2016-02-28 19:10] Stefan-ST commented on #2349
You are right. I've missed that.

[2016-02-29 21:46] Destroy666x commented on #2350
Also note that @PaulBender 's PR breaks post search for moderators in their moderated forums due to the lack of https://github.com/mybb/mybb/pull/2250/files#diff-e0080b9d6ffa35acb85312bf99a557f2L707 separation as it was earlier.

[2016-03-01 10:10] Stefan-ST opened #2351 "Remove "Are You a Human" captcha"
http://community.mybb.com/thread-188436.html
http://blog.areyouahuman.com/goodbye_playthru/

[2016-03-02 11:59] #2351 closed

[2016-03-02 12:02] #2306 closed

[2016-03-02 12:04] Stefan-ST commented on #2292
Fixed with #2300

[2016-03-02 12:04] #2292 closed

[2016-03-02 12:09] #1832 closed

[2016-03-02 13:04] #2051 closed

[2016-03-02 23:09] Destroy666x opened #2353 "Some fields in ACP are still missing min/max or aren't numeric while they should be"
As mentioned here: https://github.com/mybb/mybb/pull/1915 + several order oxes.

[2016-03-03 15:57] Destroy666x commented on #2287
Merging my old PR apparently reverted some newly introduced stuff, e.g. the `$previous_pid` conditional is missing here: https://github.com/mybb/mybb/blob/feature/inc/functions.php#L3545

[2016-03-03 18:07] Stefan-ST commented on #2287
You are right, I've missed that. Fixed: 6f15b20943534b1e1ed7f4ac2d4888477691db2e

[2016-03-03 18:07] #2287 closed

[2016-03-04 13:50] PirataNervo opened #2354 "Last Post permissions failing for Subforum"
Go to: http://forums.mybb-plugins.com/

See the "Custom Plugins" forum. You can see the last post is most of the times from the sub forum "Quotes and Discussion" forum. If you open the Custom Plugins forum, you see that you can't see the last posts from that sub forum. But on the index, you can !

Basically, the "View Own Threads" doesn't seem to be checked.

[2016-03-04 19:41] Destroy666x commented on #2354
Actually, I can't reproduce on 1.8.6. Maybe you made the same mistake as me and tested as guest while only the registered group had that option enabled.

[2016-03-08 13:48] PirataNervo commented on #2354
The problem is actually for Guests. The option is enabled for all groups except Admins. So no one, including guests, should see other people's last posts. What seems to be the problem is that for subforums (when getting the last post of the main forum), it doesn't check that permission (or does so incorrectly). Because when viewing the list of sub forums and their last posts, it works fine. The pr

[2016-03-08 15:48] Destroy666x commented on #2354
As I said, I can't reproduce.
1. Created a forum and subforums, subforum has "only own" permission enabled for everyone except admins, parent not.
2. Posted as an admin in both forums, first in parent, then in child.
3. Logged off and I see the thread in parent forum as last post.

Please try on a clean 1.8.6 forum and with this PR merged: https://github.com/mybb/mybb/commit/1cd8126a4f36119d1e6cea

[2016-03-08 15:54] Destroy666x commented on #2354
As I said, I can't reproduce. I:
1. Created a parent forum and its child forum, the child forum has "only own" permission for everyone except admins.
2. Posted as an admin, first in the parent forum, then in the child forum.
3. Logged off and there's the thread from the parent forum in last post info.

Please test on a clean 1.8.6 and with this 1.8.7 PR merged (which may have also fixed this): htt

[2016-03-09 03:26] PaulBender opened #2357 "BMP images don't work for avatars"
If you attempt to upload an avatar that is a BMP image, the upload will fail and it'll tell you to choose a valid file and try again. BMP images are suppose to be valid file type for avatars (https://github.com/mybb/mybb/blob/feature/inc/functions_upload.php#L208) (https://github.com/mybb/mybb/blob/feature/inc/languages/english/usercp.lang.php#L341).

The problem seems to lie at the switch located

[2016-03-09 21:07] Cu8eR commented on #2075
Isnt it fixed?

[2016-03-09 21:21] PaulBender commented on #2075
Yes, it was fixed in 1.8.6.

[2016-03-09 21:21] #2075 closed

[2016-03-12 18:04] PirataNervo commented on #2354
I've just upgraded to MyBB 1.8.7 and the issue seems to be gone. Not sure if it was that PR or not but it's definitely fixed :)

[2016-03-12 18:17] Destroy666x commented on #2354
Closing then

[2016-03-12 18:17] #2354 closed

[2016-03-12 22:55] #2357 closed

[2016-03-13 02:59] #2348 closed

[2016-03-13 22:02] PaulBender commented on #2060
Can anyone reproduce this?

I've upgraded a board from 1.6.9 to 1.8.7 and subscriptions were still being sent via email.

[2016-03-13 23:28] Destroy666x opened #2363 "Per theme default avatar"
Make it possible to use something like `{theme}` for the default avatar as suggested here: http://community.mybb.com/thread-172906.html

[2016-03-13 23:29] kawaii commented on #2363
IMO theme needs to be parsed globally, it's really useful for forum owners with both a light and dark theme. The {lang} variable is also really nice although I don't use it as much.

[2016-03-13 23:31] Destroy666x commented on #2363
I'm not quite sure what you mean, but feel free to suggest it on the forum. `{lang}` is definitely connected with this issue since there are no lang string on the default avatar.

[2016-03-13 23:45] kawaii commented on #2363
I mean that it would be nice if we could use it in more places, it's a really nice feature. ^_^

[2016-03-13 23:46] Destroy666x commented on #2363
It is usable in smilies, group images/stars, attachment images, post icons and of course themes. Is there anything else except default avatar where it's missing?

[2016-03-14 03:12] Destro- commented on #2228
move to 1.8.8 ?
It is a very annoying bug and martec it have fixed this bug

[2016-03-14 03:47] Destroy666x commented on #2060
I could reproduce it back then, I'll check now. Maybe something fixed it or it happens only under certain configuration.

[2016-03-14 03:52] Destroy666x commented on #2228
The fix isn't complete as you can see in the PR, it's priority is set to low (there are more important and annoying issues even concerning SCEditor) and the PR will mostly be remade as stated in the thread on forums.

[2016-03-14 07:38] Destroy666x opened #2365 "Colors not available in the master theme"
I'm not sure whether it's intended and/or easily fixable or not, but the master theme doesn't contain colors stylesheets/properties no matter if you install or upgrade. So you can't for example easily recreate/reimport it: http://community.mybb.com/thread-158870.html

[2016-03-14 22:34] #2236 closed

[2016-03-16 02:23] Destroy666x opened #2367 "ACP not using format_avatar() for formatting avatars"
As the title says and as mentioned here: https://github.com/mybb/mybb/pull/2364 Shouldn't be too hard too change, just the extraordinary scaling needs to be considered. Also `../` before avatars that use relative path, which could be added in `format_avatar()` if `IN_ADMINCP` is defined.

[2016-03-19 17:47] Stefan-ST opened #2370 "Report notifications ignore moderator groups"
This query in inc/functions_modcp.php just checks for users moderating the forum but not for groups:
[code]
There is no code for isgroup=1.

[2016-03-19 21:20] JordanMussi opened #2371 "Incorrect user activity when action is unset"
At the moment if a Moderator is viewing the Mod CP homepage, on the Who's Online page their location is shown as "Viewing Reported Posts" rather than "Viewing Moderator CP".

The fix is rather simple, change [functions_online.php#228-232](https://github.com/mybb/mybb/blob/mybb_1807/inc/functions_online.php#L228L232) from:

[code]

to:

[code]

[2016-03-20 11:20] Destroy666x commented on #2370
The fix is quite simple, but I'm also wondering what's the purpose of running the other query only when the previous one has no results: https://github.com/mybb/mybb/blob/feature/inc/functions_modcp.php#L161
So admins/super mods get notifications when:
- it's a profile/reputation report
- there's no moderator for the forumlist
But they don't get anything if there is at least one moderator. Why? Is

[2016-03-20 13:32] Stefan-ST commented on #2370
I think it is intentional but it doesn't make much sense to me either.

[2016-03-20 15:51] Destroy666x commented on #2370
I've already corrected it since I don't think there's any explantation for it being intentional

[2016-03-20 18:18] JordanMussi commented on #2371
There might be other places where this sort of thing happens. I haven't checked though...

[2016-03-21 15:23] osama777 opened #2374 "Slow acp navigation"
please improve acp navigation

[2016-03-21 15:36] Destroy666x commented on #2374
I have completely no clue what you mean, so I'm closing. Please read: https://github.com/mybb/mybb/blob/feature/CONTRIBUTING.md

[2016-03-21 15:36] #2374 closed

[2016-03-21 16:36] Destroy666x commented on #265
Closing since noone can reproduce (if anyone has more info feel free to bump). Cusrom moderator tools with merge + copy/move/whatever work fine, even when used outside of inline thread moderation (merge is skipped then).

[2016-03-21 16:36] #265 closed

[2016-03-21 16:49] Destroy666x opened #2375 "Custom mod tools group permission checks missing"
A continuation of https://github.com/mybb/mybb/issues/1571
They're still missing from:
- moderation.php https://github.com/mybb/mybb/blob/fda43f3dc95421a50bf2f6eb0de0a92a10f1490b/moderation.php#L203
- search.php https://github.com/mybb/mybb/blob/9d82f2a12e0461e488a6c08be693d0ee0b558016/search.php#L684

Also, `LIKE '%,-1,%'` seems to be redundant, comparison should be enough because -1 is the only

[2016-03-21 16:56] Destroy666x commented on #1815
This was corrected (the order at least) and I don't think that more can be done, so closing.

[2016-03-21 16:56] #1815 closed

[2016-03-21 17:10] Destroy666x commented on #259
I don't understand this issue, does anyone @mybb/developers @mybb/sqa ? I think he meant that `is_moderator()` somehow doesn't consider all moderators if the first parameter equals 0, but I don't know how this "somehow" is possible since they're read directly from the cache: https://github.com/mybb/mybb/blob/feature/inc/functions.php#L1717

I think this can be rejected.

[2016-03-21 17:49] Destroy666x commented on #358
Ranged events seem to be ok, but repetitive not. The issue for that was duplicated: https://github.com/mybb/mybb/issues/2099 but there's one more valid one so I'll close this.

[2016-03-21 17:49] #358 closed

[2016-03-21 20:20] Destroy666x commented on #511
To be more specific, it happens only for years 0-100. After that it's ok: http://community.mybb.com/calendar-1-week-n58979921800.html

[2016-03-22 00:59] Devilshakerz commented on #511
[gmmktime()](https://secure.php.net/manual/en/function.gmmktime.php)'s return value seems to overflow back to positive numbers in https://github.com/mybb/mybb/blob/mybb_1807/calendar.php#L2039 when the `$year` parameter is less than 101, however it's possible to get correct values using other parameters:
[code]

[2016-03-22 07:12] Destroy666x commented on #511
Yeah, noticed that too before I went to sleep: https://github.com/php/php-src/blob/0c3022f436f6adf1afe8db2f7d8356e9b1892aad/ext/date/php_date.c#L1521-L1525 I wonder what's the point of it.. And the fix seems to be reasonable to push.

[2016-03-22 11:24] Devilshakerz commented on #511
https://secure.php.net/manual/en/function.mktime.php:

Note that the calendar doesn't reach before year 0 anyway.

[2016-03-22 13:12] Destroy666x commented on #511
That's stupid. Could have added a boolean argument for short years or whatever.

[2016-03-23 01:19] PaulBender opened #2377 "Disabled referral system leads to wrong colspan in memberlist"
Disabled referral system leads to wrong colspan in memberlist: 

With referral system enabled: 7 columns, without: 6 columns. 7 columns are hardcoded in the memberlist template. The logic is available, but is not used in the template.

Fix: https://github.com/Nik101010/mybb/commit...c26a233534
I just need an issue as reference for the Pull Request

Nik

Original thread: [Disabled referral system l

[2016-03-23 07:04] Destroy666x opened #2378 "Report spam possible with PM/E-mail report medium"
You can send countless reports about the same user/post/reputation, the duplicate checks only work if ModCP reporting is enabled (proably because the report is saved to DB only then, haven't looked yet). I'm not sure why. It can be an annoyance if someone notices which medium is used and tries to abuse it.

[2016-03-23 07:33] Destroy666x commented on #2225
@mybb/developers @mybb/sqa any opinion? If not, I'll change it to all characters.

[2016-03-23 07:45] Destroy666x commented on #2053
This is a duplicate of https://github.com/mybb/mybb/issues/2350

[2016-03-23 07:45] #2053 closed

[2016-03-23 07:51] Destroy666x commented on #2035
I think this can be safely closed, I haven't noticed any other support/bug thread about this yet. Might have been an issue in early 1.6.x.

[2016-03-23 07:51] #2035 closed

[2016-03-23 11:47] #2377 closed

[2016-03-23 13:12] ATofighi commented on #2225
It should be all characters.

[2016-03-23 13:26] noxwyll commented on #2225
I'd like to also mention that when a filter is created it is case sensitive. meaning it will only filter things if the case matches.

The system for creating filters however is not sensitive.

This results in a filter like this Tango only filtering when it is written exactly like "Tango"
Mybb will prevent creating a filter that is written in other cases for example "tANGO"

As a result it is very

[2016-03-23 13:44] Destroy666x commented on #2225
The `i` flag should be added to the regex checker too then, because I don't think there's any reason for case sensitivity.

[2016-03-23 14:13] noxwyll commented on #2225
If you guys dont mind i got some more feedback regarding the filter.
Users commonly bypass it by using bb code inside of it. For example Sh[b][/b]it, Sh[b]i[/b]t

[2016-03-23 14:17] Destroy666x commented on #2225
Feel free to share

[2016-03-23 20:21] labrocca commented on #2351
Are you sure you guys didn't goof this?  Default MyBB captcha has stopped working.

[2016-03-23 20:23] euantorano commented on #2351
@labrocca Is it just not showing up, or is there some kind of error? I've not noticed any problems personally.

[2016-03-23 20:38] labrocca commented on #2351
On all my forums running 1.8.7 it doesn't show up.  Blank space.  Try it yourself on sportforum.net which is a pure 1.8 install with default templates and no plugins.  Didn't even notice that after last upgrade captcha stopped working and zero registrations on all my 1.8x sites.

http://community.mybb.com/thread-188253.html

Someone else with same problem. I suspect most people use recaptcha.

Uns

[2016-03-23 20:42] kawaii commented on #2351
@labrocca considered simply switching to Google's No CAPTCHA reCAPTCHA API? You'll get nice analytics and a significant decrease in unwanted registrations.

[2016-03-23 20:44] labrocca commented on #2351
I did use recaptcha but that's not the point.  A feature is broken. One that some people may not have noticed and are losing member registrations. Also this might effect plugins using default MyBB captcha which I haven't yet tested.

[2016-03-23 20:52] euantorano commented on #2351
Yep, it's definitely broken. Just tested on a local board. I'll try to see if I can work out the cause.

[2016-03-23 20:54] labrocca commented on #2351
Glad you confirmed. My job is done.  Have fun fixing.

[2016-03-23 20:55] kawaii commented on #2351
@labrocca @euantorano Are you guys sure? I just did exactly the same thing on 1.8.7 and it works perfectly.

![](https://i.imgur.com/6CQiLj7.png)

[2016-03-23 20:56] euantorano commented on #2351
It's possible my local install is broken, I'm setting up a fresh install to confirm it.

[2016-03-23 21:03] labrocca commented on #2351
Could be a discrepancy with the upgrade package.  So if a fresh install works then I suggest a close review of the upgrade package.

[2016-03-23 21:07] euantorano commented on #2351
Just tested on an upgraded board and it works for me there - https://www.mybbstuff.com/member.php

My local install is also working after having done a clean install with source files (rather than ones I've edited). Have you double checked that GD works at all @labrocca?

[2016-03-23 21:18] labrocca commented on #2351
Sites are at Dreamhost.  Everything worked fine on 5 MyBB sites hosted there up until 1.8.7 upgrade.  Three of those installs are default templates.  Sportforum is clean as hell with no plugins at all. The only change is the logo.

http://www.sportforum.net/gdtest.php

Even if it worked on a fresh install for me that doesn't explain why it broke on upgrade.  And trust me...if it's broken for me it

[2016-03-23 21:23] Destroy666x commented on #2351
Did you use AYAH before upgrading?

[2016-03-23 21:32] labrocca commented on #2351
I have always used default MyBB captcha for all my sites.  Going through the files now.  I suspect it's a template change that did this.

[2016-03-23 21:41] Destroy666x commented on #2351
The only template changes in https://github.com/mybb/mybb/pull/2352/files are for `member_register_regimage_ayah` and `post_captcha_ayah`. MyBB captcha doesn't use any of those.

There's a known issue with this query: https://github.com/mybb/mybb/pull/2352/files#diff-b144ffcea33f436c5ae14b52bc18c047R48 in pgsql/SQLite, I don't see anything else that may have broken captcha in that PR. I don't se a

[2016-03-23 21:44] labrocca commented on #2351
Any changes in the database table?

[2016-03-23 21:46] Destroy666x commented on #2351
Not regarding captcha, except the one I linked and 2 lines below.

Also, make sure there's no PHP file that has BOM. You can use http://community.mybb.com/mods.php?action=view&pid=638 to quickly find files that have it.

[2016-03-23 22:31] labrocca commented on #2351
Tried BOM and also checked file verification. Which btw inc/functions.php does not validate even from the full package.

[2016-03-24 08:16] Stefan-ST commented on #2351
@labrocca Unfortunately I'm not able to reproduce your issue either. But it is probably not related to this ticket as it doesn't even touch the generation of the captcha.

btw:

This thread was created before the release of 1.8.7. And it doesn't appear to be the same issue at all.

[2016-03-25 19:31] antonpup commented on #2225
Would it be possible to define Regular Expressions for words to replace? That way if there are variations of swear words, you can resolve them with one entry, as opposed to multiple.

Example: "`fuc[kк]`" => "`****`" Would replace both "`fuck`" and "`fucк`" (k is from Cyrillic). Instead of having two entries "`fuck`" => "`****`" and "`fucк`" => "`****`"

[2016-03-25 20:03] Destroy666x commented on #2225
Well, it would be possible, but I think they're supposed to be as simple as possible. You can currently achieve what you want with a MyCode.

[2016-03-27 22:34] Destroy666x opened #2382 "my_date - no time for non-relative $format"
Not sure if this needs to be considered a bug, but posting it here, because to me it looks like one. 

This bug only occurs when not the relative time format, but the time format from settings is used. It might be possible, that this is not the case anywhere in the code, then it would be no bug, but dead code ^^

https://github.com/mybb/mybb/blob/feature/inc/functions.php#L482 Only today / yesterd

[2016-03-28 18:09] PaulBender opened #2383 "Update timezone"
Update some minor things related to the timezone dropdown menus.

- [x] Add +8:30 timezone.
- [x] Marshall Islands is listed twice (at -12 and +12; they use +12).

[2016-03-28 21:24] #2383 closed

[2016-03-28 21:40] Destroy666x opened #2385 "ACP language and button function error"
Here you see a deficiency.
user_banning.lang.php:  &#36; l [ 'search_user'] = 'User Search';

There admin/modules/user/banning.php code in the search button.
&#36; Buttons [] = &#36; form-&gt; generate_submit_butto's (&#36; lang-&gt; search_user, array ('name' =&gt; 'search'));
There's something wrong button, search entered user bans.

Original thread: [ACP language and button function error](http

[2016-03-28 21:42] Destroy666x commented on #2385
Should be moved from config_banning lang file where it's useless

[2016-03-28 22:25] #2282 closed

[2016-03-28 22:52] Cu8eR commented on #2053
@Destroy666x - yes, and the milestone should be removed

[2016-03-29 07:08] xykul commented on #2385
I think the search button in admin/modules/user/banning.php 611 line should be removed.
`$buttons[] = $form->generate_submit_button($lang->search_user, array('name' => 'search'));`

If you use this button, the user bans

[2016-03-29 13:23] dequeues commented on #2378
You're right. https://github.com/mybb/mybb/blob/fda43f3dc95421a50bf2f6eb0de0a92a10f1490b/inc/functions_modcp.php#L266-L293

I'm not sure a way to go around this though. We could add to `reportedcontent` and then update it when the PM is read (not entirely sure a concrete way). Not too sure about emails, though. Maybe a callback?

[2016-03-29 14:16] Destroy666x commented on #2378
You mean `reportstatus`? I don't think updating that field is needed, normally you need to mark it as read manually too.

[2016-03-29 14:23] Destroy666x commented on #2385
@xykul, are you sure? It just finds the user for me

[2016-03-29 16:14] dequeues commented on #2378
That would work, with the MCP medium as of now, if a report gets marked as read then the content is enabled to reported again. I don't think that is much of an issue, though.

[2016-03-29 16:27] xykul commented on #2385
Interesting, button user name english/admin/banning.lang.php: `$l['search_user'] = 'Search User';` Line Without bans, language line when doing search.

[2016-03-29 16:51] Destroy666x commented on #2378
Yeah, not a big deal since it'd affect only the reporting person.

[2016-03-29 18:58] Destroy666x commented on #2385
I'm not sure if I understand, but it might ban if the button text is empty because for some reason the value is checked, `isset()` should be enough. It could actually be corrected too.

[2016-04-02 20:38] antonpup opened #2388 "The #container in CSS default theme has a typo, causing cutting off problems"
There is a typo in the default theme CSS for #container which causes the page to be cut off at certain window widths.
Example:
![Example](http://puu.sh/o3GeP/dc7f8c83f6.png)

Where the problem is:
![Problem](http://puu.sh/o3Gmo/a6bb8af102.png)

It's missing a `;` after `min-width: 990px`
Code should be:
[code]

[2016-04-02 21:32] Destroy666x commented on #2388
https://github.com/mybb/mybb/blob/feature/install/resources/mybb_theme.xml#L39-L47? I don't really see any missing ; there. Make sure to report only issues that are available on clean MyBB forums. Also, please check: https://github.com/mybb/mybb/blob/feature/CONTRIBUTING.md#reporting-issues

[2016-04-02 21:32] #2388 closed

[2016-04-03 17:28] xykul commented on #2385
admin/modules/user/banning.php line 601 is changed as the following problem can be solved.
`$buttons[] = $form->generate_submit_button($lang->search_for_a_user, array('name' => 'search'));`

[2016-04-04 14:20] Destroy666x opened #2389 "Pictures with custom dimensions higher than 999 not shown"
only link to pict
example
http://pomogistrane.ru/forum/showthread.php?tid=21

Original thread: [Pictures with custom dimensions higher than 999 not shown](http://community.mybb.com/thread-187492.html)

[2016-04-04 18:18] Destroy666x opened #2391 "SCEditor [img] code issues"
As reported here: https://github.com/mybb/mybb/pull/2390#issuecomment-205403645
- [ ] `align` should be supported but it isn't (thus it's removed - there's also another SCEditor issue about BBCodes stripping unknown attributes EDIT: https://github.com/mybb/mybb/issues/1674)
- [ ] 0 width/height should probably be disabled

[2016-04-07 05:02] martec commented on #2391
I can made PR of this issue. I will treat as different issue of #1674.
But i will made after mybb team accept this fix https://github.com/mybb/mybb/pull/2229 . I won't made other PR that will break another my PR. This is a waste of time to solve conflict issue (made rebase etc... It is very boring task.)

[2016-04-07 10:10] GrannyLVP opened #2392 "Moderation actions performed on forumdisplay.php don't get logged"
- Create a thread as you normally would
- Navigate to forumdisplay.php of the forum you created the thread in
- Use the multi-select / tick-box to the right of the thread, and select that thread
- Use the **Inline Thread Moderation** options and stick/unstick, lock/unlock, etc
- Visit the thread
- Navigate to **Edit / View Thread Notes**

You'll (most likely) notice that nothing has been logged, a

[2016-04-07 10:41] Cu8eR commented on #2391
@martec I agree, same issue for me with PRs. I cannot continue in my work without merging my PRs or PRs from others devs. It is a waste of time to rebase them and foolow new changes. Until that I cannot push fixes or change my PRs

[2016-04-07 15:13] Destroy666x commented on #2392
Not really a bug (rather missing implementation), but I noticed that too long time ago and I'm also not a fan of multiple tids actions not being considered in several places.

[2016-04-14 09:55] JohOply opened #2393 "Option to hide location/status activity in profile page"
Hi guys,

On my forum, I have private forums for staff. But anyone can view which topic admin is reading.
Could you add an option to hide to "simple" members the location/status of staff's members?

For instance:
- Hide location : true/false
- Bypass hiding location : true/false (allow staff's members to view everyone)

On the profile page, simply display "Online (@ TIME)"

Thanks for reading :)

[2016-04-14 13:44] Cu8eR commented on #2393
GitHub is not a place where you can write your requests for features etc. For that purpose use MyBB forum!

[2016-04-14 13:53] #2393 closed

[2016-04-15 08:55] JordanMussi commented on #2393
I think the functionality you are looking for is already in MyBB. Users don't see the names of threads for forums they can't read threads in and they also don't see forum names for forums they can't view.

[2016-04-15 12:38] JohOply commented on #2393
I just verified that and you are right! It's weird.. I just update in 1.8.7, maybe a little change

Thank you guy

[2016-04-17 19:39] Devilshakerz opened #2394 "captcha.php using slow CSPRNG"
[MyBB's CAPTCHA](https://github.com/mybb/mybb/blob/feature/captcha.php) uses [my_rand()](https://github.com/mybb/mybb/blob/mybb_1807/inc/functions.php#L7841), which became slow after recent refurbishment (it's being called 12113, 12227, or 13009 times) - PHP's `rand()` could be used instead.

[2016-04-20 16:22] David263 opened #2395 "Administrator Activation Registration Method fails"
1. I installed MyBB on centos (Linux).
2. I created a forum and set its registration method to Administrator Activation.
3. I made sure I was logged **out**.
4. I clicked "Need to register?" on the home page.
5. I completed the registration form.
6. I was told I would receive an activation email (which I received but ignored).
7. After step 6 I was logged in as user "Betty Charlesba3jsneT", where

[2016-04-20 16:31] Ben-Conway commented on #2395
Please ask for support at the community forums. http://community.mybb.com/forum-176.html

[2016-04-20 16:31] #2395 closed

[2016-04-21 00:29] Destroy666x commented on #2395
But to answer it shortly here:

Yes.

[2016-04-21 12:38] Destroy666x opened #2396 "Smilies popup"
Hi.
Calling action in misc.php "smilies" have a bug on typing custom javascript function popup window emotoicons inserter.

When we click on action for opening smilies window we typing action="onlick" editor name like this:

Code:
&lt;a href="javascript:MyBB.popupWindow('/misc.php?action=smilies&amp;amp;popup=true&amp;amp;editor=MyBBEditor&amp;amp;modal=1')"&gt;Emots&lt;/a&gt;
But code in file mis

[2016-04-23 00:31] leucosticte opened #2398 "Add author and author profile URL to RSS feed"
Add the author and author profile URL to the RSS feed. I've already implemented this; it involved revising syndication.php and class_feedgeneration.php.

[2016-04-23 08:08] Stefan-ST commented on #2398
Please use our community forums for suggesting new features.

[2016-04-23 08:08] #2398 closed

[2016-05-03 15:35] thunderclap82 commented on #2022
Is there a way to manually fix this bug until a proper update comes along? I'm still experiencing it in 1.8.7.

[2016-05-05 16:36] cybernetwebdesign commented on #1366
fix it ASAP

[2016-05-05 16:47] Cu8eR commented on #1366
@cybernetwebdesign - you can send a PR ;)

[2016-05-05 21:16] Destroy666x commented on #1366
Why would we fix an animation issue connected with a rarely used functionality that affects one browser (maybe also Edge, haven't checked) "ASAP" over other issues, e.g. nearly completely broken functionalities?

Also, I don't seem to have the problem on the latest IE11 in the first place, Microsoft may have improved how they handle such JS/HTML/CSS combination. Can anyone still confirm the issue

[2016-05-14 13:44] Eric-Jackson commented on #2182
It is a full rewrite, some of the changes from 3.x -> 4.x are here: https://select2.github.io/announcements-4.0.html

This catches my attention personally. Not worth it in itself but a positive for upgrading.

[2016-05-14 17:56] Eric-Jackson commented on #2177
A possible solution could be writing a new function that includes a dropdown wrapper, while keeping the old function so themes that use it elsewhere don't break (Or potentially modifying the current function so it's more flexible). I'm only seeing 4 instances of the popup in the master style so it shouldn't be a difficult change. Thoughts?

[2016-05-14 21:57] JoshHarmon commented on #2394
@Devilshakerz If you'd be up to reviewing the fix on my fork, I'll open the PR if it's ready. Replaced all occurrences of my_rand in the file with rand.

[2016-05-16 01:09] cyberstormrp opened #2401 "Calendar Permissions Not Updating"
When I un-check a box in the calendar's permission tab, and click save/update, it redirects me to the previous page, and say's "your calendar's permissions have been updated!". But, when I go back into the permissions tab, the box I un-checked is still checked... Please help!

[2016-05-16 11:15] Ben-Conway commented on #2401
Please open a thread on the community forums. http://community.mybb.com/forum-157.html

[2016-05-16 11:15] #2401 closed

[2016-05-16 14:12] #2394 closed

[2016-05-16 14:34] Destroy666x commented on #2177
Are the dropdowns/popups even a jQuery plugin? Looking at the comment they're not, so I'm not sure why they're in that file in the first place. It could be safely moved to general.js without a wrapper since we won't update it from an external source anyways, correct me if I'm wrong.

[2016-05-16 14:40] Eric-Jackson commented on #2177
It's not a plugin no, and by wrapper I meant an HTML wrapper so the dropdowns could be positioned relative to that. In the Javascript we could do a simple check to see if the HTML wrapper is there, and if not fall back to the old JS. With a wrapper the dropdowns would never be affected by a `position: relative;` on any parent element.

[2016-05-16 14:45] #2211 closed

[2016-05-16 14:46] Destroy666x commented on #2177
How is it better than Leefish's offset solution though?

[2016-05-16 14:48] Eric-Jackson commented on #2177
It's been a while so I'll need to go over that again. In my opinion it's just better practice to have the dropdown trigger and dropdown menu both in a menu container, but her solution may very well be fine.

[2016-05-16 14:56] Devilshakerz opened #2402 "ACP path not being removed correctly when sending mail"
The `$config` variable is not included in the `global` list: https://github.com/mybb/mybb/blob/feature/inc/mailhandlers/php.php#L54

[2016-05-16 14:56] #2402 closed

[2016-05-16 15:16] #2378 closed

[2016-05-16 15:48] Eric-Jackson commented on #2177
I know a potential issue is resizing, for example rotating a mobile/tablet will show the menu off position when calculating the position on page load. I'm not sure how much of an issue that is though. There are also responsive concerns with having a menu appended to the body rather than adding it inside a menu wrapper.

These are just things to consider before patching the current method.

My sugg

[2016-05-16 16:03] Destroy666x commented on #2177
Well, as long as your fix won't break current themes, feel free to PR it

[2016-05-16 20:18] Eric-Jackson commented on #2177
After taking a look, the fix I had planned would require lots of changes. This is mainly due to the fact that `overflow: hidden;` is used in multiple locations of the postbit for some reason. The selectors to style the postbit buttons `.postbit_buttons > a` are also an issue. I can fix both of these issues as well but I wanted to update here before I went through it all to make sure it'd even be u

[2016-05-17 17:47] Sama34 commented on #2022
IIRC this was fixed within #1922

[2016-05-17 17:48] Cu8eR commented on #2022
@Sama34 - this issue is still here :( annoying

[2016-05-17 18:01] Sama34 commented on #2022
What do you mean by "here"? The master branch?

[2016-05-17 18:02] Cu8eR commented on #2022
At least in MyBB 1.8.7 still bugged

[2016-05-17 18:24] #2251 closed

[2016-05-17 18:27] thunderclap82 commented on #2022
That's the version of MyBB I have too. (1.8.7) The bug is still present in my copy.

[2016-05-17 18:43] Sama34 commented on #2225
We could probably add a setting to allow administrators to threat the field as a regular expression instead. Not case sensitive `A-Za-z0-9_` characters should be used otherwise and by default.

This would mean you will need to figure a regex for `c*ck` by yourself.

[2016-05-17 18:48] #2385 closed

[2016-05-17 18:53] Cu8eR commented on #2391
@martec - can you please make a PR with your fix?

[2016-05-17 19:00] Sama34 commented on #1647
If the page is refreshed upon adding it _should be_ upon removing. Otherwise it is inconsistent.

That plus being the easier solution.

[2016-05-17 19:04] Sama34 commented on #2045
I would assumed this to be closed when we update the editor, you will need to be patient @Cu8eR

[2016-05-17 19:06] Cu8eR commented on #2045
Fortunately I changed this buggy editor with CKEditor from @martec. Works fine, no more reports from users... MyBB team made a bad decision with SCEditor, anyway there is a simple solution

[2016-05-17 19:17] noxwyll commented on #2225
Sounds like a very good idea.

[2016-05-17 19:29] Sama34 commented on #2045
We probably did, however you need to understand and accept the fact that the editor is not going to be changed in 1.8. Regardless we do appreciate your contributions, thank you.

[2016-05-17 19:33] brunoais commented on #2045
I think SCE is dead because Sam is, unfortunately, dead. Otherwise it would have evolved.
Did they finally fix the BBCode parser for CKE? Last time I tried it was quite bad....

[2016-05-17 21:41] Destroy666x commented on #1647
I think that would be a step behind in times when people expect fully AJAXified drop file uploads, I don't see a reason to revert this instead of fixing it, I don't think it would be much easier either.

[2016-05-17 22:29] #2389 closed

[2016-05-17 22:35] dequeues opened #2405 "Using [img align=X] overlaps with postbit_signature"
Here's an example: http://community.mybb.com/thread-193145-post-1222394.html#pid1222394

`clear: both` is missing

[2016-05-17 22:46] dequeues commented on #2060
Did you manage to reproduce this? I can't seem to @Destroy666x

[2016-05-17 23:01] Destroy666x commented on #2045
Well, it's usable in other forum scripts and unlike SCEditor it doesn't duplicate tags unnecessarily.

I still hope @samclarke didn't completely abandon the project, his stackoverflow account is still active.

[2016-05-17 23:05] Destroy666x commented on #2060
Last time I checked everything was ok. But I can't remember whether it's dependent on some setting or whatever, if I even knew that. It most likely is, which makes it hard to reproduce.

[2016-05-17 23:09] Destroy666x commented on #2022
That PR introduced the bug, not fixed it. I'll try to finish the PR ASAP, but feel free to take it over.

[2016-05-17 23:27] Destroy666x commented on #2057
I looked at it again and my fix in the thread wasn't 100% correct - if you go straight to `usercp.php` instead of `private.php`, you'll have a weird "Unnamed folder", which will be updated to proper folders if you enter any private.php page (which I didn't notice earlier).

Instead of removing it completely, it should be changed to this: https://github.com/mybb/mybb/blob/feature/private.php#L44-L5

[2016-05-18 00:08] Sama34 commented on #1647
It would be nice if AJAX was added to the addition when fixing this with that method, yes.

[2016-05-18 02:39] martec commented on #2391
I will not made anything that will break another mine PR.

[2016-05-18 08:06] Cu8eR commented on #1647
Yes, I agree with both of you. AJAX would be really nice addition

[2016-05-18 15:32] brunoais commented on #2045
I still strongly suspect he died.
He still won't answer my e-mails, he didn't do absolutely anything on github since July last year and his activity on stackoverflow is very suspicious as he keeps logging in without doing anything besides the actual logging in.

[2016-05-21 15:27] Devilshakerz opened #2408 "Unclosed cursors leave tables locked on SQLite"
Cursors of read DB queries across the core are not being properly closed, which makes it impossible to alter the database structure during the script execution. `DB_SQLite` can register all query objects so they can be accessed and closed, as a workaround.

[2016-05-22 17:40] Destroy666x opened #2410 "Optimise images with a better algorithm than last time"
As the title says.

[2016-05-22 22:10] #2405 closed

[2016-05-24 21:58] #2408 closed

[2016-05-24 22:02] #259 closed

[2016-05-26 19:39] Devilshakerz opened #2413 "Ability to disallow remote avatars"
It should be possible to disable adding remote avatars in User CP (there also could be an option to let MyBB download and store them locally).

http://community.mybb.com/thread-171303-post-1160778.html

[2016-05-26 22:46] Destroy666x opened #2414 "Swapped MCP banning breadcrumbs"
If you add/edit a ban the last breadcrumbs are switched.

[2016-05-30 16:47] kawaii commented on #2413
+1 for this. A lot of forums have problems with their backend systems address space being leaked and attacked directly, negating the use of reverse proxies etc.

[2016-05-30 17:01] euantorano commented on #2413
Unfortunately this won't fully fix that. Any emails sent from your board will still include your IP address unless you use a service that strips the originating servers details from all sent email headers.

It will help, but this won't be a silver bullet to fix all.

[2016-06-03 22:27] #1760 closed

[2016-06-03 22:47] #2039 closed

[2016-06-03 22:55] #1056 closed

[2016-06-04 02:48] #2414 closed

[2016-06-04 20:23] #1150 closed

[2016-06-04 20:25] Sama34 commented on #2050
I assume this can be considered done then? If the remaining issues are not feasible to fix.

[2016-06-04 20:55] Destroy666x commented on #1631
Reopening so that we don't forget about the  change that needs to be pushed

[2016-06-04 21:45] Destroy666x commented on #2050
I'd say so

[2016-06-04 21:56] PaulBender commented on #2050
Yes, it's done.

[2016-06-05 00:00] Destroy666x commented on #2050
I just remembered that someone suggested adding classes to all BBCodes, which wouldn't be bad.

If not that, I'd change some tags to more semantic and HTML5-compatible solutions, e.g. the width/height attributes of `[img]`.

[2016-06-05 16:55] JoshHarmon commented on #2413
How do we want to handle remote avatars currently set for users? Blank the database field and let the default avatar be displayed?

[2016-06-05 16:58] kawaii commented on #2413
@JoshHarmon I would leave them as they are but give the admin an option to truncate that column or blank it as you said.

[2016-06-05 17:10] Devilshakerz commented on #2413
It could also show the default avatar instead and a warning in the User CP until they upload one or remove it.

[2016-06-06 16:50] euantorano opened #2417 "Upgrade Bug"
Hi,

Was just upgrading my forums from 1.8.6 to 1.8.7 and came across this bug: Warning [2] Missing argument 1 for installerOutput::print_error(), called in /home/*****/public_html/install/upgrade.php on line 483 and defined - Line: 134 - File: install/resources/output.php PHP 5.5.36 (Linux)

Original thread: [Upgrade Bug](http://community.mybb.com/thread-193937.html)

[2016-06-07 09:14] #2417 closed

[2016-06-07 12:17] Destroy666x opened #2419 ""Notice: Undefined index: num_threads" when moving threads"
mybb_1807

Code:
Notice: Undefined index: num_threads in inc/class_moderation.php on line 2372
When moving threads with replies (other than topic starter)

Fix: add

Code:
if(!isset(&#36;user_counters[&#36;posters['uid']]['num_threads']))
{
    &#36;user_counters[&#36;posters['uid']]['num_threads'] = 0;
}

after line 2296

Original thread: ["Notice: Undefined index: num_threads" when moving thread

[2016-06-07 12:18] Destroy666x commented on #2419
The fix is ok but an isset check would be better before the index is used in the update query - more optimal.

[2016-06-07 21:14] #2298 closed

[2016-06-08 17:29] Lukkez opened #2420 "Users.php error"
Hey, i got a error when browsing users, i just wanted to make some things, some screenshoots
![image](https://cloud.githubusercontent.com/assets/15003706/15903897/57df1f6e-2d85-11e6-8274-a2a7dc758979.png)
![image](https://cloud.githubusercontent.com/assets/15003706/15903920/6a04ab0a-2d85-11e6-9de3-3c3987027272.png)
The first is on main page, the 2nd is when i search users

[2016-06-08 18:42] Destroy666x commented on #2420
The report in invalid, the function exists in the core: https://github.com/mybb/mybb/blob/7c8092bf971d12b15b76af5fa725c00e1ce24f94/admin/inc/functions_view_manager.php#L664

Support questions should be asked on our forum.

[2016-06-08 18:42] #2420 closed

[2016-06-08 20:22] Lukkez commented on #2420
So how to fix? I got that, is a problem because i can't change the groups of users

[2016-06-08 21:15] Destroy666x commented on #2420
But, since I said the function exists and showed you where, the first logical step would be checking if it is there in your forum's files.

[2016-06-09 17:12] Sama34 commented on #2413
We could add a simple tool that removes all remote avatars yes, it could be useful even if administrators don't disable them altogether.

[2016-06-10 15:39] #2305 closed

[2016-06-10 23:49] #2410 closed

[2016-06-11 19:26] xykul commented on #1631
admin/modules/user/users.php 1363 and 3848 lines of code are incorrect.
**Sample:**
line 1363
`$form_container = new FormContainer($lang->signature.': '.htmlspecialchars_uni($user['username']));`
line 3848
`$user['view']['username'] != htmlspecialchars_uni($user['view']['username']);`

[2016-06-11 21:00] #2228 closed

[2016-06-11 23:39] PaulBender commented on #1631
I can confirm both issues.

There are also a few places that usernames aren't being sanitized. Reopening.

[2016-06-13 17:30] Sama34 commented on #1631
So is there a issue with what was modified or are there instances where names are not being sanitized only?

[2016-06-13 19:31] Destroy666x commented on #1631
Well, if you take a look at your PR, both lines were modified by you. One of them has a syntax error, not sure about the other.

[2016-06-14 09:33] GeorgeLVP opened #2422 "Installation fails on aggressive opcache settings"
mydomain.com/install/index.php

![untitled1](https://cloud.githubusercontent.com/assets/15123289/16038088/67f12876-321b-11e6-9abc-8d28cab000e5.png)

PHP 7.0.4-7ubuntu2.1 (cli) ( NTS )
Copyright (c) 1997-2016 The PHP Group
Zend Engine v3.0.0, Copyright (c) 1998-2016 Zend Technologies
    with Zend OPcache v7.0.6-dev, Copyright (c) 1999-2016, by Zend Technologies

[2016-06-14 11:52] Ben-Conway commented on #2422
Ensure your install directory exists. If it does open a topic on the community forums.

[2016-06-18 16:16] Ben-Conway commented on #1223
@Sama34 Is there any progress with this?

[2016-06-19 17:10] cockroach opened #2426 "Cannot delete theme on postgres"
I can't seem to delete themes on my board:

    0 - ERROR: invalid input syntax for integer: "" LINE 2: SET pid='2' WHERE tid='' ^
Query:
    UPDATE mybb_themes SET pid='2' WHERE tid=''

The problem seems to come from admin/modules/style/themes.php line 1031:

This query fails on Postgres if $child_tid is empty.

[2016-06-19 17:16] cockroach opened #2427 "Admin interface issues on IPv6"
The default settings do not appear to allow access to the admin interface via IPv6. Setting ADMIN_IP_SEGMENTS in admin/index.php to 0 fixes this.

It might make sense to either change the default value or modify the check in a way that makes it also accept IPv6 addresses.

[2016-06-19 19:51] Destroy666x commented on #1223
Definitely would be great to get it into MyBB 1.8.x. Possibility to report profiles for wrong forum is just unprofessional.

[2016-06-19 19:54] Destroy666x commented on #2427
The report is partially invalid - it's already set to 0 by default: https://github.com/mybb/mybb/blob/feature/admin/index.php#L15

Would be nice to fix it for IPv6 though, I believe it has been discussed a long time ago.

[2016-06-20 01:43] groovybluedog commented on #1223
Wow I only just noticed that my thread was put in to an issue <3
So I'm not as useless as I thought XD!
Definitely needed though, I'm setting up a new forum now and STILL using that method, which is quite tiresome and very, very, limited.

[2016-06-20 09:53] Ben-Conway commented on #1223
@Destroy666x Isn't this a bug more than an enhancement then?

[2016-06-20 11:59] groovybluedog commented on #1223
I honestly think the best way to handle this is to have a box for the different reasons and have users enter other reasons on a new line. Other would be an on/off option and this all could just be a main configuration option. No need for language files either. For example:

Report reasons for threads: (Yes, separate is better :P)
Wrong forum
Bad language
Poll that breaks the rules

Report reasons

[2016-06-20 12:22] dequeues commented on #1223
I was thinking of having a module in ACP which would show a table like so:
[code]
Type: Private messages/posts/profiles/global(all) or any other combination like so
Reason: The report reason
Options: Modify/Delete

Thoughts?

[2016-06-20 12:23] Ben-Conway commented on #1223
@dequeues Sounds good. Now we just need someone to work on it. This 'bug' has been open for long enough and it needs fixed ASAP.

[2016-06-20 12:29] groovybluedog commented on #1223
@dequeues That way sounds quite messy especially in a longer list, but maybe I'm visualising it wrong.

Something like the Help pages AdminCP page?

[2016-06-20 12:41] dequeues commented on #1223
I was thinking more of something like Custom Profile Fields in ACP.

[2016-06-20 12:42] groovybluedog commented on #1223
I think that could really get quite messy. If you were to do it this way where each reason is a separate entry, I think something nested like the help pages ACP page would be better.

[2016-06-20 12:56] dequeues commented on #1223
Let's say we had nested, how would we show a reason for example which is both for Private Messages and Posts?

[2016-06-20 12:59] groovybluedog commented on #1223
Create to seperate entries. I do this all of the time on the help topics when the same question comes under multiple categories and it works out far less messy than a dump of report reasons in one list especially when people like me want several (10+) reasons to allow moderators to prioritise jobs.

[2016-06-20 13:44] #1631 closed

[2016-06-20 16:22] Destroy666x commented on #1223
I don't see how @dequeues solution is messy, that looks like the proper way of doing it. The only problem are plugins that add reports to other places - hooks need to be properly placed so that reason editing module will be extendable.

[2016-06-20 17:41] #2363 closed

[2016-06-23 11:18] Destroy666x commented on #2060
This may be related: http://community.mybb.com/thread-194633.html

[2016-06-25 11:45] #2422 closed

[2016-06-25 17:08] Destroy666x commented on #1526
I think we can close this too, unless someone has time to work on it properly.

[2016-06-25 17:34] euantorano commented on #1526
Yep, I'm all for closing it unless somebody is willing to put themselves forwards to work upon it.

[2016-06-25 21:23] #2370 closed

[2016-06-26 10:07] Ben-Conway opened #2428 "Help Documents HTML not parsed in misc.php?action=helpresults"
I have some help documents which use HTML and inline CSS to make them look pretty.

If you use the search feature located within misc.php?action=help the search results will display the raw HTML/CSS like so:

Original thread: [Help Documents HTML not parsed in misc.php?action=helpresults](http://community.mybb.com/thread-192089.html)

[2016-06-26 13:30] Stefan-ST opened #2431 "Default avatar broken on ACP when using a full URL"
The code doesn't take into account that the path to the default avatar can be a full URL, too:
[code]

[2016-06-26 13:49] Stefan-ST opened #2434 "missing_username error when editing a deleted user's post"
When you edit a post of a user that has been deleted and click on "Preview Post" you get the following error message:

You can update the post without an error though.

[2016-06-26 14:10] #2107 closed

[2016-06-26 14:19] Stefan-ST opened #2436 "Attachment counter wrong after merging posts"
* Create a new thread without an attachment
* Add a post with an attachment
* Merge post into first post
* Attachment counter 0 and attachment isn't visible for users and guests

[2016-06-26 14:22] #2434 closed

[2016-06-26 14:27] Destroy666x commented on #1526
Closing then, feel free to reopen if you're going to make a PR.

[2016-06-26 14:27] #1526 closed

[2016-06-26 14:39] Stefan-ST commented on #1427
Any progress?

[2016-06-26 14:50] PaulBender commented on #1427
I fixed this in #2195

[2016-06-26 14:52] Destroy666x commented on #1427
It's not completely fixed yet (JS solution is needed to combine both recipient and BCC fields), I'll be able to do more than testing after 10.07 at earliest, so feel free to takeover my stuff if you want.

[2016-06-26 16:37] #2436 closed

[2016-06-26 16:41] #2022 closed

[2016-06-26 21:52] Cu8eR commented on #2057
@Destroy666x - now this can be closed, right?

[2016-06-26 22:17] Destroy666x commented on #2057
Yes

[2016-06-26 22:17] #2057 closed

[2016-06-29 09:12] Ben-MyBB opened #2440 "Image paste from clipboard broken"
Hi,

just installed myBB on our server. First thing I tested was image paste from the clipboard ... but this seems to be broken. Is this a known issue? I couldn't find it in the forum or on github.
Short description:
Paste image works in the editor, but displays as source code in the preview and in the final posted version

If its not a known issue, I'm happy to provide more details.

Jan

Origina

[2016-06-29 11:50] #1988 closed

[2016-06-29 18:27] Destroy666x commented on #2440
Not a bug - lack of a commonly used feature supported by many scripts (including SCEditor, ofc temporarily) rather as I mentioned on Slack not so long ago. Would be great to have, I'm most likely going to work on it after my exams if noone else does.

[2016-06-29 21:15] euantorano opened #2441 "My Alerts wysiwyg editor not shaded on alerts pop-up"
When you're on a page with the wysiwyg editor and click on "View Alerts", the alerts pop up and it gets highlighted, while the background becomes shaded (totally fine so far). but then the wysiwyg editor is not shaded, its still lighted.

Screenshot: http://image.prntscr.com/image/e715f667f90b41aeb22f752c2b2b9c44.png

Original thread: [My Alerts wysiwyg editor not shaded on alerts pop-up](http://c

[2016-06-30 06:15] #1647 closed

[2016-06-30 08:22] Destroy666x commented on #2441
Is this surely in the correct place?

[2016-06-30 08:27] euantorano commented on #2441
@Destroy666x I was talking about this on Slack last night. MyAlerts by default uses MyBB's built in modals. I tested on a near stock forum and the MyAlerts modal was given a `z-index` of 2, the mask was given 1, and the editor was given 3.

My test board is using the old approach of using `rel="modal"` rather than an `onclick` handler though, so I need to update the templates there to use `onclick

[2016-06-30 08:45] Destroy666x commented on #2441
It'll definitely work with the same `onclick` because our wrapper function takes care of it: https://github.com/mybb/mybb/blob/feature/jscripts/general.js#L75. As for fixing the `rel` method, we could do it by extending it, but `MyBB.popupWindows()` should be used as standard by devs IMO.

[2016-06-30 08:53] euantorano commented on #2441
Alright, it's probably easiest to leave it as is then. I'd rather not go extending/patching third party stuff for 1.8.8.

[2016-06-30 08:53] #2441 closed

[2016-06-30 09:16] #1810 closed

[2016-06-30 09:16] #298 closed

[2016-07-01 20:13] Devilshakerz opened #2443 "MyBB not respecting https:// URLs of certain resources"
https://github.com/mybb/mybb/blob/mybb_1807/admin/modules/config/attachment_types.php#L322
https://github.com/mybb/mybb/blob/mybb_1807/admin/modules/config/post_icons.php#L468
https://github.com/mybb/mybb/blob/mybb_1807/admin/modules/config/smilies.php#L646
https://github.com/mybb/mybb/blob/mybb_1807/admin/modules/config/smilies.php#L729
https://github.com/mybb/mybb/blob/mybb_1807/admin/modules/us

[2016-07-02 06:46] Sama34 commented on #2443
#1589 ?

[2016-07-02 08:46] Destroy666x commented on #2443
Yeah, I don't see the point of this PR while the `my_validate_url()` one seems to correct all of these. It'll only create conflicts.

[2016-07-02 10:33] Devilshakerz commented on #2443
Seems to be a duplicate, except ` inc/functions_serverstats.php` - I'll reduce the PR.

[2016-07-02 13:07] #2443 closed

[2016-07-02 13:30] Destroy666x opened #2445 "Host check code doesn't work anymore"
https://github.com/Devilshakerz/mybb/blob/4b11a11b4f5c1fea22b622bf8e5f8f073e625a4f/inc/functions_serverstats.php#L215

That site doesn't seem to work that way anymore. Also, replacing `www.` was never fully proper because the URL can be something like `http://thewww.com`

[2016-07-02 17:40] thelovelyone commented on #2441
Why was this rejected so? @euantorano already provided a fix for it, editing the myalerts_headericon template and having the latests alert.php file installed on the server.

[2016-07-02 20:32] Destroy666x commented on #2441
Umm... You kind of answered yourself. This is not MyAlerts repository.

[2016-07-02 20:40] thelovelyone commented on #2441
Oh ok, why was it posted here anyway then. :P

[2016-07-12 16:47] Ben-Conway opened #2446 "Mark All Reports bug"
From modcp.php/action=reports page, if we check the box for mark all reports and then remove the check for one individual report the mark all button doesnt get uncheked..

Steps to reproduce:
1. First report two or more posts
2. Click on the unread report notice to go to the reports page.
3. Now check the box for mark all. 
4. then from the list of reported posts, remove check for any one report
5

[2016-07-14 17:00] #1589 closed

[2016-07-14 17:02] dequeues commented on #1796
Merged in #1795

[2016-07-14 17:02] #1796 closed

[2016-07-15 16:26] wagey commented on #1223
Looking forward to this.

[2016-07-15 16:30] Devilshakerz opened #2447 "SQL error on post split with ONLY_FULL_GROUP_BY enabled"
Hello,
there is incompatibility bug with MySQL 5.7 on split post in custom moderation tool.
I added simple tool to split selected posts from thread to new forum and when I try use it, there is a bug:

[attachment=36550]

Original thread: [Custom mod tools - split post - MySQL 5.7 incompatibility](http://community.mybb.com/thread-195701.html)

[2016-07-15 16:32] Devilshakerz commented on #2447
Similar to #2306.

https://dev.mysql.com/doc/refman/5.7/en/sql-mode.html#sqlmode_only_full_group_by

[2016-07-15 16:34] wagey commented on #2256
I think this applies to Post Icons as well when they're all removed.

[2016-07-15 17:20] Destroy666x commented on #2256
Yeah, `$iconlist` is not checked

[2016-07-16 00:41] wagey commented on #2256
Thank you Paul.

[2016-07-16 19:57] #2447 closed

[2016-07-17 02:35] wagey commented on #2117
This would be nice to have back.

[2016-07-18 19:37] euantorano opened #2450 "Use a stylesheet for select2.css"
I suggest that rather than hardcoding the url to the select2.css in the templates that another stylesheet is added in the themes section of the ACP (rather like the thread_status.css or usercp.css).

This will make it easier to provide matching select2.css, especially for those forums with a flat or black theme. I know that an import url can be added at the top of the css, but using a stylesheet i

[2016-07-18 19:40] Eric-Jackson commented on #2450
Would this at all involve the ability to remove stylesheets? Regardless I'm glad this is getting looked at.

[2016-07-19 04:31] Destroy666x commented on #2450
Considering that stylesheets can't be updated and we update Select2, I don't think this will work.

[2016-07-20 03:38] kloddant opened #2451 "Unique keys in tables"
It would be convenient for people writing custom database migration code or plugins to have unique keys in all the appropriate places in the database tables.  This could also be useful in case the code that inserts and updates these tables ends up accidentally overlooking an implicit unique key.  I haven't looked at anything besides mysql yet, but for mysql, I would propose adding the following ke

[2016-07-20 08:36] Stefan-ST commented on #2451
Some of the keys you are suggesting aren't unique at all (for example there is an option to allow multiple registrations with the same email address, templates, events,...). And MyBB doesn't stop you from having items with the same name or title for most things (It of cause makes little sense to have 2 usergroups with the same name but it is technically no problem).

[2016-07-20 11:40] kloddant commented on #2451
Okay, well the list should be narrowed down a bit then, but there are still some keys here which should definitely be unique.  I was wondering about the email address thing, but since MyBB allows login and password reset via email address, I figured it had to be unique.

[2016-07-20 15:05] Destroy666x commented on #2451
It has to be unique when certain settings are turned on - but they aren't always turned on.

I don't think any single `name` or `title` you listed is supposed to be unique. Why wouldn't someone e.g. create 2 usergroups with the same title but other styling and/or permissions?

Some other like `badword` or `filter` make sense.

[2016-07-20 15:50] kloddant commented on #2451
The only instance that I can think of where a user would create two different usergroups with the same title but different styling and/or permissions is by accident -  the user has many usergroups, and they forgot that a previous usergroup already existed, perhaps because someone else already created it, or because they created it a year or two ago, so they waste time recreating it, only later to

[2016-07-20 16:41] Destroy666x commented on #2451
It's not that hard to think of an example - 2 super moderators groups with different ModCP permissions if you want to hide certain parts from not fully trusted ones, e.g. IP search since there are no individual ModCP permissions. Yet you may want to call both the same.

[2016-07-20 18:01] kloddant commented on #2451
Sure, you could do that, but I am not sure why anyone would.  In that situation, it would make more sense to title the groups "Super Moderator 1" and "Super Moderator 2."  Or "Super Moderator" and "Super Moderator IP".  Or use some other similar index or means of distinguishing them in their titles so that when you modify them, you know which is which.  I find it much more likely that people would

[2016-07-20 20:56] Sama34 commented on #2450
That is correct, MyBB doesn't update stylesheets so updating Select2 could be a pain in the future.

[2016-07-20 21:00] Eric-Jackson commented on #2450
Could the issue with updating stylesheets not be corrected? From here it seems that would solve a lot of other issues.

[2016-07-20 22:48] Destroy666x commented on #2451
Is there any important reason to make them? You suggested them without even looking how certain features work (e.g. emails) and your main reasoning were "implicit" keys. TBH, there are way more serious database issues, such as lack of FOREIGN KEYs, in 1.x.

[2016-07-21 03:33] Destroy666x commented on #2450
If someone writes that feature and makes sure it doesn't collide with theme/user changes, then yes, it could. Feel free to.

[2016-07-21 09:17] euantorano commented on #2450
When did we last update the select2 CSS file, out of interest? Have we ever actually updated it in the 1.8 cycle so far?

[2016-07-21 13:38] Stefan-ST commented on #2450
It has been changed a few times: https://github.com/mybb/mybb/commits/feature/jscripts/select2/select2.css

[2016-07-24 07:32] andrewjs18 commented on #1729
some links have been updated per this PR: https://github.com/mybb/mybb/pull/2453

[2016-08-03 19:07] groovybluedog commented on #1569
I was just about to make a thread about this as it is exactly that; too difficult to determine if email has been verified. This really needs to be fixed!

[2016-08-04 23:41] andrewjs18 commented on #1729
this should be all fixed now.

closing!

[2016-08-04 23:41] #1729 closed

[2016-08-06 08:19] I-n-d-e-r opened #2456 "Hash instead of the password at the "forgot my password""
Hash instead of the password at the "forgot my password". I did not change in any way member.php file in the email displays the password hash added to the database instead of the decrypted password to login.

![zrzut ekranu z 2016-08-06 10-17-30](https://cloud.githubusercontent.com/assets/18102267/17455658/46507050-5bbf-11e6-9b56-50445066ef67.png)

[2016-08-06 20:18] Destroy666x commented on #2456
Looks like this https://github.com/mybb/mybb/pull/1850 still wasn't fully checked

[2016-08-10 16:54] JoshHarmon commented on #2445
New URL is http://www.whoishostingthis.com/?q={$DOMAIN}

New pattern is, from what I can tell:

`{$DOMAIN}</span> is hosted by <span class="normal blue"><a href="/go/{$HOST_SLUG}/?track=WIHT-SiteProfile" target="_blank">{$HOST_NAME_PRETTY}`

So, a WIHT search of hostgator.com would return the HTML

`
hostgator.com</span> is hosted by <span class="normal blue"><a href="/go/hostgator/?track=WIHT-Sit

[2016-08-11 17:09] aa4re opened #2458 "Font BBCODE"
Hello,
From Class_parser.php:
....
`$nestable_mycode['font']['regex'] = "#\[font=([a-z0-9 ,\-_'\"]+)\](.*?)\[/font\]#si";
$nestable_mycode['font']['replacement'] = "<span style=\"font-family: $1;\">$2</span>";`
...

this BBCODE : [font=arial"] anything[/font]  produce invalid tag:

`<span style="font-family: arial";">anything</span>`

this solve the problem:
`$nestable_mycode['font']['regex'] = "#

[2016-08-11 19:06] Destroy666x commented on #2458
It's not, SCEditor adds bunch of font tags which wouldn't parse then.

[2016-08-12 21:04] Destroy666x opened #2459 "Add a function to clean all blank characters + more characters"
As discussed in GH, we should add a function based on characters in `trim_blank_chrs()` to clear all blank characters in a string and use it e.g. for usernames. Also, there are still some missing characters in the array(s).

[2016-08-12 21:19] JordanMussi commented on #1223
Fixed in #2460 :smile:

[2016-08-12 21:20] Ben-Conway commented on #1223
@JordanMussi Thanks for this, I was looking to get this done :)

[2016-08-12 21:21] JordanMussi commented on #1223
@Ben-Conway No problem! :grinning:

[2016-08-13 06:47] #1672 closed

[2016-08-13 06:52] #2256 closed

[2016-08-13 07:00] #2456 closed

[2016-08-13 07:03] #2431 closed

[2016-08-13 19:08] #2050 closed

[2016-08-14 16:47] JordanMussi commented on #2446
Fixed in #2461. :smiley:

[2016-08-16 06:36] groovybluedog commented on #2099
This is still an issue for me; using ranged/recurring events does not work at all, always, chucking out that "Using the start and end times along with the event repetition settings, this event won't occur" again.

[2016-08-19 08:31] #2446 closed

[2016-08-21 17:23] Devilshakerz opened #2462 "SQL error in Attachment Statistics with ONLY_FULL_GROUP_BY enabled"
A SQL error occurs in the Attachment Statistics view (Admin CP) when the SQL mode includes `ONLY_FULL_GROUP_BY` (default in MySQL >= 5.7.5).

https://github.com/mybb/mybb/blob/mybb_1807/admin/modules/forum/attachments.php#L199

https://dev.mysql.com/doc/refman/5.7/en/sql-mode.html#sqlmode_only_full_group_by

reported in https://community.mybb.com/thread-198231.html

[2016-08-24 20:30] #2462 closed

[2016-08-28 00:59] Devilshakerz opened #2464 "Add option to set cookies with Secure flag"
Server: https://github.com/mybb/mybb/blob/mybb_1807/inc/functions.php#L1810
Client: https://github.com/mybb/mybb/blob/mybb_1807/jscripts/general.js#L483

as suggested in https://community.mybb.com/thread-198899.html

[2016-08-28 07:55] andrewjs18 commented on #2464
I imagine this would cover this line as well?  https://github.com/mybb/mybb/blob/mybb_1807/inc/functions.php#L1856

I modified that line to read as:
[code]

[2016-08-28 09:36] Devilshakerz commented on #2464
Yes, though cookies set with JavaScript wouldn't have this attribute.
The `Secure` flag would be added in similar fashion, depending on a setting.

[2016-08-28 11:55] #1223 closed

[2016-08-28 11:57] #2427 closed

[2016-08-28 12:02] #2167 closed

[2016-09-01 19:42] premiumcuyuz commented on #2396
fixed?

[2016-09-01 21:15] JordanMussi commented on #2396
@premiumcuyuz there is a fix for this issue in #2397 but it hasn't been tested and merged so it won't be included in 1.8.8. :smiley:

[2016-09-05 23:43] Mikemayday commented on #2045
Hello,
I'm pretty new to MyBB (and running a forum in general) so terribly sorry if this is an obvious question. Is it possible to manually update SCEditor in your installation? This is a REALLY annoying bug and since I've just got tasked with moving a rather big community to MyBB, I don't want to disappoint.

[2016-09-06 05:02] Cu8eR commented on #2045
@Mikemayday - you can replace this bugged editor with CKeditor - plugin is here: https://community.mybb.com/thread-189422.html + I recommend to use it together with dvz mentions plugin for tagging users ;)

[2016-09-06 07:56] Mikemayday commented on #2045
Well, funnily enough, Rin also appears to have a problem with smilies.

If I insert a smiley via the smiley panel, it appears ok in the editor. When I click preview, the smiley looks ok in the post preview, but is broken in the wyswig editor and in the final post. Its URL gets replaced with "http://foo.bar/http"

If I insert the smiley by typing the appropriate text and then click preview, they ap

[2016-09-06 18:29] Mikemayday commented on #2045
@Destroy666x As a failsafe, I wanted to ask: it appears @samclarke has been pushing some stuff to his main SCE branch again, do you think there's a chance for an update in MyBB?

[2016-09-07 06:29] CvH opened #2467 ": in url isn't handled correctly"
If I insert a link (some Wiki) `http://some.url/index.php?title=HOW_TO:Provide_Logfile` it don't recognize the full url - it stops at `:P` and inserts an emoticon.

the result after posting this url is
`http://some.url/index.php?title=HOW_TO[img]http://some.url/path/tongue.png[/img]rovide_Logfile`

[2016-09-07 07:36] CvH commented on #2467
sorry for the noise - probably an CKEditor problem

[2016-09-07 07:36] #2467 closed

[2016-09-07 08:05] euantorano commented on #2467
PS: In the future, please report issues on the forum, which we will then later push to here once confirmed.

[2016-09-07 08:11] CvH commented on #2467
@euantorano
CONTRIBUTING.md is sadly the best hidden thing at gh, pr templates would fix this ;)
(will follow your guidelines next time)

[2016-09-07 08:26] euantorano commented on #2467
@CvH Yep, unfortunately. I wish there was a way to disable the reporting of issues, but still have issues that can be created via the API (which is how we do it).

The 2.0 repositories don't have any of these kind of rules - they operate more like a normal project as we don't have any legacy rules to hang on to ;)

[2016-09-10 20:06] PaulBender opened #2469 "modcp_announcements_delete"
In this template there are 2 closing form tags, i only see one form being opened, so is the 2nd one redundant?

&lt;html&gt;
&lt;head&gt;
&lt;title&gt;{&#36;mybb-&gt;settings['bbname']} - {&#36;lang-&gt;delete_announcement}&lt;/title&gt;
{&#36;headerinclude}
&lt;/head&gt;
&lt;body&gt;
{&#36;header}
&lt;form action="modcp.php" method="post" enctype="multipart/form-data"&gt;
&lt;input type="hidden"

[2016-09-20 01:01] kernschmelze opened #2471 "threads get marked as read by just visiting forum categories"
There is a bug that gets threads marked as read by just visiting forum categories.
I hope it is acceptable to refer you to the forum thread discussing the bug to avoid redundant description of details.
https://community.mybb.com/thread-202223.html

I have written a fix. See the thread, please.
However I am new to Git(Hub).
Please don't be angry if I make any annoying mistake in the process to do t

[2016-09-20 05:33] Cu8eR commented on #2471
It should be fixed in MyBB v1.8.8
https://github.com/mybb/mybb/issues/2167

Am I right?

[2016-10-03 02:06] LiveChief opened #2472 "Wiki"
Open Up That WiKi Section

[2016-10-03 18:29] Devilshakerz commented on #2472
We don't have plans to use the Wiki in this repository as all related documentation is being maintained on https://docs.mybb.com/ - feel free to submit Pull Requests to https://github.com/mybb/docs.mybb.com (it's also a good practice to create an Issue first: https://github.com/mybb/docs.mybb.com/issues).

[2016-10-04 08:10] #2472 closed

[2016-10-04 14:50] katosdev commented on #2471
Unable to replicate this myself, @euantorano might be able to provide an insight here.

[2016-10-04 14:52] katosdev commented on #2471
Please refer to : https://github.com/mybb/mybb/pull/2169 as this should solve your issue.
You can apply this fix yourself, or update to 1.8.8 as @Cu8eR stated above.

[2016-10-06 14:18] Devilshakerz opened #2473 "No cache handler used on upgrade"
The cache maintained by handlers other than database (default) is not being rebuilt correctly during the upgrade process.

The `datacache` class needs `datacache::cache()` to be called in order to initialize the cache handler depending on the `inc/config.php` value - this is done in [`install/upgrade.php:135`](https://github.com/mybb/mybb/blob/mybb_1807/install/upgrade.php#L135), however the `buil

[2016-10-07 17:26] Cu8eR opened #2474 "Redundant " in moderation_delayedmoderation_date_day and modcp_announcements_day"
Redundant " in moderation_delayedmoderation_date_day and modcp_announcements_day

links:
https://community.mybb.com/thread-203427.html
https://community.mybb.com/thread-203418.html

[2016-10-11 13:10] #2473 closed

[2016-10-13 13:26] martec commented on #2217
@Destroy666x

we can't use span tag.
if use span tag this bug will return https://github.com/mybb/mybb/issues/2228
https://github.com/mybb/mybb/pull/2229#r41813697

[2016-10-20 02:33] martec commented on #2217
need wait 2.0
solution for this appear that only in 2.0 of sceditor https://github.com/samclarke/SCEditor/issues/538

[2016-10-21 19:35] Devilshakerz opened #2477 "Invalid table name in Report Reasons"
The table name is `reportedcontent`, not `reports`:
https://github.com/mybb/mybb/blob/mybb_1808/admin/modules/config/report_reasons.php#L267

This results in a SQL error upon deletion, before any changes are actually made in the database.

[2016-10-21 21:14] #2474 closed

[2016-10-21 21:23] #2477 closed

[2016-10-22 21:56] #2065 closed

[2016-10-23 11:07] Cu8eR commented on #2471
@PaulBender @Destroy666x and others - this is fixed in 1.8.8, it can be closed

[2016-10-23 14:03] #2471 closed

[2016-10-23 19:51] #2426 closed

[2016-10-23 19:57] Devilshakerz opened #2483 "Only one child theme moved up the tree when deleting themes"
When deleting a theme, MyBB should move all child themes to the same level (if present), however the current query modifies only one child (`$children[0]`). This renders the remaining children invisible in the _Themes_ view in the ACP.
https://github.com/mybb/mybb/blob/feature/admin/modules/style/themes.php#L1028-L1034

[2016-10-24 19:20] Cu8eeeR opened #2485 "Expand/collapse theads not fully implimented"
https://community.mybb.com/thread-198036.html

[2016-10-24 19:28] Cu8eR commented on #2413
I think this is one of the most useful features for MyBB - it could enhance the security

[2016-10-25 18:35] JordanMussi commented on #2485
Not sure about other issues with expand/collapse...but I have noticed this one:

`showthread_threadnotes` should use a `thead` to ensure no rounding on bottom corners of the heading when expanded.

[code]

[2016-10-25 18:37] Cu8eR commented on #2485
@JordanMussi - I agree, can you please post a PR for this issue?

[2016-10-27 12:44] JordanMussi commented on #2485
@Cu8eR Done in #2487

[2016-10-27 19:03] JordanMussi opened #2488 "Report Reasons not sent in report PM/email notifications"
https://community.mybb.com/thread-205425-post-1250421.html#pid1250421

The reason `title` should be fetched from the `reportreasons` table and the `reason` field should also be included for reasons that require additional information. This should then be inserted [here](https://github.com/mybb/mybb/blob/mybb_1808/inc/functions_modcp.php#L213).

---

While confirming this issue I have also noticed

[2016-10-31 20:24] JordanMussi opened #2491 "New reply mod options do not check specific moderator permissions"
[At the moment](https://github.com/mybb/mybb/blob/mybb_1808/newreply.php#L1395) in new reply the mod options (close & stick checkboxes) are only shown to moderators of the forum (including those who can't close/stick threads).
The close/stick options should be separated out with the `canstickunstickthreads` and `canopenclosethreads` forum moderator permissions checked.
eg `is_moderator($fid, "cans

[2016-11-01 12:09] JordanMussi commented on #2458
I think it might be best to check for an opening and closing quote? That way we don't break any existing use of the font code.

[2016-11-01 14:19] JN-Jones commented on #2458
Wouldn't simply disallowing " work? Isn't that the solution we're using elsewhere? If not this may apply in other places

[2016-11-01 14:50] Stefan-ST commented on #2458
@JN-Jones We've allowed them to fix #1221.

[2016-11-02 19:10] JordanMussi commented on #2458
@Stefan-ST: the issue didn't seem to be with double quotes so we should be fine to take double quotes (`"`) out as they are the problem here?

[2016-11-02 19:44] Stefan-ST commented on #2458
Are you sure the SCEditor doesn't add double quotes in any case?

[2016-11-03 12:23] Shade- commented on #2125
I wonder why this hasn't been patched already. I'd say it's critical priority; ran into a database failure playing around with my board, but I dumped the database using the built in tool before doing so. Long story short, I've lost everything and could not restore the backup due to the file being corrupted.

[2016-11-07 09:48] JN-Jones commented on #2485
Reopening as there's still #2482

[2016-11-07 11:54] JN-Jones commented on #139
@euantorano @Devilshakerz @Destroy666x @Stefan-ST This issue is open since 3 years. So do we want to work on this or close it as suggested two years ago?

[2016-11-07 11:56] JN-Jones commented on #219
If noone wants to work on this I'll simply remove binary within the next days @mybb/developers

[2016-11-07 11:58] JN-Jones commented on #256
@Stefan-ST You're assigned to this for nearly 2 years now. Has there been any work on this or has already been fixed?

[2016-11-07 12:04] JN-Jones commented on #268
Looks like this is valid from the code. @Sama34 or @mybb/developers shouldn't be too hard to fix this so can somebody look at this?

[2016-11-07 12:30] Stefan-ST commented on #256
@JN-Jones I've already spent some time trying to fix this bug but fixing the counters is quite difficult and requires a lot of testing.

[2016-11-07 12:55] euantorano commented on #139
I've not looked at it, but if it's not an easy fix I doubt we'll get it done for 1.8.

[2016-11-07 15:35] #2469 closed

[2016-11-07 16:37] JN-Jones commented on #262
Looks like I accidently fixed this back in 1.8.0 so closing

[2016-11-07 16:37] #262 closed

[2016-11-07 16:42] JN-Jones commented on #270
Nothing wrong here so closing (tested with the newest github code and at all stages the counters were correct)

[2016-11-07 16:42] #270 closed

[2016-11-07 16:45] JN-Jones commented on #276
@mybb/developers This is a really simple issue so would be nice if someone could take a look at it and create a PR for it.

[2016-11-07 16:47] JN-Jones commented on #299
@mybb/developers @mybb/sqa I would propose to simply remove the function above as there's no apparent reason for that (or maybe @tommm as the longest member knows something) and I don't see a reason to keep it.

[2016-11-07 16:58] Devilshakerz commented on #299
To my knowledge the current mechanism works correctly.
When the CSS file is saved in the `cache/themes/` directory all paths are converted to be relative to that location, and they are removed when pasting the raw cache file in the ACP.

[2016-11-07 16:59] JN-Jones commented on #302
Code from above a bit more readable:
[code]

The current code really looks quite ugly. Especially since we handle array fields with one query but if we have a single field we use a loop which doesn't make much sense to me. I'm also not sure whether we need to replace the loop with the code above as it doubles the code we use for array without the foreach there. From a quick look the following func

[2016-11-07 17:01] JN-Jones commented on #299
You shouldn't paste the raw cache file in the ACP. And the current mechanism doesn't work if you have your images in a directory which is at least the levels above the forum (which may happen) so it's more a bug than a feature IMHO.

[2016-11-07 17:06] JN-Jones commented on #309
There also seems to be a possibilty using the collation: http://stackoverflow.com/questions/2876789/how-can-i-search-case-insensitive-in-a-column-using-like-wildcard

I don't have my PgSQL board available atm so can't test it but if that's a possibility I'd prefer using that over lowercasing every single like query in PgSQL. @mybb/developers

[2016-11-07 17:06] Devilshakerz commented on #299
I'm usually working on cache files and save it in the ACP to make MyBB update the version in the database once it's done - I suspect more people are using this bug as a feature, so it might break compatibility.

[2016-11-07 17:07] JN-Jones commented on #313
@Destroy666x What's with this?

[2016-11-07 17:17] JN-Jones commented on #329
The issue here is mainly that the permission switch when creating a new forum has it's default values and ignores everything else but if those aren't changed the values are inherited which may be different than the default ones. While I agree that this is confusing I'm not quite sure how this could be properly fixed. First of all our whole inheriation process is a whole mess, secondly it's always

[2016-11-08 11:54] JN-Jones commented on #299
What does the rest think? I've still the opinion that this is more a bug than a feature and would vote for removing it. Otherwise we should simply close this but we shouldn't keep it open for years...

[2016-11-08 11:56] JN-Jones commented on #256
But you're going to work on it? Or is it not worth the time trying to fix this i 1.8?

[2016-11-08 12:02] JN-Jones commented on #154
Can confirm this. When selecting all threads it shows a notification "x Threads on this page have been selected, click here to select all x threads on all pages". Something similar should be done in the Report Center. Also something else I've noticed which should probably be fixed here too as it's a small issue: The all reports page shows "There are currently no unread reports" if there are no rep

[2016-11-08 12:11] Stefan-ST commented on #256
I still plan to fix this as soon as I get a chance.

[2016-11-08 13:15] JN-Jones commented on #354
While I can confirm that this is valid we should discuss how we want to solve this. It's ok to overwrite the primary usergroup as long as it's the registered group but I don't think that overwriting custom usergroups is the best idea. Instead the moderator group should either set as secondary group or the custom group should be moved to secondary groups.

[2016-11-08 13:20] JN-Jones commented on #357
@mybb/sqa I have never experienced this myself and most support request about mass mail are related to other issues so not sure whether this is a valid bug. Can somebody confirm this or otherwise close it?

[2016-11-08 13:22] JN-Jones commented on #511
@Devilshakerz Can you create a PR for this? Even if it's a small bug I don't see a reason to keep it open for so long.

[2016-11-08 13:29] JN-Jones commented on #596
@mybb/developers @mybb/management @mybb/sqa As we're already at 1.8.8 without ever getting this done I'm not sure whether we really need this. Especially since we decided to concentrate on 2.0 and stop adding features to 1.8. While @Polarbear541 had done some work on this (#1095) it doesn't look like that PR was near done. So I'd propose closing this and instead keep it in mind for 2.0.

[2016-11-08 13:35] JN-Jones commented on #674
The whole template search seems odd. The first example of @JordanMussi returned the `showthread` template for me but not the `index` one which still has the closing/opening tags. However the indents search works as long as you don't combine it with a linebreak. So it seems that mainly the linebreak is causing this behavior.

[2016-11-08 13:39] Eric-Jackson commented on #299
I'd vote for removing this. It caused me trouble when I first started working with MyBB, I'm sure others have had issues as well.

[2016-11-08 13:40] JN-Jones commented on #1054
@euantorano As you were the one implementing the CDN stuff can you take a look at this (and #1829)? Would be good to get this done.

[2016-11-08 13:42] euantorano commented on #1054
As Omar said, I'm not sure if using the CDN in the ACP is the best idea in case the CDN fails. The ACP is sued by fewer people and less often than the front-end anyway, so it shouldn't cause bandwidth issues.

[2016-11-08 13:43] euantorano commented on #1829
THis is a separate issue, so I'll re-open this and work on it.

[2016-11-08 13:43] JN-Jones commented on #1071
Removing @Sama34 as he isn't active anymore. Apart from that this is still valid and should be fixed as it's a small fix but results in quite odd behavior. I would also vote for adding those checks (if possible) to the datahandler to avoid missing places.

[2016-11-08 13:45] JN-Jones commented on #1054
So instead of falling back to local files in case the CDN fails you're suggesting to simply use local files from the start? I'm fine with but let's hear what @mybb/management the management says

[2016-11-08 13:47] JN-Jones commented on #1106
Hiding information the user shouldn't see should be a priority and should be fixed ASAP @mybb/developers

[2016-11-08 13:51] JN-Jones commented on #1112
What exactly do we need here? I'm not sure whether optimising code should be a priority as quite a lot of code is ugly (hence the rewrite). I'd like to concentrate on bugs and the rewrite insteaf of improving 1.8 like that. However there also seem to be few things like moving the settingsgroup which would make sense to the user.

[2016-11-08 13:54] Stefan-ST commented on #1106
However it doesn't reveal much. For example the user must have seen a thread at some point to subscribe it. So he already knows the subject (unless it has been changed later).
It would be high priority if it actually shows the posts or something like that.

[2016-11-08 13:54] JN-Jones commented on #1168
As there weren't any users wondering about some weird pagination I'd still vote for simply ignoring this and closing the issue. @mybb/developers

[2016-11-08 13:55] Stefan-ST commented on #1054
How would you fall back to local files in case the CDN fails?

[2016-11-08 14:02] Stefan-ST commented on #596
It's certainly not a feature that has been requested many times.

[2016-11-08 14:03] JN-Jones commented on #1366
I've some weird behavior in IE but I'm not sure whether it's related to this. However I can at least confirm that Edge doesn't have the same issue. I'll try to take a look later to see whether it's exactly related to this.

[2016-11-08 14:11] JN-Jones commented on #1427
@mybb/developers If this is only a small change like @Destroy666x said it'd be nice getting a PR for this.

[2016-11-08 14:12] JN-Jones commented on #1429
@justinsoltesz Can you take a look at this? Otherwise I'd say this isn't worth fixing.

[2016-11-08 14:13] JN-Jones commented on #1450
@Sama34 What exactly is needed here? I'm not sure I understand it.

[2016-11-08 14:14] JN-Jones commented on #1469
There should clearly be a proper error message but simply modifying it depending on the status of the duplicated post should be fine.

[2016-11-08 14:16] JN-Jones commented on #1543
@mybb/developers As this shouldn't break plugins it's probably best to simply add another if for this. Or do we want to close this as it's been like this for years now?

[2016-11-08 14:16] JN-Jones commented on #1565
@PaulBender Are you still working on this?

[2016-11-08 14:18] JN-Jones commented on #1572
@mybb/developers As this can be quite annoying on a multi language board I'd like to get a fix for this.

[2016-11-08 14:28] Stefan-ST commented on #1450
@JN-Jones There is no option to use translations for custom help docs.

[2016-11-08 14:43] euantorano commented on #1054
The system has no way of knowing if the CDN fails unless we start pinging the CDN server and checking responses match local content. It's easier to just simply use local files from the start in the ACP.

[2016-11-08 15:06] euantorano commented on #1543
I'm not sure if it's worth fixing given how long it's been like this - some people might be used to the current behaviour.

[2016-11-08 15:44] PaulBender commented on #1565
Yes, I'll submit the PR later today.

[2016-11-08 15:45] JN-Jones commented on #1054
Closing this then

[2016-11-08 15:45] #1054 closed

[2016-11-08 17:19] ckoecher opened #2496 "Editing of announcements in ModCP doesn't work"
A few minutes ago I've tried to update an old announcement (starting date in 2007) in my forums via the ModCP. After submitting I've got the following error message:

If I replace the date by another one in present or future the error doesn't occur. But in this case the starting date will not be saved. Instead the timestamp seems to contain only the difference from now till the given date (e.g. if

[2016-11-08 19:35] Cu8eeeR opened #2497 "Delayed moderation - missing lang string for time"
https://community.mybb.com/thread-203431.html

Anyway. the lang string is here... am I right?
https://github.com/mybb/mybb/blob/feature/install/resources/mybb_theme.xml#L8010

[2016-11-08 21:19] Devilshakerz opened #2498 "No hooks available in password hashing functions"
The lack of plugin hooks and hardcoded `md5` pre-hashing make it impossible to hijack the hashing process using plugins without modifying the core.

[2016-11-08 21:28] justinsoltesz commented on #1429
Personally I think the pain this would likely cause theme authors at this point now that 1.8 has been out for over 2 years outweighs the benefits from addressing this.

I can look at it if absolutely necessary, but I won't be able to any time soon as there are other higher priority things on my task list I need to accomplish.

[2016-11-09 16:50] JN-Jones commented on #1429
I'm fine with that, @euantorano are you ok with closing this?

[2016-11-09 17:07] JN-Jones commented on #2497
The language string is only defined in `modcp.lang.php` which isn't loaded in `moderation.php`.

Anyways I'd prefer if you don't create issues for reports which hasn't been looked at by a team member. It's a lot easier for us if we can sort them first and push them using our tools instead of cleaning up behind you.

[2016-11-09 17:08] ezeql commented on #2125
@Shade-

I hit the same problem but i'm not able to fix it by removing the characters.

I'm getting: gzip: stdin: invalid compressed data--crc error

any hints? Thanks!

[2016-11-09 17:15] JN-Jones commented on #2496
Can confirm that editing announcements checks for the start date to be in the future which doesn't make sense on editing.

Anyways, please report issues on our forums next time as stated on our contributing file: https://github.com/mybb/mybb/blob/feature/CONTRIBUTING.md

[2016-11-09 17:16] JN-Jones commented on #596
@euantorano Fine with closing this too?

[2016-11-09 17:26] frostschutz commented on #2125
@Shade what kind of plain text was it and where did it come from? sounds more like you have some php file misbehaving. (like the utf-8 byte order mark issue people get when editing files with MS notepad). Unwanted output is a common issue with PHP. The fault is with broken PHP files, not MyBB itself...

@ezeql `hexdump -C -n 16 thefile.gz`? should start with 1f 8b whatnot ...

[code]

[2016-11-09 17:30] ezeql commented on #2125
`➜  mybb hexdump -C -n 16 backup_3a3139f390aH6bFP3ZSUyXaY4Bt0ovmE68UWtjk7wpp5JMmv8Thr5LPLtX3Uf6gp\ \(copy\).sql.gz
00000000  1f 8b 08 00 00 00 00 00  00 03 f3 f4 0b 76 0a 51  |.............v.Q|
00000010`

[2016-11-09 17:43] euantorano commented on #596
Yep, no objections here.

[2016-11-09 17:51] Cu8eR commented on #2497
@JN-Jones - there are over 3 pages of bugs report - many of then from 2014 - it would be nice if you can push/close/reject them... no offence, just my 0.02$

[2016-11-09 18:01] #596 closed

[2016-11-09 20:22] ezeql commented on #2125
more info:

text contents at the beginning of the file:

`-- MyBB Database Backup
-- Generated: 08th November 2016 at 02:06
-- -------------------------------------

CREATE TABLE `mybb_adminlog` (
  `uid` int(10) unsigned NOT NULL DEFAULT '0',
  `ipaddress` varbinary(16) NOT NULL DEFAULT '',
  `dateline` int(10) unsigned NOT NULL DEFAULT '0',
  `module` varchar(50) NOT NULL DEFAULT '',
  `action`

[2016-11-10 12:59] JN-Jones opened #2502 "Weird timestamp addition in modcp resulting in integer overflow"
Line 1268 in modcp.php we're adding two integers which results in an overflow (meaning php converts it to float) on 32bit systems which later may throw a warning as `gmdate` expects an integers. As `TIME_NOW` is already added to the second variable simply removing that fixes the error (we're not adding `TIME_NOW` to other calls anyways).

[2016-11-10 13:23] Shade- commented on #2125
@frostschutz Same text @ezeql wrote.

[2016-11-10 14:16] JN-Jones commented on #219
Going to remove it later

[2016-11-10 14:18] JN-Jones commented on #299
Any more opinions?

[2016-11-10 14:20] JN-Jones commented on #1168
Anyone against closing?

[2016-11-10 14:23] JN-Jones commented on #1543
Anyone else with an opinion?

[2016-11-10 15:27] JN-Jones commented on #1674
@brunoais @mybb/developers As this issue and the one over at the SCE repo are still open I'd like to have a descision whether this is an issue on our side or on yours (so who's the one who should fix this?)

[2016-11-10 15:28] JN-Jones commented on #1750
@euantorano Can you add the regex for this?

[2016-11-10 15:38] JN-Jones commented on #1783
Removing @Sama34 as he's inactive. Should be fairly easy changes here @mybb/developers

[2016-11-10 15:50] JN-Jones commented on #1790
@Destroy666x This should be a fairly small change, can you take a look or unassign yourself?

[2016-11-10 15:52] ezeql commented on #2125
@Shade-  I'm confused. Were you able to recover the backup ?

[2016-11-10 15:54] JN-Jones commented on #1860
Unassigned @Sama34

@mybb/developers Can somebody look at this? There are some odd behaviors related to it as stated in the original thread.

[2016-11-10 15:57] JN-Jones commented on #1894
While I agree with the idea I'm not sure whether we want to really add more features @mybb/developers @mybb/management

[2016-11-10 15:58] JN-Jones commented on #1966
@mybb/developers Can somebody look at this? There seem to be fixes available which should be considered and created a PR with them.

[2016-11-10 15:59] JN-Jones commented on #2011
@Destroy666x You're assigned to this and added the in_progress label. Can we expect a PR for this anytime soon?

[2016-11-10 16:01] JN-Jones commented on #2045
As @samclarke is alive again and new versions have been released it'd be nice to get those updates in 1.8.9 @mybb/developers

[2016-11-10 16:03] JN-Jones commented on #2047
Unassigned @Sama34

@mybb/developers Can we have this fixed? I'm not sure whether we really should spend much time with the example plugin but ass we have it it should work.

[2016-11-10 16:05] JN-Jones commented on #2055
@Sama34 @mybb/developers @mybb/sqa I'm not sure whether this is even a valid report as there's no information about the original issue and I haven't seen any related issues on the forums.

[2016-11-10 16:06] JN-Jones commented on #2056
@mybb/developers Can we have some more opinion on this? @Destroy666x assigned himself after @Stefan-ST comment but I'd like to have a consens before we get a PR here.

[2016-11-10 16:07] justinsoltesz commented on #1894
From a user experience point of view I don't think this should be changed. If I'm not mistaken the only way to permanently delete a post currently when soft delete is enabled is to use the mod tools -- changing that (even if it's just a setting) would lead to inconsistencies between the expected result for normal users vs. mods/admins, as well as for users who only moderate certain forums. Also, i

[2016-11-10 16:09] JN-Jones commented on #2059
From a user perspective I'd say that the redirection page should be in the user language. As the language string is loaded after the user credentials are checked it should be possible to load his language for the redirection page. Other user settings shouldn't matter at this point. @Stefan-ST

[2016-11-10 16:10] euantorano commented on #1750
No problem, I'll do it at the weekend when I get home

[2016-11-10 16:11] JN-Jones commented on #2060
As this is upgrade related and it seems to be hard to reproduce I'm not sure whether there's anything we can properly do. @mybb/developers Probably rejecting this is the best instead of keeping it open for another year.

[2016-11-10 16:24] JN-Jones commented on #2080
@mybb/developers @mybb/management Seems like we need some discussion here. The possibilities are:

* Show a warning somewhere if the setting is used without any buddy (either on activating it or deleting the last buddy)
* Don't receive any pm if you have no buddy
* Keep it like it is

I'd prefer the first variant so the feature works as described (only buddies can send me a pm) but it remembers yo

[2016-11-10 16:27] brunoais commented on #1674
It's not me to decide, actually. I may have been added as a developer and I may have been more active but it is actually @samclarke who can answer that question.

[2016-11-10 16:29] JN-Jones commented on #2086
Unassigned @Sama34

Also agreed that it's odd to show pms from deleted users as MyBB Engine. However I don't see why we should show -1 as MyBB Engine as the current code only shows 0 as Engine. Instead we could simply run an update query on update to update every fromid < 0 to 0. And afterwards -1 could be used for deleted users.

[2016-11-10 16:31] JN-Jones commented on #2100
@Sama34 Do you have the workaround somewhere? If not is there any good way to fix this? @mybb/developers

[2016-11-10 16:35] JN-Jones commented on #2111
Unassigned myself as I'm not sure what the best solution would be here. @mybb/developers Any other thoughts here?

[2016-11-10 16:44] JN-Jones commented on #2124
Removed myself as apparently that function has been hacked into some file which since then has been overwritten. Apart from that we should first test whether this issue is still present as there have been some changes to the theme system in the early 1.8 versions.

[2016-11-10 16:53] Stefan-ST commented on #2059
"Show friendly redirect pages" and the theme setting might matter here if you want a consistent behaviour.

[2016-11-10 16:55] Stefan-ST commented on #1894
Providing both options (like we do for editing posts) would solve this.

[2016-11-10 16:56] Stefan-ST commented on #2056
Beside that, was anybody able to confirm the reported issue?

[2016-11-10 16:57] justinsoltesz commented on #1894
Agreed, that would be a better solution.

[2016-11-10 16:57] euantorano commented on #1429
Yep, I'm fine to close this.

[2016-11-10 16:57] #1429 closed

[2016-11-10 16:59] Stefan-ST commented on #2047
It probably takes about 5 minutes at most to fix it. We should set a good example...

[2016-11-10 17:00] euantorano commented on #1894
I agree @Stefan-ST's suggestion would work best, if somebody's willing to write it. I'd rather not add new features to 1.8, but this should be a minor change.

[2016-11-10 17:00] euantorano commented on #2056
I've not had a chance to look and confirm this. I'm away from home until the weekend, but will try to look then.

[2016-11-10 17:03] euantorano commented on #2080
My vote would be for option 2 - `Don't receive any pm if you have no buddy`

[2016-11-10 17:03] euantorano commented on #2060
If nobody's managed to reproduce it by now, I'd be inclined to agree.

[2016-11-10 17:05] euantorano commented on #1774
I had a brief look and couldn't work out where it was going wrong. I'll have a look this weekend.

[2016-11-10 17:06] euantorano commented on #1168
No objections from me.

[2016-11-10 17:08] euantorano commented on #299
I'd be happy with removing it, so long as existing themes will continue to work as before both when using the cache and when not (such as if the folder isn't writable).

[2016-11-10 17:10] euantorano commented on #2059
Yes, I agree with Stefan. If I login and have friendly redirect pages turned off, I'd expect to not see a friendly redirect.

[2016-11-10 17:11] euantorano commented on #2124
Anybody still got a 1.6 board sitting around that could easily test this?

[2016-11-10 17:16] #1789 closed

[2016-11-10 17:17] #219 closed

[2016-11-10 17:18] #2502 closed

[2016-11-10 17:25] euantorano commented on #2047
At a quick glance, it looks like all that should be needed is:

- Different table creation code for different engines where `AUTO_INCREMENT` differs (and where `Enging=myisam` does't work) - https://github.com/mybb/mybb/blob/feature/inc/plugins/hello.php#L364
- Some weird stuff going on with template deletion - https://github.com/mybb/mybb/blob/feature/inc/plugins/hello.php#L404 - surely this can

[2016-11-10 18:17] JN-Jones commented on #2124
I doubt that a fresh board would show this error. I've done quite a lot of updates back then with different database types and can't remember that I've seen this. Only a few boards seem to have this error at all.

[2016-11-10 18:18] WhiteKitty00 opened #2509 "Signature preview saves the signature?"
Just wanted to note, that upon clicking the 'Preview Signature' button, it saves the signature already, using MyBB 1.8.8 I've checked the source code, and the button code for the preview is like this:

[code]

[2016-11-10 18:20] JN-Jones commented on #2059
That setting shouldn't be a problem to check too. However the theme might be an issue as it's usually loaded in global.php afaik. Guess someone would need to check whether it's possible to properly change the theme after the user has been loaded.

[2016-11-10 18:33] JN-Jones commented on #2509
This was introduced in #2347

Anyways, please report issues on our forums next time as stated on our contributing file: https://github.com/mybb/mybb/blob/feature/CONTRIBUTING.md

[2016-11-10 19:58] #2125 closed

[2016-11-10 19:59] euantorano commented on #2059
The theme isn't as big of a problem IMO if it's going to require a big change - if friendly redirects are disabled, it won't even be seen either.

[2016-11-10 22:40] premiumcuyuz commented on #2350
what's the latest?

[2016-11-11 09:29] JN-Jones commented on #2130
@mybb/developers as mentioned on the PR I  think we need to discuss what we see is a proper solution here.

[2016-11-11 11:37] Shade- commented on #2125
I was. Just delete that part from the backup and decompress using The Unarchiver (using Mac). gunzip did not work even after the removal much to my surprise.

[2016-11-11 12:10] Stefan-ST commented on #2125
@Shade- Does gunzip work with backups created after applying the fix?

[2016-11-11 12:17] JN-Jones commented on #2108
@mybb/developers What's the preferred solution to this? A manual on/off switch which may also be helpful for testing purposes or simply avoid loading empty stylesheets?

[2016-11-11 12:22] JN-Jones commented on #2086
Ok, don't know how @Sama34 was able to find plugins using -1 as MyBB Engine as fromid is an unsigned integer. I'd need to make it a signed one again to show a special name for deleted users which I'm not sure is really necessary in that case. Would be nice to have a short discussion about this @mybb/developers

[2016-11-11 12:26] Shade- commented on #2125
Confirmed to work on 1.8.8.

[2016-11-11 12:26] ezeql commented on #2125
@Stefan-ST  seems to work on an almost clean installation.

[2016-11-11 13:04] ezeql commented on #2125
@Shade- Tested using  your suggested app and it didn't work :(

[2016-11-11 13:45] Shade- commented on #2125
If you want, you can send me a temp link to download the backup and I will try to recover it for you.

[2016-11-11 14:34] ezeql commented on #2125
@Shade-  much appreaciated. I sent you a pm at the forum.

[2016-11-11 17:34] #2509 closed

[2016-11-11 17:38] #2078 closed

[2016-11-11 17:40] #2061 closed

[2016-11-11 17:45] #2066 closed

[2016-11-12 09:31] euantorano commented on #2108
A manual on/off switch would be my preferred approach for definite.

[2016-11-12 09:32] #2135 closed

[2016-11-14 12:16] #2047 closed

[2016-11-14 12:17] #1565 closed

[2016-11-14 12:17] #2498 closed

[2016-11-15 13:27] LostArchives opened #2514 "No Licence file"
Hello,
Your project is very interesting but I can't find the licence file at the root of the project.

[2016-11-15 13:31] Shade- opened #2516 "Last post not updated when approving the first post using inline mod tools"
Last post data is not updated accordingly when you post a reply to an unapproved thread and subsequently approve the first post of the thread by using inline moderation tools.

### Steps to reproduce
- Post a thread and unapprove the thread;
- Post a reply to the unapproved thread;
- Approve the first post using inline moderation tools.

[2016-11-15 13:47] JN-Jones commented on #1674
@samclarke would be nice to get your input on this.

[2016-11-15 14:52] Shade- commented on #2516
This is related to https://github.com/mybb/mybb/blob/feature/inc/class_moderation.php#L2468. approve_threads() does not update_last_post() while performing an update_forum_lastpost(). The solution would imply adding update_last_post() either to approve_threads() or above L2468. What do you think guys? @mybb/community-team

[2016-11-15 18:49] frostschutz commented on #2125
For the case where it starts with plaintext and then turns into gzip stream later on, some manual recovery steps using Linux / binwalk / dd / gunzip: http://unix.stackexchange.com/a/282374/30851

[2016-11-16 02:05] samclarke commented on #1674
In attempt to be more forgiving and allow invalid BBCodes the default handlers just throw away any attributes they understand. Originally the idea was for people to create custom BBCode handlers for any BBCodes they want to use with the editor so that behaviour wouldn't be a problem.

Thinking about it though that behaviour is probably not the best, at least for the default handlers. I've created

[2016-11-16 14:56] Devilshakerz opened #2517 "Invalid values used with operators expecting numbers raise E_WARNING on PHP 7.1"
https://github.com/mybb/mybb/blob/mybb_1808/inc/functions_calendar.php#L453-L461
https://github.com/mybb/mybb/blob/mybb_1808/calendar.php#L1536-L1545
`$offset` can be empty or non-numerical; more files can be affected.

http://php.net/manual/en/migration71.other-changes.php

[2016-11-16 15:52] Shade- commented on #2517
As far as I am concerned, timezone is stored in varchar() but should be int(). Casting as `(int)` should be fine.

[2016-11-16 16:46] Stefan-ST commented on #2517
Timezones are not integers. Float could work though.

[2016-11-16 17:26] Shade- commented on #2517
Ops, sorry that's right.

[2016-11-16 18:45] JN-Jones commented on #2517
There may definitely be other places where variables are passed to php functions which may throw a warning. Also related to another issue I've reported last week where the same happened

[2016-11-16 19:36] Ben-Conway commented on #2516
@euantorano https://github.com/mybb/mybb/issues/1392 wouldn't they of been related? This is the exact issue I brought up here: https://community.mybb.com/thread-187779.html

[2016-11-16 19:38] euantorano commented on #2516
Yep, seems linked to #2072 too - just hasn't been fixed properly yet unfortunately.

[2016-11-16 19:42] Ben-Conway commented on #2516
Since this has been present for a while now and hasn't been fixed in multiple PR's, can we set this as a high priority issue @euantorano ?

[2016-11-16 19:49] euantorano commented on #2516
Probably

[2016-11-17 13:39] Shade- commented on #2516
This happens also when posting to an unapproved thread and approving the whole thread. So I'd discard the option to add `update_last_post()` to `approve_posts()` and instead add it in `approve_threads()` to cover the two situations with the best optimization possible.

A more radical approach would be editing the postHandler to run `update_last_post()` even when a thread is unapproved, but if not

[2016-11-17 17:51] euantorano opened #2518 "Update `Google Talk` language string to `Google Hangouts`"
Google Talk is now Google Hangouts and language strings should be update to reflect this change.

[2016-11-20 15:38] #2518 closed

[2016-11-21 08:01] JN-Jones commented on #2130
Anybody?

[2016-11-21 08:03] JN-Jones commented on #2140
Unassigned @Sama34

Can someone at least look at the bug parts of this? @mybb/developers

[2016-11-21 08:05] JN-Jones commented on #2157
Do we still want to fix this @mybb/management @mybb/developers? As mentioned this may result in quite a big changed files package which we may not want at this point of development.

[2016-11-21 08:08] JN-Jones commented on #2172
@euantorano You wanted to look at this so #2174 was closed to allow you to create a new PR. Can you do that? :P Also there may be some changes related to the url validation changes in 1.8.8

[2016-11-21 08:09] JN-Jones commented on #2181
@mybb/developers Not sure about this, can somebody please look at this so we can get it either done or closed?

[2016-11-21 08:11] JN-Jones commented on #2182
We should try to update all 3rd party libraries in one of the next releases. As this requires some testing I'd postpone this to 1.8.10 however we should try to get this done as one of the first things so maybe someone should already start with this @mybb/developers

[2016-11-21 08:12] JN-Jones commented on #2217
So nothing we need to do here except updating SCE? @martec

[2016-11-21 08:14] JN-Jones commented on #2225
Ok, so the descision here is to add a new setting for this: Either the current behavior or a custom Regex? @mybb/developers

[2016-11-21 08:17] JN-Jones commented on #2316
As PHP 7 has changed a few things (#2157, #2502) this may either be fixed already or should be fixed ASAP @mybb/developers

[2016-11-21 08:19] JN-Jones commented on #2349
@Destroy666x You seem to have made a commit which seems to fix this but never created a PR with it? Is there anything missing?

[2016-11-21 08:20] JN-Jones commented on #2350
@mybb/developers

[2016-11-21 08:23] JN-Jones commented on #2365
Not sure what a proper fix of this would be. The easiest solution would likely be to provide a special xml version of the default theme which already includes the colors but that's clearly not the best one. Changing the installer/updater and including the colors in the default file would probably be better but requires more changes. @mybb/developers

[2016-11-21 08:25] JN-Jones commented on #2367
@euantorano Maybe you could look at this as you're going to work on the acp avatars anyways?

[2016-11-21 08:26] JN-Jones commented on #2371
Uhm @Cu8eR @dequeues @Destroy666x Any reason #2371 has been closed without any new PR/fix?

[2016-11-21 08:29] JN-Jones commented on #2391
@martec There doesn't seem to be any open PR of yours so can you add a PR for this now?

[2016-11-21 08:30] JN-Jones commented on #2392
@mybb/developers Could someone look at this? Also not sure why this has been the feedback label

[2016-11-21 08:31] JN-Jones commented on #2413
@euantorano Another avatar related issue you're assigned to :P

[2016-11-21 08:32] JN-Jones commented on #2419
@Stefan-ST This looks rather simple so could you fix this in 1.8.9?

[2016-11-21 08:34] JN-Jones commented on #2445
@JoshHarmon @mybb/developers Has anybody tried to look at this?

[2016-11-21 08:35] JN-Jones commented on #2450
@mybb/management @mybb/developers Due to the reasons mentioned above (css updating isn't something we should add in 1.8 at this point) I'd like to reject this. Any other opinion?

[2016-11-21 08:38] JN-Jones commented on #2451
While some keys are discussable we shouldn't change the behavior for things like usergroups. However I don't see why we shouldn't add unique keys to those places where the key definitely should be unique @mybb/developers

[2016-11-21 08:39] JN-Jones commented on #2458
@JordanMussi

Not sure but I honestly doubt it. Maybe @samclarke knows it without looking, otherwise I'll need to take a look at the source files.

[2016-11-21 08:42] JN-Jones commented on #2459
@mybb/developers Not sure about this. There may be usernames with multiple spaces already so adding it eg to the login would produce some issues. Also multiple blanks may be used for styling depending on the type of forum. However adding the missing characters should be done @mybb/developers

[2016-11-21 08:45] JN-Jones commented on #2496
@mybb/developers @mybb/sqa Simply removing the check for the start date should be fine shouldn't it? Don't think there's any case where that would produce new issues.

[2016-11-21 10:40] euantorano commented on #2496
Off the top of my head, that should be fine.

[2016-11-21 10:41] euantorano commented on #2459
Multiple spaces would definitely cause issues, but other empty characters can be removed IMO.

[2016-11-21 10:42] euantorano commented on #2450
I agree, rejecting is the easiest thing to do.

[2016-11-21 10:42] euantorano commented on #2413
Yep, I'll look into it this week :)

[2016-11-21 10:43] euantorano commented on #2367
No problem, I'll have a look.

[2016-11-21 10:43] euantorano commented on #2172
I'll see what I can do.

[2016-11-21 10:44] euantorano commented on #2157
It's not causing a problem exactly as is, is it? If it was causing errors or anything I'd say we should fix it. If it's just a minor annoyance, it's likely not worth the hassle.

[2016-11-21 10:45] JN-Jones commented on #2157
No issues afaik, just us not following our own standards.

[2016-11-21 15:32] Shade- opened #2522 "Links executing JS functions should return false and point to javascript.void(0) instead of hashtags"
As discussed [here](https://community.mybb.com/thread-163831.html), links which trigger JS functions should point their href attribute to `javascript.void(0)` instead of a mere hashtag `#` and `return false` to normalize browser behavior.

[2016-11-21 23:06] JoshHarmon commented on #2445
Haven't taken a very comprehensive look at it, but the pattern I posted above should be sufficient for building a new regex. I don't know what the failure/unknown pattern looks like though.

[2016-11-22 01:01] #1959 closed

[2016-11-22 07:39] PeterDaveHello commented on #2181
I don't think a php forum system would need a package.json

[2016-11-22 07:56] euantorano commented on #2181
I also don't think we need one.

[2016-11-22 11:20] #2181 closed

[2016-11-22 11:21] maruilian11 commented on #2181
sorry for not checking carefully.

[2016-11-22 13:10] dragonexpert opened #2523 "SQL Error in private.php"
As reported by Senpai.

[2016-11-22 13:38] #2523 closed

[2016-11-22 14:28] dragonexpert commented on #2451
UNIQUE KEY (uid) in mybb_awaiting activation - I need to look more into this because I think this gets used in multiple cases.
UNIQUE KEY (badword) in mybb_badwords - agree
UNIQUE KEY (filter) in mybb_banfilters - agree
UNIQUE KEY uid_gid (uid, gid) in mybb_banned - agree
UNIQUE KEY uid_toid (uid, toid) in mybb_buddyrequests - agree
UNIQUE KEY (name) in mybb_calendars - not sure I agree with this

[2016-11-22 14:33] premiumcuyuz commented on #2523
Good work :)

[2016-11-22 15:12] Siprah opened #2525 "Merge system"
What about merge system from MyBB 1.8 and other engines? Does at this time it's planned? In my opinion, we can start working at merge system, we have already some elements like posts, threads, polls and votes. After add some features, the skeleton of merge system will be already available so  probably won't be any problems with implement new migration's tasks.

What are you think about it?

[2016-11-22 15:16] #2525 closed

[2016-11-22 22:22] ezeql commented on #2125
I was able to recover my data after @frostschutz  suggestions.

Thank You !!!!

[2016-11-23 11:06] Cu8eR commented on #2371
@JN-Jones - my PR was not complete, feel free to fix this.

[2016-11-23 13:30] #2514 closed

[2016-11-25 08:08] #2450 closed

[2016-11-25 18:24] XIII-13 commented on #2413
+1 for this. I think it would be very useful and a great feature.

[2016-11-26 10:30] Destroy666x opened #2530 "Outdated MIME types link in Attachment Types configuration"
As the title says: http://webmaster-toolkit.com/mime-types.shtml The whole site seems to be dead.

https://community.mybb.com/thread-206156.html

[2016-11-26 11:42] dequeues commented on #2530
http://www.freeformatter.com/mime-types-list.html has a big list we could use.

[2016-11-26 14:18] euantorano commented on #2413
So how do we want to handle remote avatars? IMO, the easiest thing to do is simply default to the default avatar and show a notice in the user CP as @Devilshakerz suggested.

[2016-11-26 14:38] WildcardSearch commented on #2413
It seems to me that the issue should thought of on two separate planes.

Expected behavior for disabling something is that users experience the inability to use that particular functionality both in practice and in terms of receiving those options. I think removing the remote avatar's link and replacing it with the default avatar is overstepping the bounds of 'disable'.

The disabling of functiona

[2016-11-26 14:39] euantorano commented on #2413
Well, I'm about to submit a PR in a couple of minutes, we can change that based upon feedback from testing I guess :smile:

[2016-11-26 14:40] WildcardSearch commented on #2413
No worries.

[2016-11-26 17:19] euantorano commented on #1829
I've just tested this locally, and an avatar uploaded via the ACP was pushed to the CDN fine. The ACP uses the `upload_avatar` function, which calls `upload_file`, which runs `copy_file_to_cdn`.

Can anybody replicate this issue on 1.8.8? @mybb/sqa

[2016-11-27 11:09] #2063 closed

[2016-11-27 11:10] #2530 closed

[2016-11-28 09:35] wagey commented on #2108
Shouldn't both be considered?

1. Not allowing empty stylesheets to be loaded.
2. The option of enabling or disabling a stylesheet that isn't empty.

[2016-11-28 09:47] JN-Jones commented on #2108
Yeah, both would be possible and likely some sort of combination would be nice (eg setting the switch to "no" as soon as an empty stylesheet is saved). Haven't had time to work on this yet.

[2016-11-28 13:28] Cu8eeeR commented on #2517
I think this should be fixed in 1.8.9, because it would be better to avoid support threads on MyBB board about warnings due to php 7.1.

[2016-11-28 13:44] Devilshakerz commented on #2517
Numerical settings can have empty or invalid values: https://github.com/mybb/mybb/search?utf8=%E2%9C%93&q=gmdate+settings&type=Code

[2016-11-28 21:56] Ben-Conway opened #2535 "test thread"
testing

Original thread: [test thread](https://community.mybb.com/thread-206253.html)

[2016-11-28 21:57] #2535 closed

[2016-11-29 14:04] samclarke commented on #2458
By default SCEditor just leaves font values as-is and escapes quotes to display them. It won't add any but if someone manually entered a value with quotes or copies text with a font that has quotes then they will be preserved.

The font handler could be updated to either limit fonts to $defined_user_fonts or strip/replace quotes depending on what you wanted to do. E.g.:

[code]

[2016-11-30 14:47] JN-Jones opened #2536 "admin modules dubble $sub_tabs"
I look in to mybb admin cp modules file and I thing that i no need to dubble add &#36;sub_tabs

eg on calendar.php

PHP Code:if(&#36;mybb-&gt;input['action']&nbsp;==&nbsp;"add"&nbsp;||&nbsp;&#36;mybb-&gt;input['action']&nbsp;==&nbsp;"permissions"&nbsp;||&nbsp;!&#36;mybb-&gt;input['action']){&nbsp;&nbsp;&nbsp;&nbsp;&#36;sub_tabs['manage_calendars']&nbsp;=&nbsp;array(&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&n

[2016-11-30 16:33] JN-Jones opened #2537 "Odd miscounting of reports"
Just noticed here while viewing the reports:

[attachment=34653]
[attachment=34654]

As you can see the post in "Real Forums" is shown with 2 reports and the other one with one report. However the "All Reports" page shows two reports for the other report (Note: the same user reported it twice with two different reasons). Looking through the code now to see how exactly those numbers are calculated.

[2016-11-30 16:33] JN-Jones opened #2538 "How to strip BBCode in email notifications?"
Hello there,

I've got a problem with my installation of MyBB 1.8.6 and are unable to find a solution for it.

When people subscribe to posts and get email notifications, MyBB does not strip the My/BBCode out of it, so that a notification in an email e.g. the post part looks like this:

Code:[align=center]http://seraphimsl.com/wp-content/uploads/2016/02/TCF040216.jpg[/align]

[align=center]Merkmal

[2016-11-30 16:34] JN-Jones opened #2539 "Overall Statistics Problem"
If forum not have any statistics in default date range I can't see stats. It's gives this error and I can't change date range.
Quote:We could not find any results for the date range you provided. Please try a different date range.

Original thread: [Overall Statistics Problem](https://community.mybb.com/thread-195981.html)

[2016-11-30 16:34] JN-Jones opened #2540 "Issue with adminCP login page and redirection"
Hello here,

I am facing an issue when I try to log in the adminCP, on a fresh installation of MyBB 1.8.4. 

Right after the installation, starting at httx://mybb.domain.com/admin/index.php, I enter login information - username, password and pin -, and click Login button; Then I got redirected to httx://mybb.domain.com/admin/index.php/admin/index.php  ,  Is it the correct behavior ? (didn't checke

[2016-11-30 16:34] JN-Jones opened #2541 "ModCP - Profileditor"
1. Code:http://www.xxx.info/modcp.php?action=finduser2. then search username with special character
3. then look for user
4. special character not perfect

idea?

Original thread: [ModCP - Profileditor](https://community.mybb.com/thread-179011.html)

[2016-12-01 11:19] MyBB-Andro commented on #2117
Please someone look into this. Newly joined team members found it confusing very often and end up doing reopen.

[2016-12-01 13:08] JN-Jones commented on #1674
As per @samclarke this is going to be fixed in one of the future SCEditor releases. However he also suggested to use something similar to this function in the meantime @mybb/developers
[code]

[2016-12-01 13:27] JN-Jones commented on #2217
@mybb/developers I think we need to discuss here what exactly we want to support. @samclarke offered to create a BBCode which supports nummerical and text values using the font tag. Also pinging @Destroy666x as he already wrote some function above.

[2016-12-01 13:30] JN-Jones opened #2542 "Update SCEditor"
As mentioned elsewhere we should update SCEditor in 1.8.10. This will fix the following issues:

* #2045
* Probably #2112
* #1674
* Proper base for #2440 (may not be in the next version but the one after that)
* [Forum report](https://community.mybb.com/thread-173071.html) (https://github.com/samclarke/SCEditor/issues/545)

[2016-12-01 14:03] #674 closed

[2016-12-01 14:12] #2497 closed

[2016-12-01 14:50] MyBB-Andro commented on #2542
Though it is bit offtopic, since we are making changes to the editor would to mention this. Would like to see as first option under the Insert a video dropdown. It is widely used now a days, so good to have it pre-selected as default Video Type. Ordering by popularity would be better than alphabetically for this area, IMHO.

[2016-12-01 15:00] Cu8eeeR commented on #2542
@JN-Jones - I agree, it would be nice to update all 3rd packages in 1.8.10 release

[2016-12-01 16:37] dvz opened #2543 "Hide invalid Calendar links"
- the Calendar cannot go more than 5 years into the future
- it's not possible to go further back than year 1901 on 32-bit systems

In both cases the Calendar shows links to the preceding/succeeding periods even though they result in the same time frame.

[2016-12-02 10:34] #2522 closed

[2016-12-02 20:53] Cu8eeeR commented on #2496
@JN-Jones - can you please push the FIX? Is it related to this issue? https://community.mybb.com/thread-205823.html

[2016-12-02 22:03] Ben-Conway commented on #1583
At this stage of 1.8 I don't think there is much point of doing these, especially when we are focusing on 2.0 even more? @euantorano @JN-Jones ?

[2016-12-03 08:26] Cu8eeeR commented on #1583
I would like to see at least some of them in 1.8 - especially for frontend

[2016-12-03 11:29] MyBB-Andro commented on #1583
Agreed with @Cu8eeeR , frontend changes would be really useful and handy. Things like: move Mark Read to footer, add the IP somewhere so that mods can see it when a user has 0 posts, select code/php block, link to all warnings in warning PM (if user can view warnings) and to buddy page in buddy request PM - are basic things to have in a forum softwares now a days. Can be achieved easily too.

Look

[2016-12-03 17:18] Ben-Conway opened #2545 "Outdated location name on Time Zone"
Time Zone GMT +5:30 having out dated details. Calcutta is Kolkata and Madras is Chennai now. Minor changes, easily can be done. Can we have it updated.

Thank you

Original thread: [Outdated location name on Time Zone](https://community.mybb.com/thread-206376.html)

[2016-12-03 19:22] #2545 closed

[2016-12-04 15:15] Shade- opened #2547 "XSS in URL BBCode"
The URL BBCode is not sanitized properly, leading posts/PMs open to XSS attacks. Internal thread: https://community.mybb.com/thread-206010.html

[2016-12-05 09:12] JN-Jones commented on #2496
I don't have a working fix here, it was just a potential fix I suggested.

[2016-12-05 09:19] Cu8eeeR opened #2550 "Purge spammer - url in ACP is not working"
https://community.mybb.com/thread-206411.html

The link should be changed to this one: http://www.stopforumspam.com/forum/register.php

[2016-12-05 09:20] JN-Jones opened #2551 "You have entered an invalid secret PIN."
if you go to your admin cp, leave all of the form fields blank and hit 'login', it'll throw an error about an invalid secret pin.  if you only type in the secret pin and hit 'login', it'll still tell you that you enter an invalid secret pin.

it seems that the error is defaulted to a message about an invalid secret pin.  shouldn't that error be more ambiguous for security purposes like it is when

[2016-12-05 13:15] Cu8eeeR opened #2552 "Add favicon.ico"
Is there any reason not to add a favicon into the MyBB root folder? There is an error in the console (Google Chrome) about missing favicon. Not big deal but it should be included.

I created a PR, so it is up to you.

[2016-12-05 16:29] ScottHarrisonDev opened #2554 "User bans do not auto-lift"
MyBB Version: MyBB 1.8.7
PHP Version: 5.5.9-1ubuntu4.19
SQL Engine: MySQLi 5.6.19
Browser: Chrome 54.0.2840.98

**Steps to reproduce**
1. Go to */modcp.php?action=banning* and click 'Ban a User'
2. Find a user, enter a reason and set a date/time for 'Lift Ban After'
3. Submit the form and wait the specified amount of time.
4. Observe the user ban not auto-lifting

[2016-12-05 17:00] Stefan-ST commented on #2554
This is not the right place for support requests. Please use the community forums instead: https://community.mybb.com/

[2016-12-05 17:00] #2554 closed

[2016-12-05 17:18] ScottHarrisonDev commented on #2554
It was my understanding that bug reports were supposed to be posted either here or on the forums?

As per: https://community.mybb.com/announcement-22.html

[2016-12-05 17:19] Ben-Conway commented on #2554
Bug reports should be posted on the forums then they are confirmed and pushed to github by staff.

[2016-12-05 17:20] ScottHarrisonDev commented on #2554
Ok sure I'll report it there

[2016-12-05 17:28] Ben-Conway commented on #2552
What do we think about this? @mybb/developers @JN-Jones ?

[2016-12-05 19:23] euantorano opened #2555 "PHP 7.1 compatibility - mail()"
Hi.

Description:
MyBB is unable to send any email. Returns blank page after registration/activation from ACP.
After removing @ from mail() function, we can see an error:
Code:Fatal error: mail(): Escaped command exceeds the allowed length of 2097152 bytes in /forum/inc/mailhandlers/php.php on line 69Problem is with additional parameters, even when we don't have any, we will see this error.
Mail w

[2016-12-05 19:24] Stefan-ST commented on #2552
I don't see a reason for that. Yes, browsers try to access it but a missing favicon is no error. It's just a file users have to replace with their own.

[2016-12-05 19:30] Stefan-ST commented on #2555
@euantorano Does this affect any non-RC version? According to the changelog it has been fixed in PHP 7.1 final: https://bugs.php.net/bug.php?id=73203

[2016-12-05 19:32] euantorano commented on #2555
I haven’t tested with a non-RC version yet, but had confirmed on RC1. I still need to install 7.1 final, but if it’s fixed we can close this.

[2016-12-05 19:34] #2550 closed

[2016-12-05 19:35] MattRogowski commented on #2552
My only concern is that people never change it, and have the MyBB logo as their favicon forever.

Can we look at what other software does? Not just forums, but things like WordPress too.

[2016-12-05 19:41] Cu8eeeR commented on #2552
At least it will be an advertisement for MyBB software (browser bookmark). Anyway, it is a small cosmetic change. If you dont like it, just reject it :)

[2016-12-05 20:22] Matslom commented on #2552
If user replace favicon with their own, browser will not refresh this immediately. There will be another problem for users: "I replaced favicon with new but browser see the old one".

[2016-12-05 20:33] Ben-Conway commented on #2552
I think we should add one, like @Cu8eeeR said it is an advertisement for MyBB.

[2016-12-05 20:40] Stefan-ST commented on #2552
A tiny icon nobody recognizes isn't good advertisement...

[2016-12-05 20:42] Ben-Conway commented on #2552
I didn't say it was necessarily great advertisement, but it's still advertisement and we should be advertising as much as we can if we want to get more popular.

[2016-12-05 21:35] Cu8eeeR commented on #2552
Small advertisement is still better than nothing in my eyes.

[2016-12-05 22:36] Devilshakerz commented on #2552
Some projects ship an icon with the package, but if we included the main MyBB logo we would loose the distinction between new installations and the main site (we could go with some variation of it).
Also the resolution would need to be higher than the one present in the PR.

[2016-12-05 22:47] WildcardSearch commented on #2552
This is unnecessary in my opinion. It will create support work and has no value. Seeing no favicon at all reminds the admin to create and upload one.

[2016-12-05 23:12] Ben-Conway commented on #2552
Looks like I'm out numbered then..

[2016-12-06 12:19] JN-Jones commented on #2552
Wasn't this already discussed before 1.8? Anyway, also against it.

[2016-12-06 15:51] #2552 closed

[2016-12-06 20:24] euantorano opened #2556 "Gravatar link updation"
Hi,

Currently Gravatar link under Change Avatar page is non https. It should be https enabled link.

Currently: http://en.gravatar.com

It should be: https://en.gravatar.com

Thanks

Original thread: [Gravatar link updation](https://community.mybb.com/thread-206458.html)

[2016-12-06 21:07] JN-Jones commented on #2556
Can somebody create a PR within one or two days please?

[2016-12-06 21:07] #1569 closed

[2016-12-06 21:13] euantorano commented on #2556
I'll create a PR tomorrow if I don't get beaten to it.

[2016-12-07 11:35] Ben-Conway commented on #2556
Ah, beat me to it @MyBB-Andro ! Good work though, and keep contributing.

[2016-12-07 15:49] #2555 closed

[2016-12-07 17:08] premiumcuyuz commented on #1569
Good job mybb team 👍

[2016-12-07 18:06] #2556 closed

[2016-12-07 18:10] #2299 closed

[2016-12-07 18:47] Ben-Conway opened #2558 "Disable edit by timestamp for admins also disables for moderators"
As the title says,

Under posting settings on the ACP:

Show 'edited by' Message for Administrators

Do you want to show edited by messages for posts created by administrators?

But disabling this option also disables the same for moderators. It should be either configurable which Group IDs can be disabled or disable only for administrators as the description says.

Thanks

Original thread: [Disab

[2016-12-07 18:49] Ben-Conway commented on #2558
Am I correct saying the above is intentional and the setting description should be updated? @JN-Jones ?

[2016-12-07 19:37] JN-Jones commented on #2558
Apparently it was changed at some point, would be good to recheck why that was done before changing anything else.

[2016-12-07 19:46] Ben-Conway commented on #2558
@mybb/developers any idea why?

[2016-12-07 22:51] #511 closed

[2016-12-07 23:39] Devilshakerz opened #2560 "Empty index operator throws fatal error on PHP 7.1 when used on strings"
https://github.com/mybb/mybb/blob/mybb_1808/newreply.php#L732
https://github.com/mybb/mybb/blob/mybb_1808/newreply.php#L828

https://secure.php.net/manual/en/migration71.incompatible.php#migration71.incompatible.empty-string-index-operator

[2016-12-08 09:36] euantorano commented on #2560
Should be an easy fix hopefully. Not sure why it was ever written like that.

[2016-12-08 09:37] Stefan-ST commented on #256
@JN-Jones I'm not able to reproduce this issue anymore. Counters seem to be correct and there hasn't been a decision on changing the behaviour.

[2016-12-08 10:19] JN-Jones commented on #256
I'll test it later again, maybe was fixed accidentally in the mean time.

[2016-12-08 12:27] #2413 closed

[2016-12-08 12:50] #2488 closed

[2016-12-08 15:35] #2485 closed

[2016-12-08 15:36] JN-Jones opened #2564 "Collapsed theads"
As mentioned on https://github.com/mybb/mybb/pull/2482#issuecomment-264204173 there's an issue with collapsed theads in `showthread_threadnotes`

[2016-12-08 15:39] #2419 closed

[2016-12-08 16:49] #2560 closed

[2016-12-08 18:46] Cu8eeeR commented on #2541
Is it a proper solution delete this lane in modcp.php? I am not sure about it (yeah, it fixes the issue but what about any side effect?)

$mybb->input[$field] = urlencode($mybb->get_input($field));

[2016-12-08 18:58] #1243 closed

[2016-12-08 19:02] Ben-Conway commented on #2558
@Cu8eeeR Could you take a look at this?

[2016-12-08 19:05] Cu8eeeR commented on #2558
@Ben-Conway - do you wanna just change description in ACP?

[2016-12-08 19:06] Ben-Conway commented on #2558
@Cu8eeeR Yes, it needs to be updating.

[2016-12-08 19:26] #2130 closed

[2016-12-08 19:42] Cu8eeeR commented on #2558
@Ben-Conway - OK, I will take a look tommorow with my others PRs, is it OK or do we need this sooner for 1.8.9 release?

[2016-12-08 19:48] #2558 closed

[2016-12-08 19:57] #2551 closed

[2016-12-08 19:58] #2564 closed

[2016-12-08 19:58] #1751 closed

[2016-12-08 20:01] #2547 closed

[2016-12-08 22:11] #1609 closed

[2016-12-09 15:59] Matslom commented on #2428
Is [there](https://github.com/mybb/mybb/blob/feature/misc.php#L336) reason to using parser when we use strip_tags?

[2016-12-09 16:21] #302 closed

[2016-12-09 16:47] Shade- commented on #2428
Yes, because the string is [chunked to 350 chars](https://github.com/mybb/mybb/blob/feature/misc.php#L340) a few lines afterwards. If you don't `strip_tags()`, a closing HTML tag (like `</div>`) might be removed leading to various styling issues.

I think this can be addressed by creating a custom `my_strip_tags()` function which handles <style> and <script> tags, either by using a regex or PHP's

[2016-12-09 17:06] Matslom commented on #2428
I know this, but why we call message parser in this place if we anyway use `strip_tags()` function?
Anyway, I checked all `strip_tags()` use and this is only place which need fix. Using parser or not, doesn't matter.

Yea, I did this. I used regex for catch and remove `<script>` and `<style>`. I will send PR shortly.

[2016-12-12 17:32] Asandru opened #2571 "Contact us System email log"
Site: http://emucraft.com
**Error:**

This happens when I use the contact us form.
My smtp settings are done correctly because users are receiving the activation link via email already, but using contact us form doesnt.

[2016-12-12 20:43] sicut opened #2572 "[Word filter] replaced word iteration + myCode tag = bug(?)"
Hey there,

I just encountered a problem in the word filter which broke a lot of posts because I didn't know that could happen.
If the "bad word" is being used more than two times in a post and if it is being used in the replaced term as well additionally to any myCode tags, the parser does some weird iterative/recurcive calls.

An example should explain that better:
**bad word**: poop
**filter**:

[2016-12-12 20:51] euantorano commented on #2571
Hi,

Please report issues on the forum, as explained in our [CONTRIBUTING.md file](https://github.com/mybb/mybb/blob/feature/CONTRIBUTING.md#reporting-issues)

[2016-12-12 20:51] #2571 closed

[2016-12-12 20:51] euantorano commented on #2572
Hi,

Please report issues on the forum, as explained in our [CONTRIBUTING.md file](https://github.com/mybb/mybb/blob/feature/CONTRIBUTING.md#reporting-issues)

[2016-12-13 01:23] Devilshakerz commented on #2572
The regex search and replace operation maintains a length index, however a non-optimal loop at https://github.com/mybb/mybb/blob/mybb_1808/inc/class_parser.php#L640-L643 prevents it from functioning correctly (resulting in replaced strings being matched again);
this was most likely done to prevent patterns from overlapping (`\W` is captured and reinserted so cannot be used to match the next word).

[2016-12-17 09:12] andrewjs18 opened #2574 "Todays birthdays issue with deleted user or purged spammer"
So i may have found another bug. I'll illustrate just on my example.

Today an user was shown in the Today's Birthdays, when i checked his profile he was obviously a spammer, so i just purged him (our purge just deletes the user).

However the Today's Birthday announcement hasn't been updated, so the user(spammer) remained there. However if you click his name "The member you specified is either in

[2016-12-17 09:13] andrewjs18 commented on #2574
I can confirm this.  to test, just remove the stopforumspam api key from the admin settings before purging a user.

[2016-12-20 21:44] andrewjs18 commented on #2538
This is also an issue for PMs, like so:

andrewjs18,

You have received a new private message on Your Forum from someuser:

------------------------------------------
[i]Thank you for closing this thread.[/i]
------------------------------------------

[2016-12-20 22:11] andrewjs18 opened #2575 "Contact Details"
Even when all Contact Details are disabled in Home » Board Settings » Contact Details the ability to advance search these fields is still available on Member List.

Was this intentional or has it gone unnoticed?

Original thread: [Contact Details](https://community.mybb.com/thread-202801.html)

[2016-12-20 22:12] andrewjs18 commented on #2575
copying my post from the thread:

the options to search those fields is there, yes, but if you try to search them and you've disabled them in the admin cp, it'll just show all of the users when you submit your query - at least that's what I'm seeing when testing.

there probably should be some code added to hide those fields if that stuff is disabled in the admin cp.

[2016-12-20 22:16] andrewjs18 opened #2576 "COPPA Compliance"
Even when set to "Deny" it still shows the COPPA Compliance &amp; Permission form link during registration.

This could be a bug or something that was just simply left out.

Original thread: [COPPA Compliance](https://community.mybb.com/thread-206683.html)

[2016-12-20 22:18] andrewjs18 commented on #2576
also note that the URLs for the coppa site are dead in the admin cp & on the compliance page when registering.

the only decent link I've found to replace it with is a wiki page link: https://en.wikipedia.org/wiki/Children's_Online_Privacy_Protection_Act or... https://www.ftc.gov/tips-advice/business-center/privacy-and-security/children%27s-privacy

[2016-12-21 18:16] Devilshakerz commented on #2464
The `headerinclude` template version was not updated for https://github.com/mybb/mybb/pull/2468/files#diff-05b404fc75b0e5bd6d57c79b667b44b8

[2016-12-23 16:46] stoffer123 opened #2578 "SMTP mail error 554"
The mail server does not understand the RCPT TO command. Reason: 554 5.7.1 Recipient address rejected: Username admin@risingworld.dk and sender doesn't match

I understand my host needs a "from" mail inorder to send, and i cannot find the spot in inc/functions.php to edit it in...
i use SMTP
Anyone having a fix for this issue? i cant figure what im doing wrong.

[2016-12-24 03:07] nsuchy opened #2580 "File Verification and .txt files"
Hi there. I just figured I'd point out that some people choose to remove the .txt files that come in the MyBB zip file. You shouldn't tell me a .txt file is missing, I just figured I'd let you know :)

![screenshot 2016-12-23 at 10 05 41 pm](https://cloud.githubusercontent.com/assets/8227641/21464968/1c00698a-c95c-11e6-9d87-dbe4348e4a82.png)

[2016-12-24 22:11] WildcardSearch commented on #2080
I agree with @tommm.

The `!empty($user['buddylist'])` is not included by mistake. I believe that it is there to prevent a user from clicking that checkbox erroneously who may or may not even understand the buddy list at all and find their incoming PMs disabled-- and most importantly, **they won't even know** that is has been done unless someone tells them.

To me if anything needs to be done it w

[2016-12-26 12:28] Matslom commented on #2578
Hi, Please report issues on the forum, as explained in our [contributing guide ](https://github.com/mybb/mybb/blob/feature/CONTRIBUTING.md#reporting-issues)

[2016-12-26 12:28] #2578 closed

[2016-12-27 10:02] Mx13Cyber opened #2581 "inline Moderation not work correct"
HI
inline Moderation  is not work correct .
and Quote in posts and all of things is work with cookie in mybb 1.8.9
and i find why
in general.js in line 498 if we remove this line
`secure: cookieSecureFlag,`
then its work correct

[2016-12-27 10:53] euantorano commented on #2581
Hi, this is a known issue in the 1.8.9 update, please see here: https://community.mybb.com/thread-206896.html

[2016-12-30 04:20] nsuchy opened #2582 "Inline moderation issues"
Hi there. So I noticed the issue with inline moderation (yes I saw the thread: [https://community.mybb.com/thread-206896.html](url) and made the applicable core edits). This being said be sure to update file verification to not show an error in the next release.

![screenshot 2016-12-29 at 11 15 44 pm](https://cloud.githubusercontent.com/assets/8227641/21559582/dc99dbb2-ce1c-11e6-8700-1decd4ed1933

[2016-12-30 14:54] katosdev commented on #2582
Hi!

We're aware of the issue, and as such our file verification will be updated to reflect this. IIRC @euantorano or @Devilshakerz are working on this.
Thank you for your contribution to the ongoing development of MyBB! :)

[2016-12-31 19:45] dequeues commented on #2581
https://github.com/mybb/mybb/pull/2579

[2016-12-31 19:45] #2581 closed

[2016-12-31 19:47] dequeues commented on #2580
It should be in the `$ignore` array: https://github.com/mybb/mybb/blob/e30d9f84d67790f97a7fab8ecec4b18b095bb3ad/inc/functions.php#L7643

[2016-12-31 23:40] #2580 closed

[2017-01-02 20:00] Ben-Conway opened #2585 "Quoting posts removes moderator options under certain conditions"
The following code in ./newreply.php can cause the moderator options (close/stick thread) to disappear:

PHP Code:foreach(&#36;group_permissions&nbsp;as&nbsp;&#36;fid&nbsp;=&gt;&nbsp;&#36;forum_permissions){&nbsp;&nbsp;&nbsp;&nbsp;if(isset(&#36;forum_permissions['canonlyviewownthreads'])&nbsp;&amp;&amp;&nbsp;&#36;forum_permissions['canonlyviewownthreads']&nbsp;==&nbsp;1)&nbsp;&nbsp;&nbsp;&nbsp;{&n

[2017-01-04 10:47] Ben-Conway commented on #2517
Good work @Devilshakerz we just need to get this tested now.

[2017-01-05 14:43] Ben-Conway opened #2588 "Missing line break in New Thread post options"
Hello there
Is this a bug?
Or my mistake?

Original thread: [Is this a bug mistake?](https://community.mybb.com/thread-207157.html)

[2017-01-05 14:44] Ben-Conway commented on #2588
This doesn't happen on reply to a thread, this happens in create a new thread. Should be fixed in 1.8.10.

[2017-01-05 16:45] Stefan-ST commented on #2588
Great subject and description...

[2017-01-05 17:46] Stefan-ST commented on #2588
Thanks, @PaulBender

[2017-01-05 23:14] #2588 closed

[2017-01-05 23:25] Ben-Conway opened #2590 "Who Posted Sorting Links Redirect To New Page"
In forumdisplay.php when viewing the thread list and clicking the reply count link for the AJAX Who Posted modal...

...when clicking either sort link, the user is redirected to a page, empty except for the modal content:

Apologies if this is a duplicate, but I did search.

Original thread: [Who Posted Sorting Links Redirect To New Page](https://community.mybb.com/thread-206871.html)

[2017-01-05 23:26] Ben-Conway commented on #2590
My personal opinion would be to just remove the hyperlinks. It just displays the exact same information.

[2017-01-06 03:04] WildcardSearch commented on #2590
Unless someone else wants to handle it, I'll have the time tomorrow evening.

[2017-01-06 07:28] euantorano opened #2591 "Custom profile field - Show on member profile - OFF is not working"
As title says - this settings for show/hide profile field on member profile is not working. The profile field is shown all the time.

Original thread: [Custom profile field - Show on member profile - OFF is not working](https://community.mybb.com/thread-207172.html)

[2017-01-07 00:16] Matslom opened #2592 "Approve/unapprove threads moderator permission broken"
When adding a moderator, there are two options:

Can approve/unapprove threads?

Can approve/unapprove posts?

However, enabling the setting to (un)approve threads does not show the option to (un)approve threads on the forum display, instead it checks the posts setting:

PHP Code:if(is_moderator(&#36;fid,&nbsp;"canapproveunapproveposts")){&nbsp;&nbsp;&nbsp;&nbsp;eval("&#092;&#36;inlinemodapproveun

[2017-01-07 09:00] Cu8eeeR commented on #2591
@Matslom - I see your PR, good job, can you push it to MyBB repository? I will try it and let you know

[2017-01-07 10:12] Matslom opened #2594 "Problem Send PM - Member Profile"
Hi guys,
today I was watching some profiles of users that are awaiting activation and the language variable of the link is empty. Users in awaiting activation in my forum can't receive/send PMs. Watching the PHP I saw that conditions that set the language and load the template are different, I think that this is the problem.

Original thread: [Problem Send PM - Member Profile](https://community.my

[2017-01-07 10:42] Matslom commented on #2594
Also we can send PM's to user who is in group with disabled PM's. Is it desirable feature?
Lang issue also appears in header for user who have disabled PM's by group.
![image](https://cloud.githubusercontent.com/assets/4405492/21741141/bd8e9458-d4cd-11e6-9532-df94ea8bfc8b.png)

[2017-01-07 10:46] Cu8eeeR commented on #2590
@WildcardSearch - feel free to push a PR :)

I agree with @Ben-Conway

[2017-01-07 10:50] Cu8eeeR commented on #2594
@Matslom - it is known issue, unfortunately not fixed. See this issue: https://github.com/mybb/mybb/issues/1834

It should be fixed together

[2017-01-07 11:31] Ben-Conway commented on #2591
Good job @Matslom

[2017-01-07 11:32] Ben-Conway commented on #2594
I agree we should fix all the issues together. Can the developer who looks at this also take a look at https://github.com/mybb/mybb/issues/1834 ?

[2017-01-07 11:46] Ben-Conway commented on #2590
Thanks @WildcardSearch, good work! I'll keep an eye out for it :)

[2017-01-07 13:31] #2591 closed

[2017-01-07 13:31] #2592 closed

[2017-01-07 14:18] Cu8eeeR commented on #1966
@Matslom - can you please check this?

[2017-01-07 14:19] Cu8eeeR commented on #1884
@Destroy666x - you are assigned to this issue, can you please take a look?

[2017-01-07 15:02] Cu8eeeR opened #2599 "Compose a PM - extra space before "Request Read Receipt:""
As title says, there is an extra space before the "Request Read Receipt". It is an issue in template post_send_tracking. I will send a PR ASAP.

![extra_space](https://cloud.githubusercontent.com/assets/778890/21742613/b65a7682-d4f2-11e6-9424-fcdc3b11fce9.png)

[2017-01-07 15:13] Cu8eeeR commented on #2588
@Ben-Conway - can you please add "fixed" tag?

[2017-01-07 15:13] Cu8eeeR commented on #2591
@Ben-Conway - can you please add "fixed" tag?

[2017-01-07 15:13] Cu8eeeR commented on #2592
@Ben-Conway - can you please add "fixed" tag?

[2017-01-07 15:22] #2599 closed

[2017-01-07 17:55] #2536 closed

[2017-01-07 18:02] #2585 closed

[2017-01-07 18:11] #2428 closed

[2017-01-07 18:24] #2575 closed

[2017-01-07 18:27] #2080 closed

[2017-01-07 18:28] #2590 closed

[2017-01-07 18:29] #2491 closed

[2017-01-07 18:34] WildcardSearch opened #2603 "ForumDisplay: Who Posted Inoperable Without JavaScript"
If JavaScript is disabled, when viewing `forumdisplay.php`, the linked Replies column value is dead. The `href` attribute of the link points to `MyBB.whoPosted`.

A fallback should be introduced for a standard redirect.

See: #2590

[2017-01-07 18:35] WildcardSearch commented on #2590
Done.

[2017-01-07 19:18] WildcardSearch commented on #2541
I agree with @Cu8eeeR, that line is causing the problem and is unnecessary.

[2017-01-07 19:41] premiumcuyuz commented on #2541
good job

[2017-01-07 20:26] #2594 closed

[2017-01-07 20:26] #1834 closed

[2017-01-07 20:32] #2541 closed

[2017-01-08 13:25] #2516 closed

[2017-01-08 15:57] #2517 closed

[2017-01-08 15:59] Ben-Conway commented on #2582
This shouldn't happen when we release 1.8.10 :)

[2017-01-08 15:59] #2582 closed

[2017-01-08 18:13] #2464 closed

[2017-01-08 22:11] nsuchy opened #2606 "Deleting a forum and the recount link while using custom admin url,"
So I've discovered an issue present in MyBB 1.8.9. I moved all threads from one part of my site to another and was deleting the empty section. It gave me an alert telling me that ideally I should run the recount threads. It had a link to do so. That link was /index.php?module=tools-recount_rebuild rather than /mysecretadminurl//index.php?module=tools-recount_rebuild. This should be adjusted for th

[2017-01-08 22:14] Ben-Conway commented on #2606
I don't recall it coming up and telling you to do this off the top of my head.

[2017-01-08 22:17] nsuchy commented on #2606
See the related lang file line 102:
[https://github.com/mybb/mybb/blob/1912340401ec3d0e54449c980d861492ad1bc321/inc/languages/english/admin/forum_management.lang.php#L102](https://github.com/mybb/mybb/blob/1912340401ec3d0e54449c980d861492ad1bc321/inc/languages/english/admin/forum_management.lang.php#L102)

The issue is that there is no code for the actual admin URL. It's an easy fix, someone with

[2017-01-08 22:18] PaulBender commented on #2606
I can confirm the issue.

[2017-01-08 22:21] Ben-Conway commented on #2606
In future please report issues on the forum first and the team will push them to github once they are confirmed.

[2017-01-08 22:50] #2606 closed

[2017-01-09 18:03] euantorano opened #2610 "When viewing own profile via `uid=0`, the username isn't shown"
If you access `member.php?Action=profile` (with no UID) or `user-0.html` (when using search engine friendly URLs), you are taken to your own profile page. However, the current location will be `Viewing Profile`, without the name of the profile being viewed.

Original thread: [user-0 redirects to own profile](https://community.mybb.com/thread-207240.html)

[2017-01-10 19:17] wagey commented on #2576
Thank you.

[2017-01-11 13:05] andrewjs18 opened #2612 "last post info is not updating properly"
after the upgrade from 1.8.9 to 1.8.10, the last post info does not appear to be updating correctly on the forum index as well as when you click inside a forum category.  if you go inside the forum section where the post exists, it seems like it's updating correctly.

here's a few screenshots...

forum index view:

![215 jan 11](https://cloud.githubusercontent.com/assets/2748980/21849640/c7573fbc-

[2017-01-11 14:29] Devilshakerz commented on #2612
The `update_last_post()` call was removed in https://github.com/mybb/mybb/commit/674b11da258cb76b6a4b1072b243f29569b953d2#diff-7cc617e1e9d4b3ffa6409eb9329f6801L1234 (fixing https://github.com/mybb/mybb/issues/2516), and `update_forum_lastpost()` is fetching outdated information as a result.

[2017-01-12 01:00] martec commented on #2542
?
but 2.0 not released yet https://github.com/samclarke/SCEditor/milestone/8

[2017-01-12 01:03] alexandergamster commented on #2612
confirmed ....please solve this fast :D

[2017-01-12 17:51] #2612 closed

[2017-01-12 22:55] Ben-MyBB opened #2614 "Hooks with same class method of different objects not being added"
Hooks that call the same method, although using different objects, are not being registered.

&#36;method_representation is identical for different objects:
[https://github.com/mybb/mybb/blob/featur...ns.php#L68](https://github.com/mybb/mybb/blob/feature/inc/class_plugins.php#L68)

which causes the new hook to be rejected here:
[https://github.com/mybb/mybb/blob/featur...hp#L76-L79](https://github

[2017-01-12 23:26] Ben-Conway commented on #2496
Set as high priority as quite a few people have been complaining about this issue.

[2017-01-13 17:06] SvePu opened #2616 "GO button in portal search not inline"
The GO button in portal search should be in a line with the <input> textfield.

Now:
![mybb_portal_search_1](https://cloud.githubusercontent.com/assets/9826631/21938255/d8b6062a-d9ba-11e6-8c09-9cd5b553f935.PNG)

After fix:
![mybb_portal_search_2](https://cloud.githubusercontent.com/assets/9826631/21938269/e5f6c64e-d9ba-11e6-86b7-a7693745a348.PNG)

[2017-01-13 17:18] SvePu commented on #2616
#2617

[2017-01-13 18:57] Devilshakerz opened #2618 "Theme selector leaves GET data in the URL"
The footer theme selector passes data, including the anti-CSRF token using GET and doesn't redirect the page after the request is handled, leaving it in the URL.

The data should be passed via POST.

[2017-01-13 21:39] Devilshakerz opened #2619 "Almost all numeric values greater 9 are set to 9 in "Show All Settings""
Since MyBB 1.8.9 there's a bug in /admin/modules/config/settings.php: If you click on "Configuration-&gt;Settings-&gt;Show All Settings" and then on "Save Settings", all numeric values, which are greater then 9 are set to 9 which renders a forum almost unuseable because for example even the "Maximum Message Length" is set to only 9 characters:

[attachment=38186]

On the other hand, if you use onl

[2017-01-13 21:52] Devilshakerz commented on #2619
`$options`, set in https://github.com/mybb/mybb/blob/mybb_1810/admin/modules/config/settings.php#L972 is not initially cleared resulting in incorrect reuse of the variable.

Affects any settings page containing `numeric` fields following a field with a `max` parameter; in practice this is limited to _Show All Settings_ only (https://github.com/mybb/mybb/blob/mybb_1810/install/resources/settings.xm

[2017-01-14 12:43] euantorano opened #2620 "Twitch Videos Start Automatically"
Reproduce:

Click on Insert a video button.

Select Twitch

Use any twitch video, for example this: https://www.twitch.tv/playhearthstone/v/114451425

Wait a couple seconds for video to be loaded.

It will start automatically.

Example:
[Video: https://www.twitch.tv/playhearthstone/v/114451425]

Original thread: [Twitch Videos Start Automatically](https://community.mybb.com/thread-207418.html)

[2017-01-14 12:46] euantorano commented on #2620
It seems that all we need to do is add "autoplay=false" to the URL in the template.

[2017-01-14 13:42] #2620 closed

[2017-01-15 19:33] WildcardSearch commented on #299
I'm confused. The way I am understanding it the original report was that when editing the stylesheet URLs were altered. If so, that should mean that `unfix_css_urls` needs to be called.

Am I missing something?

[2017-01-16 01:55] WildcardSearch commented on #1543
I think this is the correct behavior. Whether the plugin is completely uninstalled or just deactivated, it should be in the inactive column.

[2017-01-16 02:00] WildcardSearch commented on #1653
@Destroy666x

It is only used in the upgrade script as far as I can tell: https://github.com/mybb/mybb/blob/5bdaafb3c84050ebdabb7217f6a53eaa9417a62a/install/upgrade.php#L188

[2017-01-16 02:31] WildcardSearch commented on #1774
The problem is that in `functions_posting.php`'s `parse_quoted_message`, single quotes are used without checking to see if the user name contains single quotes.

[2017-01-16 03:11] WildcardSearch commented on #139
@mybb/developers @mybb/sqa it would be good to test this on a database with many active users with posts, which I don't have access to. I saw only a minimal increase in speed, but that is to be expected when you have ten fake users with two posts apiece.

[2017-01-17 17:21] matix931 opened #2628 "Always show "thread closed" info"
It is very useful for admins, to show that thread is closed even admin can replay in that thread.

Example solution:
showthread.php:641 (mybb 1.8.10)

[code]

*new variable $newreply_closed

in template it should be placed like this:
`{$newreply}{$newreply_closed}`

[2017-01-17 17:54] euantorano opened #2629 "Group promotions bug"
(told to post here by Euan T)

Upon editing a group promotion for registered length, and then revisiting the group promotion then the entry that you insert changes to something else. For example, from 2 months to 2 days. In the database, the entry is "=" (see below screenshots) I have confirmed this across three sites: 
https://creatorswave.com/ https://forumauthority.com/ and https://www.atlasind

[2017-01-17 18:25] Cu8eeeR commented on #2628
I agree, this needs to be changed to MyBB 1.6.x style

This was mentioned here:
https://github.com/mybb/mybb/issues/2117

[2017-01-19 20:44] alexalok opened #2631 "Quoting troubles after upgrade"
After an upgrade from 1.8.5 to 1.8.10 quotes are not being shown if they include either nickname, pid or datetime.
As a workaround, I reverted lines 854-855 of _class_parser.php_
[code]
to
`return "<blockquote><cite>{$span}{$username} {$lang->wrote}{$linkback}</cite>{$message}</blockquote>\n";`
After this the problem is gone.

[2017-01-19 21:35] Cu8eeeR commented on #2631
Did you use the full package or just upgrade directly with changed files package from 1.8.5 to 1.8.10?

Btw - next time open a ticket on MyBB board, not here

[2017-01-20 11:35] Stefan-ST commented on #2631
Please use our forums for support: https://community.mybb.com/

[2017-01-20 11:35] #2631 closed

[2017-01-21 13:43] euantorano opened #2632 "Robots in between online user order according to activity"
Hi,

Username ascending orders robots first on index who's online section. While last activity ascending orders robots in between users which looks quite odd.

It should list robots either at first or last of the users according to activity. In between users confuses members as thinking robots as users.

Thanks

Original thread: [Robots in between online user order according to activity](https://c

[2017-01-21 13:52] Stefan-ST commented on #2632
Related: On portal this broken completely still relying on $session->bots (which was removed years ago).

[2017-01-22 01:12] CyberReflect opened #2633 "Redirect Issue with htaccess"
It turns out I am facing a redirect issue with the current version (1.8.10). I tried getting help from my hosting providers but they weren't able to fix the problem and told me to report the issue instead.

My **.htaccess** Settings are:

`#RewriteCond %{HTTP_HOST} !^www\.
#RewriteRule ^(.*)$ https://www.%{HTTP_HOST}/$1 [R=301,L]

RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteCond %{HTTP_HOST}

[2017-01-22 08:45] Stefan-ST commented on #2633
This code is not even part of MyBB.

[2017-01-22 08:45] #2633 closed

[2017-01-22 20:07] katosdev commented on #2633
Whilst this isn't even a part of MyBB and your host **Should** really have been able to have sorted this. (Seriously, it begs the question as to why they can't)

Can you not just use:
[code]

And make sure that your settings in ACP reflect the www. domain.
and **not** the non-www version.

[2017-01-22 22:47] Ben-MyBB opened #2634 "Blocked user's soft deleted message issue"
Reproduce

Block any user.

Soft delete that user's message.

See instead of 1 you see 2 buttons and nicknames one with explanation one usual

If you click both of them user's message disappears entirely.

Original thread: [Blocked user's soft deleted message issue](https://community.mybb.com/thread-207637.html)

[2017-01-22 23:02] #2629 closed

[2017-01-23 02:16] JoshHarmon opened #2635 "PHPGangsta/GoogleAuthenticator should be updated"
https://github.com/PHPGangsta/GoogleAuthenticator/commits/master

They've fixed a few issues, including a possible timing attack and non-strict comparison issue (https://github.com/PHPGangsta/GoogleAuthenticator/issues/24) since the file was last pulled into the core. They also now use far better RNG than the current version we're using.

New:
1. random_bytes() (PHP 7.0+)
2. mcrypt
3. openssl

Cur

[2017-01-23 03:19] JoshHarmon commented on #2635
I've made the change locally and am testing to see if it causes any problems. Currently, it seems to function fine but I haven't tested to see if there are any issues with upgrading the library with a user's secret already set.

[2017-01-23 03:43] JoshHarmon commented on #2635
Have tested the update in both directions:
- Set up with new version and reverted to old version
- Set up with old version and updated to new version

[2017-01-23 17:57] thunderclap82 opened #2637 "Soft Delete Not Working"
Issue was first noticed after upgrading to 1.8.10 though it could have started with 1.8.9. When soft deleting a post it is instead permanently deleted. Adding the code to global.css mentioned in the 1.8.9 update doesn't fix it, and the default theme is broken too. I've disabled all plugins to see if that resolved the issue but it didn't. I also did do a fresh install of 1.8.10 as a test and the pr

[2017-01-23 18:55] Ben-MyBB opened #2638 "MyCode same regular expression issue"
Reproduce

Create 2 custom mycodes

Use exact same regular expression but different replacement.

See forum not warning you that you just created 2 replacement for exact same code.

Original thread: [MyCode same regular expression issue](https://community.mybb.com/thread-207640.html)

[2017-01-23 18:57] Ben-Conway commented on #2637
Can you please report all bugs on the community forums.

[2017-01-23 18:57] #2637 closed

[2017-01-24 09:41] euantorano commented on #2635
Thanks @JoshHarmon. I'll need to set up some test environments with older PHP versions to ensure this doesn't cause any issues there.

[2017-01-24 20:10] Broatcast opened #2639 "Check if Column exist befor add, remove, modifie"
While in dev progress for a new plugin i found an old lost thread in the suggestion forum.
https://community.mybb.com/thread-162472.html

So in short i do this little modification for all db classes.

I think it's realy helpfull and will may prevent many code and ugly SQL Errors in the feature.

[2017-01-24 20:13] Stefan-ST commented on #2639
Please do not suggest feature on Github (https://github.com/mybb/mybb/blob/feature/CONTRIBUTING.md).

[2017-01-24 20:13] #2639 closed

[2017-01-24 20:36] #1750 closed

[2017-01-25 16:53] SvePu opened #2640 "Error notice (div.error) styling doesn't match to 1.8 design."
Original thread =>https://community.mybb.com/thread-207638.html

[2017-01-27 07:00] hrubymar10 commented on #2316
`Warning [2] urlencode() expects parameter 1 to be string, array given - Line: 4964 - File: inc/functions.php PHP 7.0.15-1~dotdeb+8.1 (Linux)`

This bug is also on line **4964** in **inc/functions.php** .
Can someone please post here any workaround for this line? Should I add here some kind of variable type check? But what should I do, when given variable will be for example int?

Thank you

[2017-01-27 09:19] Ben-MyBB opened #2642 "Stats page refreshing issue"
Reproduce

Admin Control Panel &gt; Configurations &gt; Statistiscs Page &gt; Stats Limit

See Stats Limit is 15 by default.

Change it to 30.

See in Stats Page it's still 15.

Go back and change it to 45.

See in Stats Page it's 30 now.

Go back and change it to 60.

See in Stats Page it's 45 now.

It always shows the limit saved one before than actual setting.

If you save the settings twice, i

[2017-01-27 19:14] euantorano opened #2644 "smtp fails with zoho."
The smtp mailhandler does not support sending emails via zoho smtp server (smtp.zoho.com, on port 465 with ssl enabled). It fails on line 250 of the smtp mail handler script with the "&#36;this-&gt;send_data('.', '250');" call, with the server responding back with a 553 code instead of a 250 code.

Original thread: [smtp fails with zoho.](https://community.mybb.com/thread-207804.html)

[2017-01-28 10:52] Matslom opened #2645 "PHP 7.1 Illegal string offset warning when editing user profile with custom select fields"
Editing user profile in usercp or modcp with select/multiselect custom profile fields results php illegal string offset warning.

[2017-01-28 23:05] #2645 closed

[2017-01-28 23:41] nsuchy opened #2647 "Profile status location shows fastcgi path rather than actual location"
Hi there. So I've discovered an issue that occurs in MyBB when using the apache webserver in combination with the fastcgi module and php-fpm. It breaks profile status location and could confuse a user.

**The issue**
On user profiles where the user is online the status will say:
`Unknown Location`
and the link will be:
`[BoardURLHERE]/php7-fcgi?[WhateverQueryStringDataBelongsToTheRequest]`

This r

[2017-01-28 23:42] Ben-Conway commented on #2647
You should report all issues on the MyBB Community forums.

[2017-01-28 23:42] #2647 closed

[2017-01-30 14:00] hrubymar10 opened #2648 "Warning [2] urlencode() expects parameter 1 to be string, array given - Line: 4964 - File: inc/functions.php"
`Warning [2] urlencode() expects parameter 1 to be string, array given - Line: 4964 - File: inc/functions.php PHP 7.0.15-1~dotdeb+8.1 (Linux)`

Can someone please post here any workaround for this line? Should I add here some kind of variable type check? But what should I do, when given variable will be for example int?

[2017-01-30 15:30] Stefan-ST commented on #2648
We do not provide support on Github. Please use our community forums instead: https://community.mybb.com/

Duplicate of #2316

[2017-01-30 15:30] #2648 closed

[2017-01-31 00:27] Devilshakerz opened #2649 "Rewrite create_password_hash() usage to accept array of password parameters"
The [`create_password_hash()`](https://github.com/mybb/mybb/blob/mybb_1810/inc/functions_user.php#L190) function should be changed to return an array of fields to be filled or updated.
This will allow to move the salt generation logic to password-related functions in most places and improve extensibility.

[2017-01-31 23:32] WildcardSearch commented on #268
#2622 needs testing... any takers?

[2017-01-31 23:35] WildcardSearch commented on #1774
This is a simple fix. Can anyone test #2624 ?

[2017-02-02 15:16] Olli opened #2650 "Problems with username and german umlauts"
I'd tried to merge a VBulletin. The import stops with a duplicate entry error. There wars a username "Günter" ... and "Gunter" couldn't be importet.
The username field should be set on utf8_bin ... utf8_general_ci isn't appropriate for that because of mysqls own way to see the things.

[2017-02-02 15:52] Stefan-ST commented on #2650
We do not provide support here. Please use our Community Forums instead: https://community.mybb.com/

[2017-02-02 15:52] #2650 closed

[2017-02-02 16:05] Olli commented on #2650
This wars no support but a bug report. The SQL schema must be adjusted for using utf8_bin.

[2017-02-02 16:20] Stefan-ST commented on #2650
This is not the right place to report bugs either (Please check https://github.com/mybb/mybb/blob/feature/CONTRIBUTING.md). Also this is an issue with the Merge System and not with MyBB.

[2017-02-02 16:42] Olli commented on #2650
No it's an issue with the default schema of MyBB. Thx for the hint with the bug reporting ... just another account in some forum :-(

[2017-02-02 17:11] Stefan-ST commented on #2650
We use utf8_general_ci intentionally because it's unlike utf8_bin case insensitive. It's considerably faster than using a case sensitive collation and LOWER() operations (#349). There is no issue unless you try to import data from different systems.

[2017-02-04 01:34] #1774 closed

[2017-02-04 23:01] Ben-MyBB opened #2652 "Notification email not sent after activation"
The new awaiting activation module doesn't send the notification email to the user like the old users module did.

https://community.mybb.com/thread-208037.html

Original thread: [Notification email not sent after activation](https://community.mybb.com/thread-208041.html)

[2017-02-04 23:02] Ben-MyBB commented on #2652
@MattRogowski Can you create a PR with the fix you provided?

[2017-02-05 12:20] #276 closed

[2017-02-05 12:49] #2640 closed

[2017-02-06 20:27] ONIXTurtle opened #2657 "Login isn't possible"
It always says at my site login and after i put in my information it relinks to site you will be sendet back to your last point but then it sais login or register ... my site : http://overcrew.ddns.net/forum/ thank you

[2017-02-06 20:30] Shade- commented on #2657
We do not provide support here. Please use our Community Forums instead: https://community.mybb.com/.

[2017-02-06 20:30] #2657 closed

[2017-02-07 00:00] #2619 closed

[2017-02-07 00:05] #2496 closed

[2017-02-07 00:46] #2618 closed

[2017-02-07 17:54] #2642 closed

[2017-02-08 13:40] mastum opened #2659 "Double recipients with private messages"
How to reproduce with MyBB 1.8.10 default theme and language.

Write a private message to three or more members, one member receives and read the message and do Reply All, now if the member click on "preview" recipients have doubled!

[2017-02-08 22:24] #268 closed

[2017-02-08 23:24] WildcardSearch commented on #268
Feels good to help get a two-year-old issue closed. 🎉

[2017-02-09 10:58] Shade- commented on #2616
It seems like I can't reproduce the issue on a fresh 1.8.10 copy, even with the german word for "go". Can you please specify what version of MyBB are you using and the browser you are experiencing this with? Thank you.

[2017-02-09 12:31] SvePu commented on #2616
@Shade- The theme template wasn't edited since version 120. So issue is still in 1810.

It seems to be in any browser......some examples:

Opera (42.0) - Win10
![go_button_opera](https://cloud.githubusercontent.com/assets/9826631/22783328/9a08ca36-eecb-11e6-98cc-8193a7d5750f.PNG)

Firefox (51.0.1) - Win10
![go_button_firefox](https://cloud.githubusercontent.com/assets/9826631/22783353/b46b7e5a-eec

[2017-02-09 12:56] Shade- commented on #2616
Since I cannot reproduce it on a Mac, I let someone else take care of this.

[2017-02-09 13:35] zibbizor opened #2661 "Threaded mode leads to PHP death on (very) large threads"
So I know this is a bit of an exceptional case, but I figure I should still report it.

We had issues with our forums locking up for a few minutes every once in a while for the past few months. The immediate "fix" was to raise the amount of child processes PHP-FPM would spawn and force any script to be killed after 30 seconds. Not glorious, but it works.

On my forum we have a large thread with 34

[2017-02-09 16:04] Ben-MyBB commented on #2661
Please can you report all bugs on the community forums. https://community.mybb.com/forum-157.html

[2017-02-09 16:04] #2661 closed

[2017-02-09 16:14] Cu8eeeR commented on #1843
@JN-Jones and others - can we add "Remember this PC" feature? Quite annoying to scan QR code every time on my home pc

[2017-02-10 16:31] euantorano opened #2662 "New hook in moderation.php to work with moved posts"
As described [here](https://github.com/frostschutz/MyBB-Google-SEO/issues/56#issuecomment-274126300) a new hook added to `moderation.php` would be useful.

[2017-02-12 16:09] SvePu opened #2663 "Wrong link to announcements in ModCP announcement list"
The link in mod_cp announcement list should be linked to announcement itself ... momentary it goes to edit_announcement.

![issue_modcp_announcement_links](https://cloud.githubusercontent.com/assets/9826631/22863722/e847ac86-f145-11e6-8cea-ba15d253aff7.PNG)

[2017-02-12 21:57] Shade- commented on #2663
I'm not sure if this is really an issue. I feel like it has been built like this on purpose. What do you think @mybb/developers?

[2017-02-12 22:01] Ben-MyBB commented on #2663
I agree that it is an issue and should be fixed.

[2017-02-13 16:46] 036 opened #2665 "Datacache stats doesn't update PHP 7.1.1"
After upgrading to PHP 7.1.1 from PHP 5.6 the datacache for stats no longer updates. I've not checked the rest of the datacache or whether this happens on PHP 7.1.0.

I can confirm this is related to PHP 7.1.1 as when I set nginx to load php-5-fpm adding a post updates the cache however when loading php-7-fpm the datacache does not update.

[2017-02-14 16:22] Cu8eeeR commented on #2665
@Devilshakerz

[2017-02-14 16:24] Devilshakerz commented on #2665
We weren't able to reproduce this so far.

Original report: https://community.mybb.com/thread-208293.html

[2017-02-14 20:03] 036 commented on #2665
I'll try with a clean install on the same server to see if I encounter the same issue.

[2017-02-15 18:47] euantorano opened #2666 "Missing Plugin Hooks in the ACP"
As shown at line 1230 of the users modul in ACP, (Line 1230 in Crossreference) there are some plugin hooks missing in the code.

Currently i'am developing a plugin which exactly need hooks at this place, that's the reason why I found this (like I think, cool and funny, seems to be a forgotten one) ^^.

I think it's a very useful point for feature plugin developers if we include this hooks. I alrea

[2017-02-18 13:28] euantorano opened #2668 "Invalid download link in ACP version check"
The version check in the admin control panel points to `https://mybb.com/downloads` if the version is out of date, but the valid URL is `https://mybb.com/download` (without the `s`).

This was reported here: https://community.mybb.com/thread-208393-post-1264327.html#pid1264327

[2017-02-18 13:50] Matslom commented on #2665
I can't reproduce this on php 7.0 and 7.1.2.

[2017-02-18 13:54] Cu8eeeR commented on #2666
@Broatcast - can you please push your PR with missing hooks (https://github.com/Broatcast/mybb/commit/38f063335101355d2e667a9edf56ee21adb23f0e)

Thanks!

[2017-02-18 14:28] #2628 closed

[2017-02-18 20:04] #2668 closed

[2017-02-18 21:41] andrewjs18 opened #2673 "Post preview and editor source mode"
1.8.10

If you check the box "Put the editor in source mode by default" in other options it causes a problem with Post Preview.

Option checked the preview jumps back to the editor after 1 second.

Option unchecked the preview stays where it should.

It's doing it on the MyBB community forum so it's easy to check.

Original thread: [Post preview and editor source mode](https://community.mybb.com/t

[2017-02-18 21:48] SvePu commented on #2663
@Matslom - I already added a PR with fix here #2664

[2017-02-18 21:56] Matslom commented on #2663
I don't know how I missed it...

[2017-02-19 18:58] Broatcast commented on #2666
Done #2674

[2017-02-19 21:52] Devilshakerz opened #2675 "Add Referrer-Policy header on ACP pages"
The ACP pages should include a [`Referrer-Policy`](https://www.w3.org/TR/referrer-policy/) header set to [`no-referrer`](https://www.w3.org/TR/referrer-policy/#referrer-policy-no-referrer) to prevent browsers from disclosing the URL, often including the customized directory name, to other servers in the `Referer` header.

https://github.com/mybb/mybb/blob/mybb_1810/admin/index.php#L24

https://dev

[2017-02-20 03:09] Devilshakerz opened #2676 "Update LiveLeak embed code for HTTPS"
LiveLeak.com now supports HTTPS and its embed code (`video_liveleak_embed`) should be updated accordingly in the default theme's template set.

[2017-02-20 03:16] Devilshakerz opened #2677 "Add new hook in User CP's Change Avatar section"
As https://github.com/mybb/mybb/pull/2532 has made certain avatar-related User CP variables inaccessible before the templates are rendered, a new hook should be added at https://github.com/mybb/mybb/blob/mybb_1810/usercp.php#L2192

[2017-02-20 13:57] 036 commented on #2665
I've just upgraded to PHP 7.1.2 will update whether it makes any difference.

[2017-02-20 17:23] SvePu commented on #2676
Done! ;) - #2680

[2017-02-20 17:57] #2676 closed

[2017-02-20 17:59] #2677 closed

[2017-02-20 18:01] #2675 closed

[2017-02-20 19:16] #2666 closed

[2017-02-20 19:27] #2662 closed

[2017-02-20 19:30] #2663 closed

[2017-02-20 19:33] #2635 closed

[2017-02-20 20:07] Cu8eeeR commented on #2616
I can confirm, win 10 google chrome. Button is below the input box

[2017-02-20 21:04] euantorano opened #2681 "orphaned variable"
In v1.8.10 member.php line 1099, `$emailnotifycheck = '';` is unused, and a useless variable. It can be safely removed.

Original thread: [orphaned variable](https://community.mybb.com/thread-208421.html)

[2017-02-20 21:17] SvePu commented on #2681
Done! - #2682

[2017-02-22 23:24] PaulBender opened #2683 "Issues with Admin Logging and email pruning"
- [x] The language string for User Email Log pruning is missing.
- [x] Both the User Email Log and the System Email Log will log pruning even if nothing was selected (You click the **Delete Selected** without selecting anything).
- [x] The spam log pruning language strings are missing.

[2017-02-23 06:37] Ben-MyBB commented on #2683
Has this been reported on the forums first?

On 22 February 2017 at 23:24, Paul Bender <notifications@github.com> wrote:

[2017-02-25 10:41] Cu8eeeR opened #2685 "Mod CP - missing plugin hooks"
Suggested here:
https://community.mybb.com/thread-208322.html

@Supryk

[2017-02-25 12:48] #2685 closed

[2017-02-25 13:13] #2683 closed

[2017-02-25 15:40] #2649 closed

[2017-02-25 16:41] Shade- commented on #2659
I can confirm this.

[2017-02-25 17:09] Shade- commented on #2659
Apparently, this is caused by autocomplete.js. I have debugged the incoming inputs and it seems like the library duplicates usernames sent. We can easily strip out multiple usernames on the backend side, but it would not fix the issue which should be applied to the autocomplete library instead. I have not debugged the issue inside the library though so I do not know where it duplicates them.

[2017-02-26 12:12] SvePu opened #2691 "Can create multiple usergroups with the same name"
I'd consider this a bug so I'll post it here and see if it effects anyone else. I can create many user groups with the exact same group name. There should be some sort of check.

Original thread: https://community.mybb.com/thread-207529.html

[2017-02-26 12:18] SvePu commented on #2691
Please review #2692

[2017-02-26 12:43] Shade- commented on #2691
The discussion is not over. Next time, please wait for a staff member to push the issue to GitHub once there is an agreement on how to proceed with the issue, thank you.

[2017-02-26 12:44] #2681 closed

[2017-02-26 13:34] Shade- commented on #2382
If my interpretation is correct, this is intended. There are multiple places where relative time is not used, such as [L277](https://github.com/mybb/mybb/blob/feature/warnings.php#L277), [L657](https://github.com/mybb/mybb/blob/feature/warnings.php#L657) and [L669](https://github.com/mybb/mybb/blob/feature/warnings.php#L669); adding time automatically there would mean breaking all those places whe

[2017-02-27 23:04] euantorano commented on #2665
Having debugged this through with @036 with debug, the issue is in the NewPoints plugin, which was passing the `/e` flag to `preg_replace`. This caused an error to be set on the error handler, preventing shutdown functions from running. Quite a pain to trace through and totally non-obvious.

[2017-02-27 23:04] #2665 closed

[2017-02-28 14:11] Shade- commented on #2673
This is likely caused by SCEditor focusing automatically on the source mode textarea.

[2017-03-01 19:26] Devilshakerz opened #2693 "Incorrect post-login redirect URL on private networks and localhost"
The front-end login redirect is not working properly.

The board's base path is being prepended at https://github.com/mybb/mybb/blob/mybb_1810/inc/functions.php#L971 as [`my_valid_url()`](https://github.com/mybb/mybb/blob/mybb_1810/inc/functions.php#L8483) doesn't validate private IP ranges (or `localhost`), resulting in a malformed URL.

Reported:
https://community.mybb.com/thread-207448.html
htt

[2017-03-01 20:17] Ben-MyBB commented on #2691
@mybb/developers @mybb/management @mybb/sqa @mybb/community-team What does everyone think about this? I think it's a bug IMO.

[2017-03-01 20:20] kawaii commented on #2691
Personally, I wouldn't say it crosses the threshold to be classed as a bug. It's not like usernames where there's the importance of not having a direct collision, since there's nowhere in MyBB where you actually need to type a group name to perform an action. Ultimately it's a question of standards - since I can't see this 'bug' actually breaking anything. :smile_cat:

[2017-03-01 20:22] Ben-MyBB commented on #2691
Well users could have multiple of the same groups and not realise, it's odd to allow people to have multiple groups with the same name. That's like allowing multiple users with the same username.

[2017-03-01 21:04] Broatcast commented on #2610
Fixed the problem https://github.com/mybb/mybb/pull/2694

[2017-03-02 02:30] WildcardSearch commented on #2691
This isn't a bug. The **id**entity is in tact. Creating two groups with the same name might be desired if the admin wants to create two different groups with slightly different permission, but are indistinguishable to regular users.

[2017-03-02 07:56] Cu8eeeR commented on #2691
There should be a notice that the usergroup will have same name,,, at least. I think it is a bug but many admins use this as a feature

[2017-03-02 08:40] kawaii commented on #2691
I agree with @Cu8eeeR in this case. We should simply notify the user that a group with the same name already exists and ask if they wish to continue. Perhaps @SvePu can modify his pull request to accommodate this? :)

[2017-03-02 20:50] thelovelyone commented on #2592
This seems broken to me after all.

Basically, added a new moderator for a specific forum (not global), allowing all the moderator permissions, however these options:

(un)approve threads & posts
permanent delete

are not available for that moderator.

[2017-03-02 20:52] Ben-MyBB commented on #2592
Can anyone confirm? @mybb/developers @mybb/sqa

[2017-03-03 23:00] Its-Nasyr commented on #2612
I hadn't realised this issue was even going on till I started looking online.
MyBB Blog: https://blog.mybb.com/2017/01/10/mybb-1-8-10-released-maintenance-release/

[2017-03-03 23:02] Its-Nasyr commented on #2691
I don't believe this to be a bug, I agree with Wildcard on this matter. Some communities have two variants of Administrators which leads them to creating multiple groups with slightly different names.

[2017-03-03 23:40] wagey commented on #2691
Don't see the benefit in changing this, period. You can always distinguish a set of groups that share the same name by just looking at the gid.